# DLH_utils demo

This notebook is intended to be a demo of what you *could* use DLH_utils for. 

I'm sure to many a lot of this code may look very similar! We will have taken similar approaches for the vast majority of the problems faced here. We've just wrapped these mostly standard approaches up into reusable functions, hopefully to save everyone doing linkage both some time and headaches!

In [2]:
# to start, install dlh_utils if not installed already. Notice the '-U' argument to upgrade existing installations. 
!pip3 install -U 'dlh_utils'

Looking in indexes: http://sccm_functional:****@art-p-01/artifactory/api/pypi/yr-python/simple
Collecting dlh_utils
  Downloading http://art-p-01/artifactory/api/pypi/yr-python/packages/packages/22/7e/26cf5df2df2fc1d1559fd3d64ac0aaf79fe7f72b3120b4deb2950b2cb5f3/dlh_utils-0.2.4-py3-none-any.whl (56kB)
     |████████████████████████████████| 61kB 61.2MB/s eta 0:00:01
Requirement already satisfied, skipping upgrade: jellyfish<0.10,>=0.9 in /home/cdsw/.local/lib/python3.6/site-packages (from dlh_utils) (0.9.0)
Requirement already satisfied, skipping upgrade: graphframes-wrapper<0.7,>=0.6 in /home/cdsw/.local/lib/python3.6/site-packages (from dlh_utils) (0.6.0.0)
Requirement already satisfied, skipping upgrade: pandas<0.21.0,>=0.20.1 in /usr/local/lib/python3.6/dist-packages (from dlh_utils) (0.20.1)
Requirement already satisfied, skipping upgrade: graphframes<0.7,>=0.6 in /home/cdsw/.local/lib/python3.6/site-packages (from dlh_utils) (0.6)
Collecting importlib_metadata<5.0.0,>=4.8.3 (from dlh_utils)
  Downloading http://art-p-01/artifactory/api/pypi/yr-python/packages/packages/a0/a1/b153a0a4caf7a7e3f15c2cd56c7702e2cf3d89b1b359d1f1c5e59d68f4ce/importlib_metadata-4.8.3-py3-none-any.whl
Requirement already satisfied, skipping upgrade: numpy>=1.7.0 in /usr/local/lib/python3.6/dist-packages (from pandas<0.21.0,>=0.20.1->dlh_utils) (1.13.3)
Requirement already satisfied, skipping upgrade: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas<0.21.0,>=0.20.1->dlh_utils) (2019.1)
Requirement already satisfied, skipping upgrade: python-dateutil>=2 in /usr/local/lib/python3.6/dist-packages (from pandas<0.21.0,>=0.20.1->dlh_utils) (2.8.0)
Requirement already satisfied, skipping upgrade: nose in /home/cdsw/.local/lib/python3.6/site-packages (from graphframes<0.7,>=0.6->dlh_utils) (1.3.7)
Collecting zipp>=0.5 (from importlib_metadata<5.0.0,>=4.8.3->dlh_utils)
  Downloading http://art-p-01/artifactory/api/pypi/yr-python/packages/packages/bd/df/d4a4974a3e3957fd1c1fa3082366d7fff6e428ddb55f074bf64876f8e8ad/zipp-3.6.0-py3-none-any.whl
Requirement already satisfied, skipping upgrade: typing-extensions>=3.6.4; python_version < "3.8" in /home/cdsw/.local/lib/python3.6/site-packages (from importlib_metadata<5.0.0,>=4.8.3->dlh_utils) (4.1.1)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2->pandas<0.21.0,>=0.20.1->dlh_utils) (1.12.0)
Installing collected packages: zipp, importlib-metadata, dlh-utils
  Found existing installation: dlh-utils 0.1
    Uninstalling dlh-utils-0.1:
      Successfully uninstalled dlh-utils-0.1
Successfully installed dlh-utils-0.2.4 importlib-metadata-4.8.3 zipp-3.6.0
WARNING: You are using pip version 19.1.1, however version 21.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [3]:
# import necessary libraries
import pyspark.sql.functions as F
import pandas as pd

from dlh_utils import utilities
from dlh_utils import dataframes
from dlh_utils import linkage
from dlh_utils import standardisation
from dlh_utils import sessions
from dlh_utils import profiling
from dlh_utils import flags

In [4]:
# you can use our sessions module to set up your spark session
# this will also create a Spark UI, which you can use to track your code's efficiency
spark = sessions.getOrCreateSparkSession(appName = 'dlh_utils_demo', size = 'medium')

In [6]:
# read in raw data
census = pd.read_csv("/home/cdsw/dlh_utils_demo/census_residents.csv")
ccs = pd.read_csv("/home/cdsw/dlh_utils_demo/ccs_perturbed.csv")

# note, if this was stored in Hue, the read_format() function from the utilities module would've been useful

#for demo purposes, let's convert this to a spark df using utilities
census = utilities.pandas_to_spark(census)
ccs = utilities.pandas_to_spark(ccs)

To give a quick overview of the features of our data, we can use the **descibe()** function from the profiling module:

In [10]:
descriptive_census = profiling.df_describe(census,
                                           output_mode = 'pandas',
                                           approx_distinct = False,
                                           rsd = 0.05
                                           )
descriptive_census

,variable,type,row_count,distinct,percent_distinct,null,percent_null,not_null,percent_not_null,empty,percent_empty,min,max,min_l,max_l,max_l_before_point,min_l_before_point,max_l_after_point,min_l_after_point
0,Address,string,100001,100001,100.000000,0,0.0,100001,100.0,0,0.000000,None,None,19,51,None,None,None,None
1,ENUM_FNAME,string,100001,364,0.363996,0,0.0,100001,100.0,0,0.000000,None,None,3,11,None,None,None,None
2,ENUM_SNAME,string,100001,500,0.499995,0,0.0,100001,100.0,0,0.000000,None,None,3,11,None,None,None,None
3,ID,string,100001,100001,100.000000,0,0.0,100001,100.0,0,0.000000,None,None,20,20,None,None,None,None
4,Marital_Status,string,100001,6,0.006000,0,0.0,100001,100.0,13304,13.303867,None,None,1,17,None,None,None,None
5,Postcode,string,100001,99457,99.456005,0,0.0,100001,100.0,0,0.000000,None,None,6,8,None,None,None,None
6,Sex,string,100001,10,0.010000,0,0.0,100001,100.0,5564,5.563944,None,None,1,6,None,None,None,None
7,Resident_Day_Of_Birth,bigint,100001,31,0.031000,0,0.0,100001,100.0,0,0.000000,1,31,1,2,None,None,None,None
8,Resident_Month_Of_Birth,bigint,100001,12,0.012000,0,0.0,100001,100.0,0,0.000000,1,12,1,2,None,None,None,None
9,Resident_Year_Of_Birth,bigint,100001,89,0.088999,0,0.0,100001,100.0,0,0.000000,1934,2022,4,4,None,None,None,None
10,Resident_Age,bigint,100001,89,0.088999,0,0.0,100001,100.0,0,0.000000,0,88,1,2,None,None,None,None
11,DOB,string,100001,31044,31.043690,0,0.0,100001,100.0,0,0.000000,None,None,10,10,None,None,None,None

NO NULLS BUT EMPTY VALUES - DIFFERENT DEFINITIONS FOR NULLS - WE CAN CAST THESE TO NULLS/TRUE NONES LATER

From this we can see that we have a percentage distinct in our sex variable far from 50% which we would expect. This could suggest a high level of missingness, but we can see from the rest of the output that we don't have any missing or null sex values, suggesting some have been incorrectly coded or skewed in the data.

We also don't have many distinct postcodes, and our surname variable has a lot of 'empty' values. On bigger data, these observations can give quick insights into which variables may be the most/least useful for matching. 

The **value_counts()** functions shows the top or bottom n values in our data. This can give us an overview of the different types of missingness in these variables, which will be useful when we come to standardise missingness in our data later.

In [12]:
top_5_value_counts_census = profiling.value_counts(census,
                                            limit = 5,
                                            output_mode = 'pandas'
                                            )
# the value counts function returns two dataframes; one for the top n values in each variable and one for the bottom n values. 
# we can select the top value count dataframe by subsetting the top_5_value_counts_df1 tuple:

top_5_value_counts_census[0]

,Address,Address_count,ENUM_FNAME,ENUM_FNAME_count,ENUM_SNAME,ENUM_SNAME_count,ID,ID_count,Marital_Status,Marital_Status_count,...,Resident_Day_Of_Birth,Resident_Day_Of_Birth_count,Resident_Month_Of_Birth,Resident_Month_Of_Birth_count,Resident_Year_Of_Birth,Resident_Year_Of_Birth_count,Resident_Age,Resident_Age_count,DOB,DOB_count
0,"0 Adams divide, Damienberg",1,Toby,319,Smith,2897,c1000593123146290284,1,Single,33409,...,13,3422,10,8579,1934,1217,88,1217,09/10/1990,12
1,"0 Alan drive, Katiemouth",1,Michelle,315,Jones,2367,c1001639032354420555,1,Married,13491,...,28,3358,7,8577,1948,1204,74,1204,20/09/1935,12
2,"0 Allen plains, Hughesville",1,Jessica,312,Williams,1713,c1002072654919421883,1,Divorced,13412,...,2,3339,1,8552,2007,1190,15,1190,08/04/1966,11
3,"0 Amelia mills, West Terenceshire",1,Shaun,309,Taylor,1304,c1003117462577937457,1,,13304,...,20,3331,3,8546,1990,1183,32,1183,18/09/1937,11
4,"0 Archer locks, Lake Paula",1,Glenn,308,Brown,1281,c1007430416000428392,1,Civil partnership,13290,...,9,3324,8,8495,1959,1181,63,1181,10/06/1980,11

In [13]:
top_5_value_counts_ccs = profiling.value_counts(ccs,
                                            limit = 5,
                                            output_mode = 'pandas'
                                            )
# the value counts function returns two dataframes; one for the top n values in each variable and one for the bottom n values. 
# we can select the top value count dataframe by subsetting the top_5_value_counts_df1 tuple:

top_5_value_counts_ccs[0]

,Address,Address_count,ENUM_FNAME,ENUM_FNAME_count,ENUM_SNAME,ENUM_SNAME_count,ID,ID_count,Marital_Status_CCS,Marital_Status_CCS_count,...,Sex,Sex_count,Resident_Year_Of_Birth,Resident_Year_Of_Birth_count,Resident_Age,Resident_Age_count,DOB,DOB_count,Resident_ID,Resident_ID_count
0,-9,52,-9,45,-9,55,-9,47,Single,289,...,Female,263,-9,31,-9,43,-9,46,c1289733399550728998,1
1,"Flat 15\nSteven pike, Lake Peterhaven",4,Kieran,8,Smith,33,c4872972226932063802,3,,149,...,Male,201,1938,21,2,21,23/08/1963,5,c1406628632687313907,1
2,"Studio 0\nFrancis shore, West Lukeview",4,Phillip,8,Jones,19,c3392644228012631624,3,Married,117,...,F,116,2020,21,25,20,07/02/1956,4,c1462481395779002923,1
3,"056 Josephine ville, West Lesleyberg",4,Olivia,7,Taylor,14,c2930018223824357607,3,Divorced,110,...,M,107,2005,21,11,19,02/01/1971,4,c1610482117117913758,1
4,"Studio 16y\nSimpson drive, Thorntonborough",4,Russell,7,Davies,13,c8831963511127540189,3,NAN,104,...,-9,102,1997,20,84,19,10/07/1972,4,c1631997721075661206,1

In [24]:
#STEP TO EXPLORE MINUS VALUES
'''
for count,column in enumerate(ccs.columns,1):
    if count == 1:
        if ccs.filter(F.col(column).startswith('-')).count()>1:
            df = ccs.filter(F.col(column).startswith('-')).distinct()
    else:
        df = df.union(ccs.filter(F.col(column).startswith('-')).distinct())

df.show()
 

df = [ccs.filter(F.col(column).startswith('-')) for column in ccs.columns]
df
'''
from functools import reduce

df = ccs.filter(
    reduce(
        lambda x, y: x | y,    # `|` means `or`; use `&` if you want `and`
        [(F.col(c).startswith('-')) for c in ccs.columns]
    )
)

df.show()

+--------------------+----------+----------+--------------------+------------------+---------+------+----------------------+------------+----------+--------------------+
|             Address|ENUM_FNAME|ENUM_SNAME|                  ID|Marital_Status_CCS| Postcode|   Sex|Resident_Year_Of_Birth|Resident_Age|       DOB|         Resident_ID|
+--------------------+----------+----------+--------------------+------------------+---------+------+----------------------+------------+----------+--------------------+
|                  -9|      eriC|      Bibi|c3552902187723607632|            Single| DY01 1TR|  Male|                  2016|           6|11/10/2016|c3258728696626565719|
|                  -9|     chloe|  Chandler|c2381984462771197706| Civil partnership|       -9|   NAN|                  1963|          59|28/12/1996|c7831454145019129197|
|644 Garry walk, B...|    Denise|      King|c1548782761489667658|               NAN| FY9W 4RU|    -9|                  1981|          41|28/11/1981|c6446332115853614978|
|Studio 73
Clayton...|     Hazel|    Barton|c4990006888500762770|                  | DG42 6WR|    -7|                  1947|          75|07/04/1938|c1293143515607798169|
|8 Grant spurs, So...|     kerrY|     WooQd|c2152956463386575168|                -9|  b3f 4ud|     M|                  1986|          36|04/07/1986|c3145917995920697483|
|flat 78
Jones Gle...|    Martyn|        -9|c1240508700835562208|          Divorced|  DA9 4PE|     F|                  1971|          -9|04/04/1971|c7604115266222097961|
|                  -9|      Glen|     sMith|c9188328200772085537|           Married|  TN6 6JB|    -9|                  1973|          49|08/01/2018|c7468581141273039753|
|Studio 7
Gill roa...|   Natasha|     Baker|c1259108833755889474|                  |   W2 6UT|    -7|                  2001|          21|31/08/2001|c2472597238169086909|
|575 turnbull visT...|     julie|     Evans|                  -9|            Single|   M7 2SN|     2|                  2018|           4|17/05/2018|c1942723427174387577|
|6 Ferguson greens...|     Colin|Williamson|c3034762618901859980|                  | G5J1 3EW|  Male|                  1938|          -9|20/05/1938|c4311000352010168215|
|Studio 25M
Nelson...|      Ross|     Green|c3554518859351863826|                 .|  L8T 0YY|  Male|                  1938|          -9|05/04/1938|c1400759557860619647|
|Flat 28E
Randall ...|     James| Henderson|c8451690117324055248|            Single|   N3 0FY|      |                  1936|          -9|20/06/1936|c5237446567370404816|
|818 Robinson caus...|   lindsey|   Vaughan|c1743154328900303044|          Divorced|       -9|Female|                  1990|          32|12/07/1990|c1726803524325187859|
|Flat 73
Jessica m...|        -9|      Dodd|c2124921059439407353|                  |  G99 9YE|  Male|                  1946|          76|27/12/1946|c4335494386281140929|
|Flat 92
Brown pla...|     Paula|  chadwick|c2093118125378536827|            Single| BA46 6SN|    -9|                  1966|          56|23/06/1966|c2773549186211207615|
|Flat 4
Mills cres...|    Gemma |   Murray |c3499433402584454995|           Married|ld11 7jh |    -9|                  1997|          25|18/07/1997|c8130296919575202446|
|Studio 41
Brown m...|       Ann|     Nixon|c2632617055703770694|           married|       -9|  Male|                  1994|          28|05/02/1994|c4506045623077649104|
|191 George views,...|   suzanne| Gallagher|c3126937660955674900|                  |  E6C 2JS|    -9|                  1941|          81|11/11/1968|c4276793867839745544|
|Flat 24
Parker tr...|   Patrick|    Graham|                  -9|            Single|  S21 4RH|  Male|                  1991|          31|22/11/1991|c6856640982517285491|
|29 Payne expressw...|   Barbara|      Ford|c6250325896780482596|                -9|  W44 0DJ|    -9|                  1995|          27|07/12/1995|c5926570769079582209|
+--------------------+----------+----------+--------------------+------------------+---------+------+----------------------+------------+----------+--------------------+
only showing top 20 rows

To flag out of scope values in our data, we can use the **flag()** function:

In [31]:
ccs.filter(F.to_date(ccs['DOB']).lt(F.lit('00/00/1900'))).show()
'''
out_of_scope = flags.flag(df = census,
                          ref_col = 'DOB',
                          condition = '>=',
                          condition_value = '00/00/1900',
                          condition_col = None,
                          alias = None,
                          prefix = 'FLAG',
                          fill_null = None
                         )
out_of_scope.show()
'''

TypeError: 'Column' object is not callable

We can see we have supercentenarian Ben in our data, which is probably wrong, but we've also got a few different date types that have been flagged as well. 

If you are working with larger data, the **flag_check()** and **flag_summary()** functions can produce more detailed flag metrics that will help you spot issues like this more readily. 

Let's move on to cleaning and standardising where we can start to deal with these issues.

In [33]:
census.show(truncate = False)

+-------------------------------------------+----------+----------+--------------------+-----------------+--------+------+---------------------+-----------------------+----------------------+------------+----------+
|Address                                    |ENUM_FNAME|ENUM_SNAME|ID                  |Marital_Status   |Postcode|Sex   |Resident_Day_Of_Birth|Resident_Month_Of_Birth|Resident_Year_Of_Birth|Resident_Age|DOB       |
+-------------------------------------------+----------+----------+--------------------+-----------------+--------+------+---------------------+-----------------------+----------------------+------------+----------+
|Studio 48
Cooper street, Port Fredericktown|Margaret  |Ross      |c4064232788196233825|Divorced         |CV25 4ZY|Male  |6                    |8                      |1956                  |66          |06/08/1956|
|43 Rebecca street, Harveytown              |Darren    |Baldwin   |c6330546597769552216|Single           |E2 0LP  |      |29                   |12                     |2013                  |9           |29/12/2013|
|04 Lane shores, South Danielfort           |Eric      |Bibi      |c3552902187723607632|Single           |DY01 1TR|Male  |11                   |10                     |2016                  |6           |11/10/2016|
|7 Noble valley, Lake Simonville            |Diane     |Kent      |c6316609580839768749|Divorced         |SO2P 9WS|Female|28                   |1                      |1972                  |50          |28/01/1972|
|57 Pearson corner, Joannaborough           |Grace     |Baker     |c1169098737268571195|Divorced         |EH4P 9RN|Male  |26                   |11                     |1966                  |56          |26/11/1966|
|0 Jeremy mountains, North Frank            |Chloe     |Chandler  |c2381984462771197706|Civil partnership|G7F 3RE |NAN   |3                    |3                      |1963                  |59          |03/03/1963|
|Studio 5
Fuller burgs, New Lindsey         |Katie     |Anderson  |c3375139352316607624|NAN              |G88 6DB |F     |9                    |4                      |1960                  |62          |09/04/1960|
|644 Garry walk, Blackburnville             |Denise    |King      |c1548782761489667658|NAN              |FY9W 4RU|Female|28                   |11                     |1981                  |41          |28/11/1981|
|Studio 73
Clayton mountains, Stevenbury    |Hazel     |Barton    |c4990006888500762770|                 |LN96 9XA|-7    |13                   |4                      |1947                  |75          |13/04/1947|
|Flat 92B
Ross expressway, Brayshire        |Harriet   |Chapman   |c1670700247034591701|                 |S0D 9AX |2     |8                    |11                     |2001                  |21          |08/11/2001|
|8 Grant spurs, South Philip                |Kerry     |Wood      |c2152956463386575168|Married          |B3F 4UD |M     |4                    |7                      |1986                  |36          |04/07/1986|
|414 Forster plains, Aimeemouth             |Katy      |Roberts   |c1910243320199854960|                 |IG8E 1QR|      |28                   |9                      |1993                  |29          |28/09/1993|
|21 Stephen island, Terrymouth              |Bruce     |Walsh     |c1493722777954585704|Divorced         |L0 1AF  |Male  |26                   |3                      |1996                  |26          |26/03/1996|
|Flat 78
Jones glen, Marionburgh            |Martyn    |Carey     |c1240508700835562208|Divorced         |B48 3PN |F     |4                    |4                      |1971                  |51          |04/04/1971|
|Flat 11q
Bryan wells, West Eileenbury      |Glen      |Smith     |c9188328200772085537|Married          |TN6 6JB |-9    |11                   |10                     |1973                  |49          |11/10/1973|
|Flat 2
Oliver corners, Baxterton           |Reece     |Long      |c4684301202107506270|Single           |CM6R 8DA|Female|1                    |3                      |2017                  |5           |01/03/2017|
|Studio 6
Dixon bypass, New Marian          |Nicholas  |May       |c4755675332811745149|Single           |CA8P 5UH|Female|8                    |4                      |2011                  |11          |08/04/2011|
|824 Jeffrey roads, Mathewfort              |Lauren    |Rahman    |c8927494441999701457|Single           |ST13 2AD|Male  |4                    |12                     |2013                  |9           |04/12/2013|
|Flat 22
Kennedy keys, Port Valerieland     |Nicholas  |Roberts   |c2244687393969933649|                 |E8 5FD  |Female|29                   |7                      |1970                  |52          |29/07/1970|
|2 Barlow estates, East Clarebury           |Marc      |Fleming   |c4926061084814813326|Civil partnership|L4H 4DQ |M     |24                   |8                      |1983                  |39          |24/08/1983|
+-------------------------------------------+----------+----------+--------------------+-----------------+--------+------+---------------------+-----------------------+----------------------+------------+----------+
only showing top 20 rows

In [37]:
ccs.show(truncate = False)

#looks like there is a new line character in address - this will need to be removed

+-------------------------------------------+----------+----------+---------------------+------------------+---------+------+----------------------+------------+----------+--------------------+
|Address                                    |ENUM_FNAME|ENUM_SNAME|ID                   |Marital_Status_CCS|Postcode |Sex   |Resident_Year_Of_Birth|Resident_Age|DOB       |Resident_ID         |
+-------------------------------------------+----------+----------+---------------------+------------------+---------+------+----------------------+------------+----------+--------------------+
|Studio 48
Cooper street, Port Fredericktown|MargaDret |Ro?ss     |c4064232788196233825 |Divorced          |CV25 4ZY |Male  |1956                  |66          |06/08/1956|c2026847926404610461|
|43 Rebecca street, Harveytown              |Oliver    |Baldwin   |c6330546597769552216 |Single            |e2 0lp   |      |2013                  |9           |29/12/2013|c7839596180442651345|
|-9                                         |eriC      |Bibi      |c3552902187723607632 |Single            |DY01 1TR |Male  |2016                  |6           |11/10/2016|c3258728696626565719|
| 7 Noble valley, Lake Simonville           | Diane    | Kent     |c6316609580839768749 |Divorced          | SO2P 9WS|Female|1972                  |50          |28/01/1972|c2287010195568088798|
|464 Victor mews, Janemouth                 |Grace     |  Taylor  |C1169098737268571195 |Divorced          |G51 3EW  |Male  |1966                  |56          |26/11/1966|c1945351111358374057|
|-9                                         |chloe     |Chandler  |c2381984462771197706 |Civil partnership |-9       |NAN   |1963                  |59          |28/12/1996|c7831454145019129197|
|Studio 5
Fuller burgs, New Lindsey         |Katie     |Anderson  |c3375139352316607624 |NAN               |G88 6DB  |F     |1960                  |62          |09/04/1960|c6030118478018109776|
|644 Garry walk, Blackburnville             |Denise    |King      |c1548782761489667658 |NAN               |FY9W 4RU |-9    |1981                  |41          |28/11/1981|c6446332115853614978|
|Studio 73
Clayton mountains, Stevenbury    |Hazel     |Barton    |c4990006888500762770 |                  |DG42 6WR |-7    |1947                  |75          |07/04/1938|c1293143515607798169|
|Flat 92B
Ross expressway, Brayshire        |Nicola    |Chapman   |c1670700247034591701 |                  |S0D 9AX  |2     |2001                  |21          |08/11/2001|c1864186096263678574|
|8 Grant spurs, South Philip                |kerrY     |WooQd     |c2152956463386575168 |-9                |b3f 4ud  |M     |1986                  |36          |04/07/1986|c3145917995920697483|
|414 Forster plains, Aimeemouth             |Katy      |Roberts   |c1910243320199854960 |                  |IG8E 1QR |      |1993                  |29          |20/01/2015|c6552642720119322321|
|21 Stephen island, terrymouth              |Bruce     |Walsh     |c1493722777954585704 |Divorced          |L0 1AF   |Male  |1996                  |26          |11/03/2012|c6176572018665656243|
|flat 78
Jones Glen, marIonbuRgh            |Martyn    |-9        |c1240508700835562208 |Divorced          |DA9 4PE  |F     |1971                  |-9          |04/04/1971|c7604115266222097961|
|-9                                         |Glen      |sMith     |c9188328200772085537 |Married           |TN6 6JB  |-9    |1973                  |49          |08/01/2018|c7468581141273039753|
|69 Neil hill, Turnerbury                   |Phillip   |Long      |c4684301202107506270 |Single            |CM6R 8DA |Female|2017                  |5           |01/03/2017|c4869387381345962230|
|Studio 6
Dixon bypass, New Marian          |NichoBlas |May       |c4755675332811745149 |Single            |EC56 4ZS |Female|2011                  |11          |08/04/2011|c5143222138124291040|
|Flat 00
John bridge, Ahmedport             |LNauren   |Rahman    |c8927494441999B701457|Single            |ST13 2AD |Male  |2013                  |9           |21/10/1954|c3565856380474498476|
|Flat 22
Kennedy keys, Port Valerieland     |Irene     |Roberts   |c2244687393969933649 | R                |E8 5FD   |Female|1970                  |52          |29/07/1970|c9017880294935156107|
|2 Barlow estates, East Clarebury           |Marc      |Fleming   |c4926061084814813326 |Civil partnership |L4H 4DQ  |M     |1983                  |39          |24/08/1983|c7998762617471362847|
+-------------------------------------------+----------+----------+---------------------+------------------+---------+------+----------------------+------------+----------+--------------------+
only showing top 20 rows

# Data Cleaning & Standardisation

In [38]:
# replace '\n' values with spaces:

census = standardisation.reg_replace(df = census, dic = {' ': '\n'})
ccs = standardisation.reg_replace(df = ccs, dic = {' ': '\n'})

ccs.select('Address').show(truncate = False)

+-------------------------------------------+
|Address                                    |
+-------------------------------------------+
|Studio 48 Cooper street, Port Fredericktown|
|43 Rebecca street, Harveytown              |
|-9                                         |
| 7 Noble valley, Lake Simonville           |
|464 Victor mews, Janemouth                 |
|-9                                         |
|Studio 5 Fuller burgs, New Lindsey         |
|644 Garry walk, Blackburnville             |
|Studio 73 Clayton mountains, Stevenbury    |
|Flat 92B Ross expressway, Brayshire        |
|8 Grant spurs, South Philip                |
|414 Forster plains, Aimeemouth             |
|21 Stephen island, terrymouth              |
|flat 78 Jones Glen, marIonbuRgh            |
|-9                                         |
|69 Neil hill, Turnerbury                   |
|Studio 6 Dixon bypass, New Marian          |
|Flat 00 John bridge, Ahmedport             |
|Flat 22 Kennedy keys, Port Valerieland     |
|2 Barlow estates, East Clarebury           |
+-------------------------------------------+
only showing top 20 rows

Let's standardise the date format to be consistent across our data in a **ddMMyyyy** format:
NEED TO CHANGE JUST CCS ONCE DATA CHANGED

In [41]:
ccs = standardisation.standardise_date(ccs, col_name = "DOB", in_date_format = "yyyy-MM-dd", out_date_format = "dd/MM/yyyy")

census.show()

+--------------------+----------+----------+--------------------+-----------------+--------+------+---------------------+-----------------------+----------------------+------------+----+
|             Address|ENUM_FNAME|ENUM_SNAME|                  ID|   Marital_Status|Postcode|   Sex|Resident_Day_Of_Birth|Resident_Month_Of_Birth|Resident_Year_Of_Birth|Resident_Age| DOB|
+--------------------+----------+----------+--------------------+-----------------+--------+------+---------------------+-----------------------+----------------------+------------+----+
|Studio 48 Cooper ...|  Margaret|      Ross|c4064232788196233825|         Divorced|CV25 4ZY|  Male|                    6|                      8|                  1956|          66|null|
|43 Rebecca street...|    Darren|   Baldwin|c6330546597769552216|           Single|  E2 0LP|      |                   29|                     12|                  2013|           9|null|
|04 Lane shores, S...|      Eric|      Bibi|c3552902187723607632|           Single|DY01 1TR|  Male|                   11|                     10|                  2016|           6|null|
|7 Noble valley, L...|     Diane|      Kent|c6316609580839768749|         Divorced|SO2P 9WS|Female|                   28|                      1|                  1972|          50|null|
|57 Pearson corner...|     Grace|     Baker|c1169098737268571195|         Divorced|EH4P 9RN|  Male|                   26|                     11|                  1966|          56|null|
|0 Jeremy mountain...|     Chloe|  Chandler|c2381984462771197706|Civil partnership| G7F 3RE|   NAN|                    3|                      3|                  1963|          59|null|
|Studio 5 Fuller b...|     Katie|  Anderson|c3375139352316607624|              NAN| G88 6DB|     F|                    9|                      4|                  1960|          62|null|
|644 Garry walk, B...|    Denise|      King|c1548782761489667658|              NAN|FY9W 4RU|Female|                   28|                     11|                  1981|          41|null|
|Studio 73 Clayton...|     Hazel|    Barton|c4990006888500762770|                 |LN96 9XA|    -7|                   13|                      4|                  1947|          75|null|
|Flat 92B Ross exp...|   Harriet|   Chapman|c1670700247034591701|                 | S0D 9AX|     2|                    8|                     11|                  2001|          21|null|
|8 Grant spurs, So...|     Kerry|      Wood|c2152956463386575168|          Married| B3F 4UD|     M|                    4|                      7|                  1986|          36|null|
|414 Forster plain...|      Katy|   Roberts|c1910243320199854960|                 |IG8E 1QR|      |                   28|                      9|                  1993|          29|null|
|21 Stephen island...|     Bruce|     Walsh|c1493722777954585704|         Divorced|  L0 1AF|  Male|                   26|                      3|                  1996|          26|null|
|Flat 78 Jones gle...|    Martyn|     Carey|c1240508700835562208|         Divorced| B48 3PN|     F|                    4|                      4|                  1971|          51|null|
|Flat 11q Bryan we...|      Glen|     Smith|c9188328200772085537|          Married| TN6 6JB|    -9|                   11|                     10|                  1973|          49|null|
|Flat 2 Oliver cor...|     Reece|      Long|c4684301202107506270|           Single|CM6R 8DA|Female|                    1|                      3|                  2017|           5|null|
|Studio 6 Dixon by...|  Nicholas|       May|c4755675332811745149|           Single|CA8P 5UH|Female|                    8|                      4|                  2011|          11|null|
|824 Jeffrey roads...|    Lauren|    Rahman|c8927494441999701457|           Single|ST13 2AD|  Male|                    4|                     12|                  2013|           9|null|
|Flat 22 Kennedy k...|  Nicholas|   Roberts|c2244687393969933649|                 |  E8 5FD|Female|                   29|                      7|                  1970|          52|null|
|2 Barlow estates,...|      Marc|   Fleming|c4926061084814813326|Civil partnership| L4H 4DQ|     M|                   24|                      8|                  1983|          39|null|
+--------------------+----------+----------+--------------------+-----------------+--------+------+---------------------+-----------------------+----------------------+------------+----+
only showing top 20 rows

Next, we have generic 'ID' columns in each dataset. We also have address and name variables named differently in each dataset. 

We can use **rename_columns()** from the dataframes module to rename all of these at once.

In [42]:
census = dataframes.rename_columns(census, rename_dict = {"ID":"ID_Census","ENUM_FNAME":"FORENAME","ENUM_SNAME":"SURNAME"})
ccs = dataframes.rename_columns(ccs, rename_dict = {"ID":"ID_CCS","ENUM_FNAME":"FORENAME","ENUM_SNAME":"SURNAME"})

census.columns

['Address',
 'FORENAME',
 'SURNAME',
 'ID_Census',
 'Marital_Status',
 'Postcode',
 'Sex',
 'Resident_Day_Of_Birth',
 'Resident_Month_Of_Birth',
 'Resident_Year_Of_Birth',
 'Resident_Age',
 'DOB']

Now let's set all of variables to upper case for consistency, using **standardise_case()**:

In [43]:
census = standardisation.standardise_case(census)
ccs = standardisation.standardise_case(ccs)

census.show()

+--------------------+--------+--------+--------------------+-----------------+--------+------+---------------------+-----------------------+----------------------+------------+----+
|             Address|FORENAME| SURNAME|           ID_Census|   Marital_Status|Postcode|   Sex|Resident_Day_Of_Birth|Resident_Month_Of_Birth|Resident_Year_Of_Birth|Resident_Age| DOB|
+--------------------+--------+--------+--------------------+-----------------+--------+------+---------------------+-----------------------+----------------------+------------+----+
|STUDIO 48 COOPER ...|MARGARET|    ROSS|C4064232788196233825|         DIVORCED|CV25 4ZY|  MALE|                    6|                      8|                  1956|          66|null|
|43 REBECCA STREET...|  DARREN| BALDWIN|C6330546597769552216|           SINGLE|  E2 0LP|      |                   29|                     12|                  2013|           9|null|
|04 LANE SHORES, S...|    ERIC|    BIBI|C3552902187723607632|           SINGLE|DY01 1TR|  MALE|                   11|                     10|                  2016|           6|null|
|7 NOBLE VALLEY, L...|   DIANE|    KENT|C6316609580839768749|         DIVORCED|SO2P 9WS|FEMALE|                   28|                      1|                  1972|          50|null|
|57 PEARSON CORNER...|   GRACE|   BAKER|C1169098737268571195|         DIVORCED|EH4P 9RN|  MALE|                   26|                     11|                  1966|          56|null|
|0 JEREMY MOUNTAIN...|   CHLOE|CHANDLER|C2381984462771197706|CIVIL PARTNERSHIP| G7F 3RE|   NAN|                    3|                      3|                  1963|          59|null|
|STUDIO 5 FULLER B...|   KATIE|ANDERSON|C3375139352316607624|              NAN| G88 6DB|     F|                    9|                      4|                  1960|          62|null|
|644 GARRY WALK, B...|  DENISE|    KING|C1548782761489667658|              NAN|FY9W 4RU|FEMALE|                   28|                     11|                  1981|          41|null|
|STUDIO 73 CLAYTON...|   HAZEL|  BARTON|C4990006888500762770|                 |LN96 9XA|    -7|                   13|                      4|                  1947|          75|null|
|FLAT 92B ROSS EXP...| HARRIET| CHAPMAN|C1670700247034591701|                 | S0D 9AX|     2|                    8|                     11|                  2001|          21|null|
|8 GRANT SPURS, SO...|   KERRY|    WOOD|C2152956463386575168|          MARRIED| B3F 4UD|     M|                    4|                      7|                  1986|          36|null|
|414 FORSTER PLAIN...|    KATY| ROBERTS|C1910243320199854960|                 |IG8E 1QR|      |                   28|                      9|                  1993|          29|null|
|21 STEPHEN ISLAND...|   BRUCE|   WALSH|C1493722777954585704|         DIVORCED|  L0 1AF|  MALE|                   26|                      3|                  1996|          26|null|
|FLAT 78 JONES GLE...|  MARTYN|   CAREY|C1240508700835562208|         DIVORCED| B48 3PN|     F|                    4|                      4|                  1971|          51|null|
|FLAT 11Q BRYAN WE...|    GLEN|   SMITH|C9188328200772085537|          MARRIED| TN6 6JB|    -9|                   11|                     10|                  1973|          49|null|
|FLAT 2 OLIVER COR...|   REECE|    LONG|C4684301202107506270|           SINGLE|CM6R 8DA|FEMALE|                    1|                      3|                  2017|           5|null|
|STUDIO 6 DIXON BY...|NICHOLAS|     MAY|C4755675332811745149|           SINGLE|CA8P 5UH|FEMALE|                    8|                      4|                  2011|          11|null|
|824 JEFFREY ROADS...|  LAUREN|  RAHMAN|C8927494441999701457|           SINGLE|ST13 2AD|  MALE|                    4|                     12|                  2013|           9|null|
|FLAT 22 KENNEDY K...|NICHOLAS| ROBERTS|C2244687393969933649|                 |  E8 5FD|FEMALE|                   29|                      7|                  1970|          52|null|
|2 BARLOW ESTATES,...|    MARC| FLEMING|C4926061084814813326|CIVIL PARTNERSHIP| L4H 4DQ|     M|                   24|                      8|                  1983|          39|null|
+--------------------+--------+--------+--------------------+-----------------+--------+------+---------------------+-----------------------+----------------------+------------+----+
only showing top 20 rows

Next, the values for missingness are all over the place. I can spot a few NaNs, nulls, and whitespaces. Let's standardise missingness with the **standardise_null()** function. We can retrieve these null values from the previous **value_counts()** outputs:

In [45]:
# we can use the standardise_null function to replace these with true None values:
# we use regex to do this: https://regex101.com/ 
census = standardisation.standardise_null(census, replace = "^NAN$|^NULL$|^\s*$|^-7$|^-9$")
ccs = standardisation.standardise_null(ccs, replace = "^NAN$|^NULL$|^\s*$|^-7$|^-9$")

census.show()

+--------------------+--------+--------+--------------------+-----------------+--------+------+---------------------+-----------------------+----------------------+------------+----+
|             Address|FORENAME| SURNAME|           ID_Census|   Marital_Status|Postcode|   Sex|Resident_Day_Of_Birth|Resident_Month_Of_Birth|Resident_Year_Of_Birth|Resident_Age| DOB|
+--------------------+--------+--------+--------------------+-----------------+--------+------+---------------------+-----------------------+----------------------+------------+----+
|STUDIO 48 COOPER ...|MARGARET|    ROSS|C4064232788196233825|         DIVORCED|CV25 4ZY|  MALE|                    6|                      8|                  1956|          66|null|
|43 REBECCA STREET...|  DARREN| BALDWIN|C6330546597769552216|           SINGLE|  E2 0LP|  null|                   29|                     12|                  2013|           9|null|
|04 LANE SHORES, S...|    ERIC|    BIBI|C3552902187723607632|           SINGLE|DY01 1TR|  MALE|                   11|                     10|                  2016|           6|null|
|7 NOBLE VALLEY, L...|   DIANE|    KENT|C6316609580839768749|         DIVORCED|SO2P 9WS|FEMALE|                   28|                      1|                  1972|          50|null|
|57 PEARSON CORNER...|   GRACE|   BAKER|C1169098737268571195|         DIVORCED|EH4P 9RN|  MALE|                   26|                     11|                  1966|          56|null|
|0 JEREMY MOUNTAIN...|   CHLOE|CHANDLER|C2381984462771197706|CIVIL PARTNERSHIP| G7F 3RE|  null|                    3|                      3|                  1963|          59|null|
|STUDIO 5 FULLER B...|   KATIE|ANDERSON|C3375139352316607624|             null| G88 6DB|     F|                    9|                      4|                  1960|          62|null|
|644 GARRY WALK, B...|  DENISE|    KING|C1548782761489667658|             null|FY9W 4RU|FEMALE|                   28|                     11|                  1981|          41|null|
|STUDIO 73 CLAYTON...|   HAZEL|  BARTON|C4990006888500762770|             null|LN96 9XA|  null|                   13|                      4|                  1947|          75|null|
|FLAT 92B ROSS EXP...| HARRIET| CHAPMAN|C1670700247034591701|             null| S0D 9AX|     2|                    8|                     11|                  2001|          21|null|
|8 GRANT SPURS, SO...|   KERRY|    WOOD|C2152956463386575168|          MARRIED| B3F 4UD|     M|                    4|                      7|                  1986|          36|null|
|414 FORSTER PLAIN...|    KATY| ROBERTS|C1910243320199854960|             null|IG8E 1QR|  null|                   28|                      9|                  1993|          29|null|
|21 STEPHEN ISLAND...|   BRUCE|   WALSH|C1493722777954585704|         DIVORCED|  L0 1AF|  MALE|                   26|                      3|                  1996|          26|null|
|FLAT 78 JONES GLE...|  MARTYN|   CAREY|C1240508700835562208|         DIVORCED| B48 3PN|     F|                    4|                      4|                  1971|          51|null|
|FLAT 11Q BRYAN WE...|    GLEN|   SMITH|C9188328200772085537|          MARRIED| TN6 6JB|  null|                   11|                     10|                  1973|          49|null|
|FLAT 2 OLIVER COR...|   REECE|    LONG|C4684301202107506270|           SINGLE|CM6R 8DA|FEMALE|                    1|                      3|                  2017|           5|null|
|STUDIO 6 DIXON BY...|NICHOLAS|     MAY|C4755675332811745149|           SINGLE|CA8P 5UH|FEMALE|                    8|                      4|                  2011|          11|null|
|824 JEFFREY ROADS...|  LAUREN|  RAHMAN|C8927494441999701457|           SINGLE|ST13 2AD|  MALE|                    4|                     12|                  2013|           9|null|
|FLAT 22 KENNEDY K...|NICHOLAS| ROBERTS|C2244687393969933649|             null|  E8 5FD|FEMALE|                   29|                      7|                  1970|          52|null|
|2 BARLOW ESTATES,...|    MARC| FLEMING|C4926061084814813326|CIVIL PARTNERSHIP| L4H 4DQ|     M|                   24|                      8|                  1983|          39|null|
+--------------------+--------+--------+--------------------+-----------------+--------+------+---------------------+-----------------------+----------------------+------------+----+
only showing top 20 rows

Great, these now all show up as true nulls. 

Next, we have a mix of 1s, 2s, Ms, and Fs in our sex column. Let's standardise this to be either 1s or 2s. For this we can use **reg_replace()**:

In [47]:
# reg_replace() takes a dictionary, where the value is the regex to replace, and the key is what this will be replaced with
# so we're replacing 'M' with '1', and 'F' with '2':
census = standardisation.reg_replace(census, subset = "SEX", dic = {"1":"^M$|^MALE$","2":"^F$|^FEMALE$"})
ccs = standardisation.reg_replace(ccs, subset = "SEX", dic = {"1":"^M$|^MALE$","2":"^F$|^FEMALE$"})

census.show()

+--------------------+--------+--------+--------------------+-----------------+--------+----+---------------------+-----------------------+----------------------+------------+----+
|             Address|FORENAME| SURNAME|           ID_Census|   Marital_Status|Postcode| SEX|Resident_Day_Of_Birth|Resident_Month_Of_Birth|Resident_Year_Of_Birth|Resident_Age| DOB|
+--------------------+--------+--------+--------------------+-----------------+--------+----+---------------------+-----------------------+----------------------+------------+----+
|STUDIO 48 COOPER ...|MARGARET|    ROSS|C4064232788196233825|         DIVORCED|CV25 4ZY|   1|                    6|                      8|                  1956|          66|null|
|43 REBECCA STREET...|  DARREN| BALDWIN|C6330546597769552216|           SINGLE|  E2 0LP|null|                   29|                     12|                  2013|           9|null|
|04 LANE SHORES, S...|    ERIC|    BIBI|C3552902187723607632|           SINGLE|DY01 1TR|   1|                   11|                     10|                  2016|           6|null|
|7 NOBLE VALLEY, L...|   DIANE|    KENT|C6316609580839768749|         DIVORCED|SO2P 9WS|   2|                   28|                      1|                  1972|          50|null|
|57 PEARSON CORNER...|   GRACE|   BAKER|C1169098737268571195|         DIVORCED|EH4P 9RN|   1|                   26|                     11|                  1966|          56|null|
|0 JEREMY MOUNTAIN...|   CHLOE|CHANDLER|C2381984462771197706|CIVIL PARTNERSHIP| G7F 3RE|null|                    3|                      3|                  1963|          59|null|
|STUDIO 5 FULLER B...|   KATIE|ANDERSON|C3375139352316607624|             null| G88 6DB|   2|                    9|                      4|                  1960|          62|null|
|644 GARRY WALK, B...|  DENISE|    KING|C1548782761489667658|             null|FY9W 4RU|   2|                   28|                     11|                  1981|          41|null|
|STUDIO 73 CLAYTON...|   HAZEL|  BARTON|C4990006888500762770|             null|LN96 9XA|null|                   13|                      4|                  1947|          75|null|
|FLAT 92B ROSS EXP...| HARRIET| CHAPMAN|C1670700247034591701|             null| S0D 9AX|   2|                    8|                     11|                  2001|          21|null|
|8 GRANT SPURS, SO...|   KERRY|    WOOD|C2152956463386575168|          MARRIED| B3F 4UD|   1|                    4|                      7|                  1986|          36|null|
|414 FORSTER PLAIN...|    KATY| ROBERTS|C1910243320199854960|             null|IG8E 1QR|null|                   28|                      9|                  1993|          29|null|
|21 STEPHEN ISLAND...|   BRUCE|   WALSH|C1493722777954585704|         DIVORCED|  L0 1AF|   1|                   26|                      3|                  1996|          26|null|
|FLAT 78 JONES GLE...|  MARTYN|   CAREY|C1240508700835562208|         DIVORCED| B48 3PN|   2|                    4|                      4|                  1971|          51|null|
|FLAT 11Q BRYAN WE...|    GLEN|   SMITH|C9188328200772085537|          MARRIED| TN6 6JB|null|                   11|                     10|                  1973|          49|null|
|FLAT 2 OLIVER COR...|   REECE|    LONG|C4684301202107506270|           SINGLE|CM6R 8DA|   2|                    1|                      3|                  2017|           5|null|
|STUDIO 6 DIXON BY...|NICHOLAS|     MAY|C4755675332811745149|           SINGLE|CA8P 5UH|   2|                    8|                      4|                  2011|          11|null|
|824 JEFFREY ROADS...|  LAUREN|  RAHMAN|C8927494441999701457|           SINGLE|ST13 2AD|   1|                    4|                     12|                  2013|           9|null|
|FLAT 22 KENNEDY K...|NICHOLAS| ROBERTS|C2244687393969933649|             null|  E8 5FD|   2|                   29|                      7|                  1970|          52|null|
|2 BARLOW ESTATES,...|    MARC| FLEMING|C4926061084814813326|CIVIL PARTNERSHIP| L4H 4DQ|   1|                   24|                      8|                  1983|          39|null|
+--------------------+--------+--------+--------------------+-----------------+--------+----+---------------------+-----------------------+----------------------+------------+----+
only showing top 20 rows

Now that our sex column is populated with just 1s and 2s, we might want to change the type from string to integer. This can be done using the **cast_type()** function in the standardisation module:

In [48]:
census = standardisation.cast_type(census, subset = ['SEX'], types = "integer")
ccs = standardisation.cast_type(ccs, subset = ['SEX'], types = "integer")

census.select('SEX').dtypes

[('SEX', 'int')]

Let's begin to have a look at our postcode, address, and name variables now. It looks like we sometimes have whitespace in the postcode column, and sometimes have multiple consecutive whitespaces in our name/address columns. 

We can use the **standardise_white_space()** function to limit whitespace in all columns to one, then use it again on just the postcode column, by specifying the subset argument and limiting it to only the postcode column.

In [50]:
census = standardisation.standardise_white_space(census, subset = 'Address', wsl = "one")
ccs = standardisation.standardise_white_space(ccs, subset = 'Address', wsl = "one")

census = standardisation.standardise_white_space(census, 
                                                 subset = [column for column in census.columns if column != 'Address'], 
                                                 wsl = "none")
ccs = standardisation.standardise_white_space(ccs, 
                                              subset = [column for column in ccs.columns if column != 'Address'], 
                                              wsl = "none")

census.show()

+--------------------+--------+--------+--------------------+----------------+--------+----+---------------------+-----------------------+----------------------+------------+----+
|             Address|FORENAME| SURNAME|           ID_Census|  Marital_Status|POSTCODE| SEX|Resident_Day_Of_Birth|Resident_Month_Of_Birth|Resident_Year_Of_Birth|Resident_Age| DOB|
+--------------------+--------+--------+--------------------+----------------+--------+----+---------------------+-----------------------+----------------------+------------+----+
|STUDIO 48 COOPER ...|MARGARET|    ROSS|C4064232788196233825|        DIVORCED| CV254ZY|   1|                    6|                      8|                  1956|          66|null|
|43 REBECCA STREET...|  DARREN| BALDWIN|C6330546597769552216|          SINGLE|   E20LP|null|                   29|                     12|                  2013|           9|null|
|04 LANE SHORES, S...|    ERIC|    BIBI|C3552902187723607632|          SINGLE| DY011TR|   1|                   11|                     10|                  2016|           6|null|
|7 NOBLE VALLEY, L...|   DIANE|    KENT|C6316609580839768749|        DIVORCED| SO2P9WS|   2|                   28|                      1|                  1972|          50|null|
|57 PEARSON CORNER...|   GRACE|   BAKER|C1169098737268571195|        DIVORCED| EH4P9RN|   1|                   26|                     11|                  1966|          56|null|
|0 JEREMY MOUNTAIN...|   CHLOE|CHANDLER|C2381984462771197706|CIVILPARTNERSHIP|  G7F3RE|null|                    3|                      3|                  1963|          59|null|
|STUDIO 5 FULLER B...|   KATIE|ANDERSON|C3375139352316607624|            null|  G886DB|   2|                    9|                      4|                  1960|          62|null|
|644 GARRY WALK, B...|  DENISE|    KING|C1548782761489667658|            null| FY9W4RU|   2|                   28|                     11|                  1981|          41|null|
|STUDIO 73 CLAYTON...|   HAZEL|  BARTON|C4990006888500762770|            null| LN969XA|null|                   13|                      4|                  1947|          75|null|
|FLAT 92B ROSS EXP...| HARRIET| CHAPMAN|C1670700247034591701|            null|  S0D9AX|   2|                    8|                     11|                  2001|          21|null|
|8 GRANT SPURS, SO...|   KERRY|    WOOD|C2152956463386575168|         MARRIED|  B3F4UD|   1|                    4|                      7|                  1986|          36|null|
|414 FORSTER PLAIN...|    KATY| ROBERTS|C1910243320199854960|            null| IG8E1QR|null|                   28|                      9|                  1993|          29|null|
|21 STEPHEN ISLAND...|   BRUCE|   WALSH|C1493722777954585704|        DIVORCED|   L01AF|   1|                   26|                      3|                  1996|          26|null|
|FLAT 78 JONES GLE...|  MARTYN|   CAREY|C1240508700835562208|        DIVORCED|  B483PN|   2|                    4|                      4|                  1971|          51|null|
|FLAT 11Q BRYAN WE...|    GLEN|   SMITH|C9188328200772085537|         MARRIED|  TN66JB|null|                   11|                     10|                  1973|          49|null|
|FLAT 2 OLIVER COR...|   REECE|    LONG|C4684301202107506270|          SINGLE| CM6R8DA|   2|                    1|                      3|                  2017|           5|null|
|STUDIO 6 DIXON BY...|NICHOLAS|     MAY|C4755675332811745149|          SINGLE| CA8P5UH|   2|                    8|                      4|                  2011|          11|null|
|824 JEFFREY ROADS...|  LAUREN|  RAHMAN|C8927494441999701457|          SINGLE| ST132AD|   1|                    4|                     12|                  2013|           9|null|
|FLAT 22 KENNEDY K...|NICHOLAS| ROBERTS|C2244687393969933649|            null|   E85FD|   2|                   29|                      7|                  1970|          52|null|
|2 BARLOW ESTATES,...|    MARC| FLEMING|C4926061084814813326|CIVILPARTNERSHIP|  L4H4DQ|   1|                   24|                      8|                  1983|          39|null|
+--------------------+--------+--------+--------------------+----------------+--------+----+---------------------+-----------------------+----------------------+------------+----+
only showing top 20 rows

We still have some leading/trailing whitespace in some of our variables, let's **trim** these:

In [51]:
census = standardisation.trim(census)
ccs = standardisation.trim(ccs)

census.show()

+--------------------+--------+--------+--------------------+----------------+--------+----+---------------------+-----------------------+----------------------+------------+----+
|             Address|FORENAME| SURNAME|           ID_Census|  Marital_Status|POSTCODE| SEX|Resident_Day_Of_Birth|Resident_Month_Of_Birth|Resident_Year_Of_Birth|Resident_Age| DOB|
+--------------------+--------+--------+--------------------+----------------+--------+----+---------------------+-----------------------+----------------------+------------+----+
|STUDIO 48 COOPER ...|MARGARET|    ROSS|C4064232788196233825|        DIVORCED| CV254ZY|   1|                    6|                      8|                  1956|          66|null|
|43 REBECCA STREET...|  DARREN| BALDWIN|C6330546597769552216|          SINGLE|   E20LP|null|                   29|                     12|                  2013|           9|null|
|04 LANE SHORES, S...|    ERIC|    BIBI|C3552902187723607632|          SINGLE| DY011TR|   1|                   11|                     10|                  2016|           6|null|
|7 NOBLE VALLEY, L...|   DIANE|    KENT|C6316609580839768749|        DIVORCED| SO2P9WS|   2|                   28|                      1|                  1972|          50|null|
|57 PEARSON CORNER...|   GRACE|   BAKER|C1169098737268571195|        DIVORCED| EH4P9RN|   1|                   26|                     11|                  1966|          56|null|
|0 JEREMY MOUNTAIN...|   CHLOE|CHANDLER|C2381984462771197706|CIVILPARTNERSHIP|  G7F3RE|null|                    3|                      3|                  1963|          59|null|
|STUDIO 5 FULLER B...|   KATIE|ANDERSON|C3375139352316607624|            null|  G886DB|   2|                    9|                      4|                  1960|          62|null|
|644 GARRY WALK, B...|  DENISE|    KING|C1548782761489667658|            null| FY9W4RU|   2|                   28|                     11|                  1981|          41|null|
|STUDIO 73 CLAYTON...|   HAZEL|  BARTON|C4990006888500762770|            null| LN969XA|null|                   13|                      4|                  1947|          75|null|
|FLAT 92B ROSS EXP...| HARRIET| CHAPMAN|C1670700247034591701|            null|  S0D9AX|   2|                    8|                     11|                  2001|          21|null|
|8 GRANT SPURS, SO...|   KERRY|    WOOD|C2152956463386575168|         MARRIED|  B3F4UD|   1|                    4|                      7|                  1986|          36|null|
|414 FORSTER PLAIN...|    KATY| ROBERTS|C1910243320199854960|            null| IG8E1QR|null|                   28|                      9|                  1993|          29|null|
|21 STEPHEN ISLAND...|   BRUCE|   WALSH|C1493722777954585704|        DIVORCED|   L01AF|   1|                   26|                      3|                  1996|          26|null|
|FLAT 78 JONES GLE...|  MARTYN|   CAREY|C1240508700835562208|        DIVORCED|  B483PN|   2|                    4|                      4|                  1971|          51|null|
|FLAT 11Q BRYAN WE...|    GLEN|   SMITH|C9188328200772085537|         MARRIED|  TN66JB|null|                   11|                     10|                  1973|          49|null|
|FLAT 2 OLIVER COR...|   REECE|    LONG|C4684301202107506270|          SINGLE| CM6R8DA|   2|                    1|                      3|                  2017|           5|null|
|STUDIO 6 DIXON BY...|NICHOLAS|     MAY|C4755675332811745149|          SINGLE| CA8P5UH|   2|                    8|                      4|                  2011|          11|null|
|824 JEFFREY ROADS...|  LAUREN|  RAHMAN|C8927494441999701457|          SINGLE| ST132AD|   1|                    4|                     12|                  2013|           9|null|
|FLAT 22 KENNEDY K...|NICHOLAS| ROBERTS|C2244687393969933649|            null|   E85FD|   2|                   29|                      7|                  1970|          52|null|
|2 BARLOW ESTATES,...|    MARC| FLEMING|C4926061084814813326|CIVILPARTNERSHIP|  L4H4DQ|   1|                   24|                      8|                  1983|          39|null|
+--------------------+--------+--------+--------------------+----------------+--------+----+---------------------+-----------------------+----------------------+------------+----+
only showing top 20 rows

Next, let's focus on our name variables. Forenames still contain titles and some surnames have common prefixes like 'Van' or 'Der'. We can strip out titles and concatenate surname prefixes with our **clean_forename()** and **clean_surname()** functions.

In [53]:
census = standardisation.clean_forename(census, subset = 'FORENAME')
ccs = standardisation.clean_forename(ccs, subset = 'FORENAME')

census = standardisation.clean_surname(census, subset = 'SURNAME')
ccs = standardisation.clean_surname(ccs, subset = 'SURNAME')

census.show()

+--------------------+--------+--------+--------------------+----------------+--------+----+---------------------+-----------------------+----------------------+------------+----+
|             Address|FORENAME| SURNAME|           ID_Census|  Marital_Status|POSTCODE| SEX|Resident_Day_Of_Birth|Resident_Month_Of_Birth|Resident_Year_Of_Birth|Resident_Age| DOB|
+--------------------+--------+--------+--------------------+----------------+--------+----+---------------------+-----------------------+----------------------+------------+----+
|STUDIO 48 COOPER ...|MARGARET|    ROSS|C4064232788196233825|        DIVORCED| CV254ZY|   1|                    6|                      8|                  1956|          66|null|
|43 REBECCA STREET...|  DARREN| BALDWIN|C6330546597769552216|          SINGLE|   E20LP|null|                   29|                     12|                  2013|           9|null|
|04 LANE SHORES, S...|    ERIC|    BIBI|C3552902187723607632|          SINGLE| DY011TR|   1|                   11|                     10|                  2016|           6|null|
|7 NOBLE VALLEY, L...|   DIANE|    KENT|C6316609580839768749|        DIVORCED| SO2P9WS|   2|                   28|                      1|                  1972|          50|null|
|57 PEARSON CORNER...|   GRACE|   BAKER|C1169098737268571195|        DIVORCED| EH4P9RN|   1|                   26|                     11|                  1966|          56|null|
|0 JEREMY MOUNTAIN...|   CHLOE|CHANDLER|C2381984462771197706|CIVILPARTNERSHIP|  G7F3RE|null|                    3|                      3|                  1963|          59|null|
|STUDIO 5 FULLER B...|   KATIE|ANDERSON|C3375139352316607624|            null|  G886DB|   2|                    9|                      4|                  1960|          62|null|
|644 GARRY WALK, B...|  DENISE|    KING|C1548782761489667658|            null| FY9W4RU|   2|                   28|                     11|                  1981|          41|null|
|STUDIO 73 CLAYTON...|   HAZEL|  BARTON|C4990006888500762770|            null| LN969XA|null|                   13|                      4|                  1947|          75|null|
|FLAT 92B ROSS EXP...| HARRIET| CHAPMAN|C1670700247034591701|            null|  S0D9AX|   2|                    8|                     11|                  2001|          21|null|
|8 GRANT SPURS, SO...|   KERRY|    WOOD|C2152956463386575168|         MARRIED|  B3F4UD|   1|                    4|                      7|                  1986|          36|null|
|414 FORSTER PLAIN...|    KATY| ROBERTS|C1910243320199854960|            null| IG8E1QR|null|                   28|                      9|                  1993|          29|null|
|21 STEPHEN ISLAND...|   BRUCE|   WALSH|C1493722777954585704|        DIVORCED|   L01AF|   1|                   26|                      3|                  1996|          26|null|
|FLAT 78 JONES GLE...|  MARTYN|   CAREY|C1240508700835562208|        DIVORCED|  B483PN|   2|                    4|                      4|                  1971|          51|null|
|FLAT 11Q BRYAN WE...|    GLEN|   SMITH|C9188328200772085537|         MARRIED|  TN66JB|null|                   11|                     10|                  1973|          49|null|
|FLAT 2 OLIVER COR...|   REECE|    LONG|C4684301202107506270|          SINGLE| CM6R8DA|   2|                    1|                      3|                  2017|           5|null|
|STUDIO 6 DIXON BY...|NICHOLAS|     MAY|C4755675332811745149|          SINGLE| CA8P5UH|   2|                    8|                      4|                  2011|          11|null|
|824 JEFFREY ROADS...|  LAUREN|  RAHMAN|C8927494441999701457|          SINGLE| ST132AD|   1|                    4|                     12|                  2013|           9|null|
|FLAT 22 KENNEDY K...|NICHOLAS| ROBERTS|C2244687393969933649|            null|   E85FD|   2|                   29|                      7|                  1970|          52|null|
|2 BARLOW ESTATES,...|    MARC| FLEMING|C4926061084814813326|CIVILPARTNERSHIP|  L4H4DQ|   1|                   24|                      8|                  1983|          39|null|
+--------------------+--------+--------+--------------------+----------------+--------+----+---------------------+-----------------------+----------------------+------------+----+
only showing top 20 rows

Finally, let's strip out numbers from our name variables. Again, we can use the **reg_replace()** function for this:

In [58]:
census = standardisation.reg_replace(census, subset = ["FORENAME","SURNAME"], dic = {"": "[0-9]"})
ccs = standardisation.reg_replace(ccs, subset = ["FORENAME","SURNAME"], dic = {"": "[0-9]"})

census.show()

+--------------------+--------+--------+--------------------+----------------+--------+----+---------------------+-----------------------+----------------------+------------+----+
|             Address|FORENAME| SURNAME|           ID_Census|  Marital_Status|POSTCODE| SEX|Resident_Day_Of_Birth|Resident_Month_Of_Birth|Resident_Year_Of_Birth|Resident_Age| DOB|
+--------------------+--------+--------+--------------------+----------------+--------+----+---------------------+-----------------------+----------------------+------------+----+
|STUDIO 48 COOPER ...|MARGARET|    ROSS|C4064232788196233825|        DIVORCED| CV254ZY|   1|                    6|                      8|                  1956|          66|null|
|43 REBECCA STREET...|  DARREN| BALDWIN|C6330546597769552216|          SINGLE|   E20LP|null|                   29|                     12|                  2013|           9|null|
|04 LANE SHORES, S...|    ERIC|    BIBI|C3552902187723607632|          SINGLE| DY011TR|   1|                   11|                     10|                  2016|           6|null|
|7 NOBLE VALLEY, L...|   DIANE|    KENT|C6316609580839768749|        DIVORCED| SO2P9WS|   2|                   28|                      1|                  1972|          50|null|
|57 PEARSON CORNER...|   GRACE|   BAKER|C1169098737268571195|        DIVORCED| EH4P9RN|   1|                   26|                     11|                  1966|          56|null|
|0 JEREMY MOUNTAIN...|   CHLOE|CHANDLER|C2381984462771197706|CIVILPARTNERSHIP|  G7F3RE|null|                    3|                      3|                  1963|          59|null|
|STUDIO 5 FULLER B...|   KATIE|ANDERSON|C3375139352316607624|            null|  G886DB|   2|                    9|                      4|                  1960|          62|null|
|644 GARRY WALK, B...|  DENISE|    KING|C1548782761489667658|            null| FY9W4RU|   2|                   28|                     11|                  1981|          41|null|
|STUDIO 73 CLAYTON...|   HAZEL|  BARTON|C4990006888500762770|            null| LN969XA|null|                   13|                      4|                  1947|          75|null|
|FLAT 92B ROSS EXP...| HARRIET| CHAPMAN|C1670700247034591701|            null|  S0D9AX|   2|                    8|                     11|                  2001|          21|null|
|8 GRANT SPURS, SO...|   KERRY|    WOOD|C2152956463386575168|         MARRIED|  B3F4UD|   1|                    4|                      7|                  1986|          36|null|
|414 FORSTER PLAIN...|    KATY| ROBERTS|C1910243320199854960|            null| IG8E1QR|null|                   28|                      9|                  1993|          29|null|
|21 STEPHEN ISLAND...|   BRUCE|   WALSH|C1493722777954585704|        DIVORCED|   L01AF|   1|                   26|                      3|                  1996|          26|null|
|FLAT 78 JONES GLE...|  MARTYN|   CAREY|C1240508700835562208|        DIVORCED|  B483PN|   2|                    4|                      4|                  1971|          51|null|
|FLAT 11Q BRYAN WE...|    GLEN|   SMITH|C9188328200772085537|         MARRIED|  TN66JB|null|                   11|                     10|                  1973|          49|null|
|FLAT 2 OLIVER COR...|   REECE|    LONG|C4684301202107506270|          SINGLE| CM6R8DA|   2|                    1|                      3|                  2017|           5|null|
|STUDIO 6 DIXON BY...|NICHOLAS|     MAY|C4755675332811745149|          SINGLE| CA8P5UH|   2|                    8|                      4|                  2011|          11|null|
|824 JEFFREY ROADS...|  LAUREN|  RAHMAN|C8927494441999701457|          SINGLE| ST132AD|   1|                    4|                     12|                  2013|           9|null|
|FLAT 22 KENNEDY K...|NICHOLAS| ROBERTS|C2244687393969933649|            null|   E85FD|   2|                   29|                      7|                  1970|          52|null|
|2 BARLOW ESTATES,...|    MARC| FLEMING|C4926061084814813326|CIVILPARTNERSHIP|  L4H4DQ|   1|                   24|                      8|                  1983|          39|null|
+--------------------+--------+--------+--------------------+----------------+--------+----+---------------------+-----------------------+----------------------+------------+----+
only showing top 20 rows

This still leaves apostrophes and hyphens in our name variables. The **remove_punct()** function can handle these. While we're at it, let's also use **remove_punct()** to get rid of dashes in our address field, but we'll have to specify the optional argument **keep** to make sure it doesn't strip out commas from addresses:

In [59]:
#First remove all punction from every column except address
census = standardisation.remove_punct(census, 
                                      subset = [column for column in census.columns if column != 'Address'], 
                                      )

ccs = standardisation.remove_punct(ccs, 
                                   subset = [column for column in ccs.columns if column != 'Address']
                                  )


#Then remove the punctuation from address except for the commas
census = standardisation.remove_punct(census, subset = 'Address', keep = ',')
ccs = standardisation.remove_punct(ccs, subset = 'Address', keep = ',')

census.show()

+--------------------+--------+--------+--------------------+----------------+--------+----+---------------------+-----------------------+----------------------+------------+----+
|             Address|FORENAME| SURNAME|           ID_Census|  Marital_Status|POSTCODE| SEX|Resident_Day_Of_Birth|Resident_Month_Of_Birth|Resident_Year_Of_Birth|Resident_Age| DOB|
+--------------------+--------+--------+--------------------+----------------+--------+----+---------------------+-----------------------+----------------------+------------+----+
|STUDIO 48 COOPER ...|MARGARET|    ROSS|C4064232788196233825|        DIVORCED| CV254ZY|   1|                    6|                      8|                  1956|          66|null|
|43 REBECCA STREET...|  DARREN| BALDWIN|C6330546597769552216|          SINGLE|   E20LP|null|                   29|                     12|                  2013|           9|null|
|04 LANE SHORES, S...|    ERIC|    BIBI|C3552902187723607632|          SINGLE| DY011TR|   1|                   11|                     10|                  2016|           6|null|
|7 NOBLE VALLEY, L...|   DIANE|    KENT|C6316609580839768749|        DIVORCED| SO2P9WS|   2|                   28|                      1|                  1972|          50|null|
|57 PEARSON CORNER...|   GRACE|   BAKER|C1169098737268571195|        DIVORCED| EH4P9RN|   1|                   26|                     11|                  1966|          56|null|
|0 JEREMY MOUNTAIN...|   CHLOE|CHANDLER|C2381984462771197706|CIVILPARTNERSHIP|  G7F3RE|null|                    3|                      3|                  1963|          59|null|
|STUDIO 5 FULLER B...|   KATIE|ANDERSON|C3375139352316607624|            null|  G886DB|   2|                    9|                      4|                  1960|          62|null|
|644 GARRY WALK, B...|  DENISE|    KING|C1548782761489667658|            null| FY9W4RU|   2|                   28|                     11|                  1981|          41|null|
|STUDIO 73 CLAYTON...|   HAZEL|  BARTON|C4990006888500762770|            null| LN969XA|null|                   13|                      4|                  1947|          75|null|
|FLAT 92B ROSS EXP...| HARRIET| CHAPMAN|C1670700247034591701|            null|  S0D9AX|   2|                    8|                     11|                  2001|          21|null|
|8 GRANT SPURS, SO...|   KERRY|    WOOD|C2152956463386575168|         MARRIED|  B3F4UD|   1|                    4|                      7|                  1986|          36|null|
|414 FORSTER PLAIN...|    KATY| ROBERTS|C1910243320199854960|            null| IG8E1QR|null|                   28|                      9|                  1993|          29|null|
|21 STEPHEN ISLAND...|   BRUCE|   WALSH|C1493722777954585704|        DIVORCED|   L01AF|   1|                   26|                      3|                  1996|          26|null|
|FLAT 78 JONES GLE...|  MARTYN|   CAREY|C1240508700835562208|        DIVORCED|  B483PN|   2|                    4|                      4|                  1971|          51|null|
|FLAT 11Q BRYAN WE...|    GLEN|   SMITH|C9188328200772085537|         MARRIED|  TN66JB|null|                   11|                     10|                  1973|          49|null|
|FLAT 2 OLIVER COR...|   REECE|    LONG|C4684301202107506270|          SINGLE| CM6R8DA|   2|                    1|                      3|                  2017|           5|null|
|STUDIO 6 DIXON BY...|NICHOLAS|     MAY|C4755675332811745149|          SINGLE| CA8P5UH|   2|                    8|                      4|                  2011|          11|null|
|824 JEFFREY ROADS...|  LAUREN|  RAHMAN|C8927494441999701457|          SINGLE| ST132AD|   1|                    4|                     12|                  2013|           9|null|
|FLAT 22 KENNEDY K...|NICHOLAS| ROBERTS|C2244687393969933649|            null|   E85FD|   2|                   29|                      7|                  1970|          52|null|
|2 BARLOW ESTATES,...|    MARC| FLEMING|C4926061084814813326|CIVILPARTNERSHIP|  L4H4DQ|   1|                   24|                      8|                  1983|          39|null|
+--------------------+--------+--------+--------------------+----------------+--------+----+---------------------+-----------------------+----------------------+------------+----+
only showing top 20 rows

# Derive Variables

We've got quite a few identifying variables that we can split out into further variables for matching. 

First, let's derive street and town from the address variable. The **split()** function from the dataframes module will be useful here, splitting on comma.

In [61]:
# this will create a new column called "ADDRESS_SPLIT" that contains an array of each address element, separated by a comma
census = dataframes.split(census, col_in = "ADDRESS", col_out = "ADDRESS_SPLIT", split_on = ",")
ccs = dataframes.split(ccs, col_in = "ADDRESS", col_out = "ADDRESS_SPLIT", split_on = ",")

census.select("ADDRESS", "ADDRESS_SPLIT").show(truncate = False)

+-------------------------------------------+----------------------------------------------+
|ADDRESS                                    |ADDRESS_SPLIT                                 |
+-------------------------------------------+----------------------------------------------+
|STUDIO 48 COOPER STREET, PORT FREDERICKTOWN|[STUDIO 48 COOPER STREET,  PORT FREDERICKTOWN]|
|43 REBECCA STREET, HARVEYTOWN              |[43 REBECCA STREET,  HARVEYTOWN]              |
|04 LANE SHORES, SOUTH DANIELFORT           |[04 LANE SHORES,  SOUTH DANIELFORT]           |
|7 NOBLE VALLEY, LAKE SIMONVILLE            |[7 NOBLE VALLEY,  LAKE SIMONVILLE]            |
|57 PEARSON CORNER, JOANNABOROUGH           |[57 PEARSON CORNER,  JOANNABOROUGH]           |
|0 JEREMY MOUNTAINS, NORTH FRANK            |[0 JEREMY MOUNTAINS,  NORTH FRANK]            |
|STUDIO 5 FULLER BURGS, NEW LINDSEY         |[STUDIO 5 FULLER BURGS,  NEW LINDSEY]         |
|644 GARRY WALK, BLACKBURNVILLE             |[644 GARRY WALK,  BLACKBURNVILLE]             |
|STUDIO 73 CLAYTON MOUNTAINS, STEVENBURY    |[STUDIO 73 CLAYTON MOUNTAINS,  STEVENBURY]    |
|FLAT 92B ROSS EXPRESSWAY, BRAYSHIRE        |[FLAT 92B ROSS EXPRESSWAY,  BRAYSHIRE]        |
|8 GRANT SPURS, SOUTH PHILIP                |[8 GRANT SPURS,  SOUTH PHILIP]                |
|414 FORSTER PLAINS, AIMEEMOUTH             |[414 FORSTER PLAINS,  AIMEEMOUTH]             |
|21 STEPHEN ISLAND, TERRYMOUTH              |[21 STEPHEN ISLAND,  TERRYMOUTH]              |
|FLAT 78 JONES GLEN, MARIONBURGH            |[FLAT 78 JONES GLEN,  MARIONBURGH]            |
|FLAT 11Q BRYAN WELLS, WEST EILEENBURY      |[FLAT 11Q BRYAN WELLS,  WEST EILEENBURY]      |
|FLAT 2 OLIVER CORNERS, BAXTERTON           |[FLAT 2 OLIVER CORNERS,  BAXTERTON]           |
|STUDIO 6 DIXON BYPASS, NEW MARIAN          |[STUDIO 6 DIXON BYPASS,  NEW MARIAN]          |
|824 JEFFREY ROADS, MATHEWFORT              |[824 JEFFREY ROADS,  MATHEWFORT]              |
|FLAT 22 KENNEDY KEYS, PORT VALERIELAND     |[FLAT 22 KENNEDY KEYS,  PORT VALERIELAND]     |
|2 BARLOW ESTATES, EAST CLAREBURY           |[2 BARLOW ESTATES,  EAST CLAREBURY]           |
+-------------------------------------------+----------------------------------------------+
only showing top 20 rows

In [63]:
# we can then select the first element of the 'split address' to create the 'street address' variable COULD WE USE LOOP?
census = dataframes.index_select(census, split_col = "ADDRESS_SPLIT", out_col = "STREET", index = 0)
ccs = dataframes.index_select(ccs, split_col = "ADDRESS_SPLIT", out_col = "STREET", index = 0)

# the second element contains the town name, which we can append to a new column also 
census = dataframes.index_select(census, split_col = "ADDRESS_SPLIT", out_col = "TOWN", index = 1)
ccs = dataframes.index_select(ccs, split_col = "ADDRESS_SPLIT", out_col = "TOWN", index = 1)

# since we no longer need the 'ADDRESS_SPLIT' column, we can remove it using our drop_columns() function
census = dataframes.drop_columns(census, subset = 'ADDRESS_SPLIT')
ccs = dataframes.drop_columns(ccs, subset = 'ADDRESS_SPLIT')

census.select("ADDRESS", "STREET", "TOWN").show(truncate = False)

AnalysisException: "cannot resolve '`ADDRESS_SPLIT`' given input columns: [Resident_Year_Of_Birth, TOWN, SURNAME, Marital_Status, STREET, Resident_Month_Of_Birth, Resident_Age, Resident_Day_Of_Birth, FORENAME, ID_Census, DOB, SEX, Address, POSTCODE];;\n'Project [Address#9342, FORENAME#9079, SURNAME#9092, ID_Census#9105, Marital_Status#9118, POSTCODE#9131, SEX#9144, Resident_Day_Of_Birth#9157, Resident_Month_Of_Birth#9170, Resident_Year_Of_Birth#9183, Resident_Age#9196, DOB#9209, 'ADDRESS_SPLIT[0] AS STREET#9576, TOWN#9505]\n+- Deduplicate [DOB#9209, TOWN#9505, Marital_Status#9118, Resident_Age#9196, Resident_Day_Of_Birth#9157, Address#9342, Resident_Month_Of_Birth#9170, SEX#9144, STREET#9476, ID_Census#9105, FORENAME#9079, POSTCODE#9131, Resident_Year_Of_Birth#9183, SURNAME#9092]\n   +- Project [Address#9342, FORENAME#9079, SURNAME#9092, ID_Census#9105, Marital_Status#9118, POSTCODE#9131, SEX#9144, Resident_Day_Of_Birth#9157, Resident_Month_Of_Birth#9170, Resident_Year_Of_Birth#9183, Resident_Age#9196, DOB#9209, STREET#9476, TOWN#9505]\n      +- Project [Address#9342, FORENAME#9079, SURNAME#9092, ID_Census#9105, Marital_Status#9118, POSTCODE#9131, SEX#9144, Resident_Day_Of_Birth#9157, Resident_Month_Of_Birth#9170, Resident_Year_Of_Birth#9183, Resident_Age#9196, DOB#9209, ADDRESS_SPLIT#9440, STREET#9476, ADDRESS_SPLIT#9440[1] AS TOWN#9505]\n         +- Project [Address#9342, FORENAME#9079, SURNAME#9092, ID_Census#9105, Marital_Status#9118, POSTCODE#9131, SEX#9144, Resident_Day_Of_Birth#9157, Resident_Month_Of_Birth#9170, Resident_Year_Of_Birth#9183, Resident_Age#9196, DOB#9209, ADDRESS_SPLIT#9440, ADDRESS_SPLIT#9440[0] AS STREET#9476]\n            +- Project [Address#9342, FORENAME#9079, SURNAME#9092, ID_Census#9105, Marital_Status#9118, POSTCODE#9131, SEX#9144, Resident_Day_Of_Birth#9157, Resident_Month_Of_Birth#9170, Resident_Year_Of_Birth#9183, Resident_Age#9196, DOB#9209, CASE WHEN (isnull(ADDRESS#9342) || isnan(cast(ADDRESS#9342 as double))) THEN cast(null as array<string>) ELSE split(ADDRESS#9342, ,) END AS ADDRESS_SPLIT#9440]\n               +- Project [Address#9342, FORENAME#9079, SURNAME#9092, ID_Census#9105, Marital_Status#9118, POSTCODE#9131, SEX#9144, Resident_Day_Of_Birth#9157, Resident_Month_Of_Birth#9170, Resident_Year_Of_Birth#9183, Resident_Age#9196, DOB#9209, CASE WHEN (isnull(ADDRESS#9342) || isnan(cast(ADDRESS#9342 as double))) THEN cast(null as array<string>) ELSE split(ADDRESS#9342, ,) END AS ADDRESS_SPLIT#9404]\n                  +- Project [regexp_replace(Address#8398, [^A-Za-z0-9 ,], ) AS Address#9342, FORENAME#9079, SURNAME#9092, ID_Census#9105, Marital_Status#9118, POSTCODE#9131, SEX#9144, Resident_Day_Of_Birth#9157, Resident_Month_Of_Birth#9170, Resident_Year_Of_Birth#9183, Resident_Age#9196, DOB#9209]\n                     +- Project [Address#8398, FORENAME#9079, SURNAME#9092, ID_Census#9105, Marital_Status#9118, POSTCODE#9131, SEX#9144, Resident_Day_Of_Birth#9157, Resident_Month_Of_Birth#9170, Resident_Year_Of_Birth#9183, Resident_Age#9196, regexp_replace(DOB#8528, [^A-Za-z0-9 ], ) AS DOB#9209]\n                        +- Project [Address#8398, FORENAME#9079, SURNAME#9092, ID_Census#9105, Marital_Status#9118, POSTCODE#9131, SEX#9144, Resident_Day_Of_Birth#9157, Resident_Month_Of_Birth#9170, Resident_Year_Of_Birth#9183, regexp_replace(Resident_Age#8515, [^A-Za-z0-9 ], ) AS Resident_Age#9196, DOB#8528]\n                           +- Project [Address#8398, FORENAME#9079, SURNAME#9092, ID_Census#9105, Marital_Status#9118, POSTCODE#9131, SEX#9144, Resident_Day_Of_Birth#9157, Resident_Month_Of_Birth#9170, regexp_replace(Resident_Year_Of_Birth#8502, [^A-Za-z0-9 ], ) AS Resident_Year_Of_Birth#9183, Resident_Age#8515, DOB#8528]\n                              +- Project [Address#8398, FORENAME#9079, SURNAME#9092, ID_Census#9105, Marital_Status#9118, POSTCODE#9131, SEX#9144, Resident_Day_Of_Birth#9157, regexp_replace(Resident_Month_Of_Birth#8489, [^A-Za-z0-9 ], ) AS Resident_Month_Of_Birth#9170, Resident_Year_Of_Birth#8502, Resident_Age#8515, DOB#8528]\n                                 +- Project [Address#8398, FORENAME#9079, SURNAME#9092, ID_Census#9105, Marital_Status#9118, POSTCODE#9131, SEX#9144, regexp_replace(Resident_Day_Of_Birth#8476, [^A-Za-z0-9 ], ) AS Resident_Day_Of_Birth#9157, Resident_Month_Of_Birth#8489, Resident_Year_Of_Birth#8502, Resident_Age#8515, DOB#8528]\n                                    +- Project [Address#8398, FORENAME#9079, SURNAME#9092, ID_Census#9105, Marital_Status#9118, POSTCODE#9131, regexp_replace(cast(SEX#7147 as string), [^A-Za-z0-9 ], ) AS SEX#9144, Resident_Day_Of_Birth#8476, Resident_Month_Of_Birth#8489, Resident_Year_Of_Birth#8502, Resident_Age#8515, DOB#8528]\n                                       +- Project [Address#8398, FORENAME#9079, SURNAME#9092, ID_Census#9105, Marital_Status#9118, regexp_replace(POSTCODE#8463, [^A-Za-z0-9 ], ) AS POSTCODE#9131, SEX#7147, Resident_Day_Of_Birth#8476, Resident_Month_Of_Birth#8489, Resident_Year_Of_Birth#8502, Resident_Age#8515, DOB#8528]\n                                          +- Project [Address#8398, FORENAME#9079, SURNAME#9092, ID_Census#9105, regexp_replace(Marital_Status#8450, [^A-Za-z0-9 ], ) AS Marital_Status#9118, POSTCODE#8463, SEX#7147, Resident_Day_Of_Birth#8476, Resident_Month_Of_Birth#8489, Resident_Year_Of_Birth#8502, Resident_Age#8515, DOB#8528]\n                                             +- Project [Address#8398, FORENAME#9079, SURNAME#9092, regexp_replace(ID_Census#8437, [^A-Za-z0-9 ], ) AS ID_Census#9105, Marital_Status#8450, POSTCODE#8463, SEX#7147, Resident_Day_Of_Birth#8476, Resident_Month_Of_Birth#8489, Resident_Year_Of_Birth#8502, Resident_Age#8515, DOB#8528]\n                                                +- Project [Address#8398, FORENAME#9079, regexp_replace(SURNAME#9005, [^A-Za-z0-9 ], ) AS SURNAME#9092, ID_Census#8437, Marital_Status#8450, POSTCODE#8463, SEX#7147, Resident_Day_Of_Birth#8476, Resident_Month_Of_Birth#8489, Resident_Year_Of_Birth#8502, Resident_Age#8515, DOB#8528]\n                                                   +- Project [Address#8398, regexp_replace(FORENAME#8992, [^A-Za-z0-9 ], ) AS FORENAME#9079, SURNAME#9005, ID_Census#8437, Marital_Status#8450, POSTCODE#8463, SEX#7147, Resident_Day_Of_Birth#8476, Resident_Month_Of_Birth#8489, Resident_Year_Of_Birth#8502, Resident_Age#8515, DOB#8528]\n                                                      +- Project [Address#8398, FORENAME#8992, regexp_replace(SURNAME#8760, [0-9], ) AS SURNAME#9005, ID_Census#8437, Marital_Status#8450, POSTCODE#8463, SEX#7147, Resident_Day_Of_Birth#8476, Resident_Month_Of_Birth#8489, Resident_Year_Of_Birth#8502, Resident_Age#8515, DOB#8528]\n                                                         +- Project [Address#8398, regexp_replace(FORENAME#8735, [0-9], ) AS FORENAME#8992, SURNAME#8760, ID_Census#8437, Marital_Status#8450, POSTCODE#8463, SEX#7147, Resident_Day_Of_Birth#8476, Resident_Month_Of_Birth#8489, Resident_Year_Of_Birth#8502, Resident_Age#8515, DOB#8528]\n                                                            +- Project [Address#8398, FORENAME#8735, regexp_replace(SURNAME#8424, \\bNO SURNAME\\b|\\bSURNAME\\b|(?<=\\bDE)[ -]|(?<=\\bDA)[ -]|(?<=\\bDU)[ -]|(?<=\\bST)[ -]|(?<=\\bMC)[ -]|(?<=\\bMAC)[ -]|(?<=\\bVAN)[ -]|(?<=\\bVON)[ -]|(?<=\\bLA)[ -]|(?<=\\bLE)[ -]|(?<=\\bO)[ -]|(?<=\\bAL)[ -]|(?<=\\bDER)[ -]|(?<=\\bEL)[ -]|(?<=\\bDI)[ -]|(?<=\\bDEL)[ -]|(?<=\\bUL)[ -]|(?<=\\bBIN)[ -]|(?<=\\bSAN)[ -]|(?<=\\bBA)[ -], ) AS SURNAME#8760, ID_Census#8437, Marital_Status#8450, POSTCODE#8463, SEX#7147, Resident_Day_Of_Birth#8476, Resident_Month_Of_Birth#8489, Resident_Year_Of_Birth#8502, Resident_Age#8515, DOB#8528]\n                                                               +- Project [Address#8398, regexp_replace(FORENAME#8411, \\bMR\\b|\\bMRS\\b|\\bDR\\b|\\bMISS\\b|\\bNO NAME\\b|\\bNAME\\b|\\bFORENAME\\b|\\bMS\\b|\\bMSTR\\b|\\bPROF\\b|\\bSIR\\b|\\bLADY\\b, ) AS FORENAME#8735, SURNAME#8424, ID_Census#8437, Marital_Status#8450, POSTCODE#8463, SEX#7147, Resident_Day_Of_Birth#8476, Resident_Month_Of_Birth#8489, Resident_Year_Of_Birth#8502, Resident_Age#8515, DOB#8528]\n                                                                  +- Project [Address#8398, FORENAME#8411, SURNAME#8424, ID_Census#8437, Marital_Status#8450, POSTCODE#8463, SEX#7147, Resident_Day_Of_Birth#8476, Resident_Month_Of_Birth#8489, Resident_Year_Of_Birth#8502, Resident_Age#8515, trim(DOB#8122, None) AS DOB#8528]\n                                                                     +- Project [Address#8398, FORENAME#8411, SURNAME#8424, ID_Census#8437, Marital_Status#8450, POSTCODE#8463, SEX#7147, Resident_Day_Of_Birth#8476, Resident_Month_Of_Birth#8489, Resident_Year_Of_Birth#8502, trim(Resident_Age#8095, None) AS Resident_Age#8515, DOB#8122]\n                                                                        +- Project [Address#8398, FORENAME#8411, SURNAME#8424, ID_Census#8437, Marital_Status#8450, POSTCODE#8463, SEX#7147, Resident_Day_Of_Birth#8476, Resident_Month_Of_Birth#8489, trim(Resident_Year_Of_Birth#8068, None) AS Resident_Year_Of_Birth#8502, Resident_Age#8095, DOB#8122]\n                                                                           +- Project [Address#8398, FORENAME#8411, SURNAME#8424, ID_Census#8437, Marital_Status#8450, POSTCODE#8463, SEX#7147, Resident_Day_Of_Birth#8476, trim(Resident_Month_Of_Birth#8041, None) AS Resident_Month_Of_Birth#8489, Resident_Year_Of_Birth#8068, Resident_Age#8095, DOB#8122]\n                                                                              +- Project [Address#8398, FORENAME#8411, SURNAME#8424, ID_Census#8437, Marital_Status#8450, POSTCODE#8463, SEX#7147, trim(Resident_Day_Of_Birth#8014, None) AS Resident_Day_Of_Birth#8476, Resident_Month_Of_Birth#8041, Resident_Year_Of_Birth#8068, Resident_Age#8095, DOB#8122]\n                                                                                 +- Project [Address#8398, FORENAME#8411, SURNAME#8424, ID_Census#8437, Marital_Status#8450, trim(POSTCODE#7986, None) AS POSTCODE#8463, SEX#7147, Resident_Day_Of_Birth#8014, Resident_Month_Of_Birth#8041, Resident_Year_Of_Birth#8068, Resident_Age#8095, DOB#8122]\n                                                                                    +- Project [Address#8398, FORENAME#8411, SURNAME#8424, ID_Census#8437, trim(Marital_Status#7959, None) AS Marital_Status#8450, POSTCODE#7986, SEX#7147, Resident_Day_Of_Birth#8014, Resident_Month_Of_Birth#8041, Resident_Year_Of_Birth#8068, Resident_Age#8095, DOB#8122]\n                                                                                       +- Project [Address#8398, FORENAME#8411, SURNAME#8424, trim(ID_Census#7932, None) AS ID_Census#8437, Marital_Status#7959, POSTCODE#7986, SEX#7147, Resident_Day_Of_Birth#8014, Resident_Month_Of_Birth#8041, Resident_Year_Of_Birth#8068, Resident_Age#8095, DOB#8122]\n                                                                                          +- Project [Address#8398, FORENAME#8411, trim(SURNAME#7905, None) AS SURNAME#8424, ID_Census#7932, Marital_Status#7959, POSTCODE#7986, SEX#7147, Resident_Day_Of_Birth#8014, Resident_Month_Of_Birth#8041, Resident_Year_Of_Birth#8068, Resident_Age#8095, DOB#8122]\n                                                                                             +- Project [Address#8398, trim(FORENAME#7878, None) AS FORENAME#8411, SURNAME#7905, ID_Census#7932, Marital_Status#7959, POSTCODE#7986, SEX#7147, Resident_Day_Of_Birth#8014, Resident_Month_Of_Birth#8041, Resident_Year_Of_Birth#8068, Resident_Age#8095, DOB#8122]\n                                                                                                +- Project [trim(Address#7826, None) AS Address#8398, FORENAME#7878, SURNAME#7905, ID_Census#7932, Marital_Status#7959, POSTCODE#7986, SEX#7147, Resident_Day_Of_Birth#8014, Resident_Month_Of_Birth#8041, Resident_Year_Of_Birth#8068, Resident_Age#8095, DOB#8122]\n                                                                                                   +- Project [Address#7826, FORENAME#7878, SURNAME#7905, ID_Census#7932, Marital_Status#7959, POSTCODE#7986, SEX#7147, Resident_Day_Of_Birth#8014, Resident_Month_Of_Birth#8041, Resident_Year_Of_Birth#8068, Resident_Age#8095, regexp_replace(DOB#8109, \\s+, ) AS DOB#8122]\n                                                                                                      +- Project [Address#7826, FORENAME#7878, SURNAME#7905, ID_Census#7932, Marital_Status#7959, POSTCODE#7986, SEX#7147, Resident_Day_Of_Birth#8014, Resident_Month_Of_Birth#8041, Resident_Year_Of_Birth#8068, Resident_Age#8095, trim(DOB#7459, None) AS DOB#8109]\n                                                                                                         +- Project [Address#7826, FORENAME#7878, SURNAME#7905, ID_Census#7932, Marital_Status#7959, POSTCODE#7986, SEX#7147, Resident_Day_Of_Birth#8014, Resident_Month_Of_Birth#8041, Resident_Year_Of_Birth#8068, regexp_replace(Resident_Age#8082, \\s+, ) AS Resident_Age#8095, DOB#7459]\n                                                                                                            +- Project [Address#7826, FORENAME#7878, SURNAME#7905, ID_Census#7932, Marital_Status#7959, POSTCODE#7986, SEX#7147, Resident_Day_Of_Birth#8014, Resident_Month_Of_Birth#8041, Resident_Year_Of_Birth#8068, trim(Resident_Age#7432, None) AS Resident_Age#8082, DOB#7459]\n                                                                                                               +- Project [Address#7826, FORENAME#7878, SURNAME#7905, ID_Census#7932, Marital_Status#7959, POSTCODE#7986, SEX#7147, Resident_Day_Of_Birth#8014, Resident_Month_Of_Birth#8041, regexp_replace(Resident_Year_Of_Birth#8055, \\s+, ) AS Resident_Year_Of_Birth#8068, Resident_Age#7432, DOB#7459]\n                                                                                                                  +- Project [Address#7826, FORENAME#7878, SURNAME#7905, ID_Census#7932, Marital_Status#7959, POSTCODE#7986, SEX#7147, Resident_Day_Of_Birth#8014, Resident_Month_Of_Birth#8041, trim(Resident_Year_Of_Birth#7405, None) AS Resident_Year_Of_Birth#8055, Resident_Age#7432, DOB#7459]\n                                                                                                                     +- Project [Address#7826, FORENAME#7878, SURNAME#7905, ID_Census#7932, Marital_Status#7959, POSTCODE#7986, SEX#7147, Resident_Day_Of_Birth#8014, regexp_replace(Resident_Month_Of_Birth#8028, \\s+, ) AS Resident_Month_Of_Birth#8041, Resident_Year_Of_Birth#7405, Resident_Age#7432, DOB#7459]\n                                                                                                                        +- Project [Address#7826, FORENAME#7878, SURNAME#7905, ID_Census#7932, Marital_Status#7959, POSTCODE#7986, SEX#7147, Resident_Day_Of_Birth#8014, trim(Resident_Month_Of_Birth#7378, None) AS Resident_Month_Of_Birth#8028, Resident_Year_Of_Birth#7405, Resident_Age#7432, DOB#7459]\n                                                                                                                           +- Project [Address#7826, FORENAME#7878, SURNAME#7905, ID_Census#7932, Marital_Status#7959, POSTCODE#7986, SEX#7147, regexp_replace(Resident_Day_Of_Birth#8001, \\s+, ) AS Resident_Day_Of_Birth#8014, Resident_Month_Of_Birth#7378, Resident_Year_Of_Birth#7405, Resident_Age#7432, DOB#7459]\n                                                                                                                              +- Project [Address#7826, FORENAME#7878, SURNAME#7905, ID_Census#7932, Marital_Status#7959, POSTCODE#7986, SEX#7147, trim(Resident_Day_Of_Birth#7351, None) AS Resident_Day_Of_Birth#8001, Resident_Month_Of_Birth#7378, Resident_Year_Of_Birth#7405, Resident_Age#7432, DOB#7459]\n                                                                                                                                 +- Project [Address#7826, FORENAME#7878, SURNAME#7905, ID_Census#7932, Marital_Status#7959, regexp_replace(POSTCODE#7973, \\s+, ) AS POSTCODE#7986, SEX#7147, Resident_Day_Of_Birth#7351, Resident_Month_Of_Birth#7378, Resident_Year_Of_Birth#7405, Resident_Age#7432, DOB#7459]\n                                                                                                                                    +- Project [Address#7826, FORENAME#7878, SURNAME#7905, ID_Census#7932, Marital_Status#7959, trim(POSTCODE#7737, None) AS POSTCODE#7973, SEX#7147, Resident_Day_Of_Birth#7351, Resident_Month_Of_Birth#7378, Resident_Year_Of_Birth#7405, Resident_Age#7432, DOB#7459]\n                                                                                                                                       +- Project [Address#7826, FORENAME#7878, SURNAME#7905, ID_Census#7932, regexp_replace(Marital_Status#7946, \\s+, ) AS Marital_Status#7959, POSTCODE#7737, SEX#7147, Resident_Day_Of_Birth#7351, Resident_Month_Of_Birth#7378, Resident_Year_Of_Birth#7405, Resident_Age#7432, DOB#7459]\n                                                                                                                                          +- Project [Address#7826, FORENAME#7878, SURNAME#7905, ID_Census#7932, trim(Marital_Status#7296, None) AS Marital_Status#7946, POSTCODE#7737, SEX#7147, Resident_Day_Of_Birth#7351, Resident_Month_Of_Birth#7378, Resident_Year_Of_Birth#7405, Resident_Age#7432, DOB#7459]\n                                                                                                                                             +- Project [Address#7826, FORENAME#7878, SURNAME#7905, regexp_replace(ID_Census#7919, \\s+, ) AS ID_Census#7932, Marital_Status#7296, POSTCODE#7737, SEX#7147, Resident_Day_Of_Birth#7351, Resident_Month_Of_Birth#7378, Resident_Year_Of_Birth#7405, Resident_Age#7432, DOB#7459]\n                                                                                                                                                +- Project [Address#7826, FORENAME#7878, SURNAME#7905, trim(ID_Census#7269, None) AS ID_Census#7919, Marital_Status#7296, POSTCODE#7737, SEX#7147, Resident_Day_Of_Birth#7351, Resident_Month_Of_Birth#7378, Resident_Year_Of_Birth#7405, Resident_Age#7432, DOB#7459]\n                                                                                                                                                   +- Project [Address#7826, FORENAME#7878, regexp_replace(SURNAME#7892, \\s+, ) AS SURNAME#7905, ID_Census#7269, Marital_Status#7296, POSTCODE#7737, SEX#7147, Resident_Day_Of_Birth#7351, Resident_Month_Of_Birth#7378, Resident_Year_Of_Birth#7405, Resident_Age#7432, DOB#7459]\n                                                                                                                                                      +- Project [Address#7826, FORENAME#7878, trim(SURNAME#7242, None) AS SURNAME#7892, ID_Census#7269, Marital_Status#7296, POSTCODE#7737, SEX#7147, Resident_Day_Of_Birth#7351, Resident_Month_Of_Birth#7378, Resident_Year_Of_Birth#7405, Resident_Age#7432, DOB#7459]\n                                                                                                                                                         +- Project [Address#7826, regexp_replace(FORENAME#7865, \\s+, ) AS FORENAME#7878, SURNAME#7242, ID_Census#7269, Marital_Status#7296, POSTCODE#7737, SEX#7147, Resident_Day_Of_Birth#7351, Resident_Month_Of_Birth#7378, Resident_Year_Of_Birth#7405, Resident_Age#7432, DOB#7459]\n                                                                                                                                                            +- Project [Address#7826, trim(FORENAME#7215, None) AS FORENAME#7865, SURNAME#7242, ID_Census#7269, Marital_Status#7296, POSTCODE#7737, SEX#7147, Resident_Day_Of_Birth#7351, Resident_Month_Of_Birth#7378, Resident_Year_Of_Birth#7405, Resident_Age#7432, DOB#745

We can create a 'full name' variable by concatenating the two existing name columns together, using **concat()**:

In [65]:
census = dataframes.concat(census, columns = ["FORENAME", "SURNAME"], sep = " ", out_col = "FULL_NAME")
ccs = dataframes.concat(ccs, columns = ["FORENAME", "SURNAME"], sep = " ", out_col = "FULL_NAME")

census.select("FORENAME", "SURNAME", "FULL_NAME").show()

+---------+---------+----------------+
| FORENAME|  SURNAME|       FULL_NAME|
+---------+---------+----------------+
|   DENISE|     KING|     DENISE KING|
| NICHOLAS|  ROBERTS|NICHOLAS ROBERTS|
|     LUKE|   THOMAS|     LUKE THOMAS|
| CAROLINE|  BENNETT|CAROLINE BENNETT|
|    JULIE|WHITTAKER| JULIE WHITTAKER|
|    MEGAN|    EVANS|     MEGAN EVANS|
|     DAWN|  COLEMAN|    DAWN COLEMAN|
|  DOMINIC|  ROBERTS| DOMINIC ROBERTS|
|  ANTHONY|     CARR|    ANTHONY CARR|
|      KIM|     HALL|        KIM HALL|
|   CAROLE| HARRISON| CAROLE HARRISON|
|    DYLAN|     KING|      DYLAN KING|
|    WAYNE|  COLLIER|   WAYNE COLLIER|
|     JOEL|    CLARK|      JOEL CLARK|
|  GREGORY|   THOMAS|  GREGORY THOMAS|
|   JOSEPH|     ROWE|     JOSEPH ROWE|
|     LUCY|TOMLINSON|  LUCY TOMLINSON|
|   RONALD|     MANN|     RONALD MANN|
|   GEORGE|     COOK|     GEORGE COOK|
|JOSEPHINE|   THOMAS|JOSEPHINE THOMAS|
+---------+---------+----------------+
only showing top 20 rows

For ethnically diverse datasets, phonetic encodings of name variables may aid matching. We have functions for this in the linkage module.

In [67]:
census = linkage.metaphone(df = census, input_col = 'FORENAME', output_col = 'FORENAME_METAPHONE')
census = linkage.soundex(df = census, input_col = 'FORENAME', output_col = 'FORENAME_SOUNDEX')

ccs = linkage.metaphone(df = ccs, input_col = 'FORENAME', output_col = 'FORENAME_METAPHONE')
ccs = linkage.soundex(df = ccs, input_col = 'FORENAME', output_col = 'FORENAME_SOUNDEX')

census.select("FORENAME", "FORENAME_METAPHONE", "FORENAME_SOUNDEX").show()

+---------+------------------+----------------+
| FORENAME|FORENAME_METAPHONE|FORENAME_SOUNDEX|
+---------+------------------+----------------+
|   DENISE|               TNS|            D520|
| NICHOLAS|              NXLS|            N242|
|     LUKE|                LK|            L200|
| CAROLINE|              KRLN|            C645|
|    JULIE|                JL|            J400|
|    MEGAN|               MKN|            M250|
|     DAWN|                TN|            D500|
|  DOMINIC|              TMNK|            D552|
|  ANTHONY|              AN0N|            A535|
|      KIM|                KM|            K500|
|   CAROLE|               KRL|            C640|
|    DYLAN|               TLN|            D450|
|    WAYNE|                WN|            W500|
|     JOEL|                JL|            J400|
|  GREGORY|              KRKR|            G626|
|   JOSEPH|               JSF|            J210|
|     LUCY|                LS|            L200|
|   RONALD|              RNLT|            R543|
|   GEORGE|               JRJ|            G620|
|JOSEPHINE|              JSFN|            J215|
+---------+------------------+----------------+
only showing top 20 rows

Similarly, if there have been spelling mistakes, alphabetising string columns may also aid matching. We have a function for this in the linkage module.

In [68]:
census = linkage.alpha_name(census, input_col = 'FORENAME', output_col = 'ALPHABETISE_FORENAME')
ccs = linkage.alpha_name(ccs, input_col = 'FORENAME', output_col = 'ALPHABETISE_FORENAME')

census.select("FORENAME", "ALPHABETISE_FORENAME").show()

+---------+--------------------+
| FORENAME|ALPHABETISE_FORENAME|
+---------+--------------------+
|   DENISE|              DEEINS|
| NICHOLAS|            ACHILNOS|
|     LUKE|                EKLU|
| CAROLINE|            ACEILNOR|
|    JULIE|               EIJLU|
|    MEGAN|               AEGMN|
|     DAWN|                ADNW|
|  DOMINIC|             CDIIMNO|
|  ANTHONY|             AHNNOTY|
|      KIM|                 IKM|
|   CAROLE|              ACELOR|
|    DYLAN|               ADLNY|
|    WAYNE|               AENWY|
|     JOEL|                EJLO|
|  GREGORY|             EGGORRY|
|   JOSEPH|              EHJOPS|
|     LUCY|                CLUY|
|   RONALD|              ADLNOR|
|   GEORGE|              EEGGOR|
|JOSEPHINE|           EEHIJNOPS|
+---------+--------------------+
only showing top 20 rows

There are more common matching variables we could still derive. Taking the **substring()** of our postcode column can help us derive less granular geographic variables for matching:

In [70]:
census = dataframes.substring(census, out_col = "PC_DISTRICT", target_col = "POSTCODE", start = 4, length = 4, from_end = True)
ccs = dataframes.substring(ccs, out_col = "PC_DISTRICT", target_col = "POSTCODE", start = 4, length = 4, from_end = True)

census.select("POSTCODE", "PC_DISTRICT").show()

#ADD COMMENTARY FROM PYSPARK COURSE EXPLAINING THIS CHAOS

+--------+-----------+
|POSTCODE|PC_DISTRICT|
+--------+-----------+
| FY9W4RU|       FY9W|
|   E85FD|         E8|
|  S7G3JZ|        S7G|
| WC1M0ZL|       WC1M|
| IM392DA|       IM39|
|  N222RT|        N22|
|  G7G5UB|        G7G|
|  S205ZS|        S20|
| MK047HX|       MK04|
| BB2N6YE|       BB2N|
| WA2A6NR|       WA2A|
| FY122QE|       FY12|
| GY3H6QL|       GY3H|
|   E00PJ|         E0|
|  B154FA|        B15|
|  PH72SN|        PH7|
|   S72AU|         S7|
|   N71DZ|         N7|
| OL938AA|       OL93|
| UB7E5TX|       UB7E|
+--------+-----------+
only showing top 20 rows

If you have a time lag between the collection of two surveys you are trying to link together, you may want to align respondent ages for matching. We can do this using the age_at() function: NEED TO EXPLAIN WHAT EACH ARG IS AND WHY WE CANT SPECIFY THEM

In [75]:
# we can find out their age at the most recent Census, for example:
census_date = '21/03/2021'

census = standardisation.age_at(census, 'DOB', 'dd/MM/yyyy', census_date)
ccs = standardisation.age_at(ccs, 'DOB', 'dd/MM/yyyy', census_date)

census.select('DOB','age_at_21/03/2021')

+----+-----------------+
| DOB|age_at_21/03/2021|
+----+-----------------+
|null|             null|
|null|             null|
|null|             null|
|null|             null|
|null|             null|
|null|             null|
|null|             null|
|null|             null|
|null|             null|
|null|             null|
|null|             null|
|null|             null|
|null|             null|
|null|             null|
|null|             null|
|null|             null|
|null|             null|
|null|             null|
|null|             null|
|null|             null|
+----+-----------------+
only showing top 20 rows

In [1]:
# NOT SURE IF WE NEED THE BELOW - JUST TAKING IT FROM DAP VERSION BEFORE DELETED

# Deduplication

This is quite easily done, defining our duplicate matchkey(s) and using the **deduplicate** function:

In [ ]:
# define our matchkey
deduplicate_mkey = ['First_Name', 'Last_Name','Resident_Age','Sex','Postcode','Address']
census.count()

In [ ]:
census = linkage.deduplicate(df = census, record_id - 'Resident_ID', mks = deduplicate_mkey)
ccs = linkage.deduplicate(df = ccs, record_id - 'Resident_ID', mks = deduplicate_mkey)
census.count()

Now that we've removed duplicates, we can start to investigate some matchkeys:

In [ ]:
# first, let's suffix each dataset's columns to distinguish the two dataframes 
census = dataframes.suffix_columns(census, suffix = '_df1')
ccs = dataframes.suffix_columns(ccs, suffix = '_df2')

census.persist().count()
ccs.persist().count()

In [ ]:
MK1 = [census.Full_Name_census == ccs.Full_Name_ccs,
       census.Sex_census == ccs.Sex_ccs,
       census.Resident_Age_census == ccs.Resident_Age_ccs,
       census.Postcode_census == ccs.Postcode_ccs]

# letting middle name be a mismatch 
MK2 = [census.First_Name_census == ccs.First_Name_ccs,
       census.Last_Name_census == ccs.Last_Name_ccs,
       census.Sex_census == ccs.Sex_ccs,
       census.Resident_Age_census == ccs.Resident_Age_ccs,
       census.Postcode_census == ccs.Postcode_ccs]

# taking the phonetic encoding of forename - using the metaphone algorithm
MK3 = [census.forename_metaphone_census == ccs.forename_metaphone_ccs,
       census.Last_Name_census == ccs.Last_Name_ccs,
       census.Sex_census == ccs.Sex_ccs,
       census.Resident_Age_census == ccs.Resident_Age_ccs,
       census.Postcode_census == ccs.Postcode_ccs]

# Now allowing for misspellings rather than mishearings of names, using standardised Levenshtein edit distance
MK4 = [linkage.std_lev_score(F.col('First_Name_census'),F,col('First_Name_ccs')) > 0.7,
       census.Last_Name_census == ccs.Last_Name_ccs,
       census.Sex_census == ccs.Sex_ccs,
       census.Resident_Age_census == ccs.Resident_Age_ccs,
       census.Postcode_census == ccs.Postcode_ccs]

# similar to the above, but now using a different string comparison algorithm - the Jaro comparator
MK5 = [linkage.jaro(F.col('First_Name_census'),F,col('First_Name_ccs')) > 0.7,
       census.Last_Name_census == ccs.Last_Name_ccs,
       census.Sex_census == ccs.Sex_ccs,
       census.Resident_Age_census == ccs.Resident_Age_ccs,
       census.Postcode_census == ccs.Postcode_ccs]

matchkeys = [MK1,MK2,MK3,MK4,MK5]

In [ ]:
links = linkage.deterministic_linkage(df_l = census, df_r = ccs, id_l = 'Resident_ID_crensus', id_r = 'Resident_ID_ccs', 
                                      matchkeys = matchkeys, our_dir = '/user/edwara5/census_ccs_links')

In [ ]:
links.show()