# Intermediate/advanced data manipulation in a data linkage context

This notebook is intended to be a demo of what you *could* use DLH_utils for. 

I'm sure to many a lot of this code may look very similar! We will have taken similar approaches for the vast majority of the problems faced here. We've just wrapped these mostly standard approaches up into reusable functions, hopefully to save everyone doing linkage both some time and headaches!

In [1]:
# to start, install dlh_utils if not installed already. Notice the '-U' argument to upgrade existing installations. 
!pip3 install -U 'dlh_utils'

Looking in indexes: http://sccm_functional:****@art-p-01/artifactory/api/pypi/yr-python/simple
Requirement already satisfied: dlh_utils in /home/cdsw/.local/lib/python3.6/site-packages (0.2.5)
Requirement already satisfied: graphframes<0.7,>=0.6 in /home/cdsw/.local/lib/python3.6/site-packages (from dlh_utils) (0.6)
Requirement already satisfied: jellyfish<0.10,>=0.9 in /home/cdsw/.local/lib/python3.6/site-packages (from dlh_utils) (0.9.0)
Requirement already satisfied: importlib_metadata<5.0.0,>=4.8.3 in /home/cdsw/.local/lib/python3.6/site-packages (from dlh_utils) (4.8.3)
Requirement already satisfied: pandas<0.21.0,>=0.20.1 in /usr/local/lib/python3.6/dist-packages (from dlh_utils) (0.20.1)
Requirement already satisfied: chispa<0.10.0,>=0.9.2 in /home/cdsw/.local/lib/python3.6/site-packages (from dlh_utils) (0.9.2)
Requirement already satisfied: graphframes-wrapper<0.7,>=0.6 in /home/cdsw/.local/lib/python3.6/site-packages (from dlh_utils) (0.6.0.0)
Requirement already satisfied: nose in /home/cdsw/.local/lib/python3.6/site-packages (from graphframes<0.7,>=0.6->dlh_utils) (1.3.7)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from graphframes<0.7,>=0.6->dlh_utils) (1.13.3)
Requirement already satisfied: typing-extensions>=3.6.4 in /home/cdsw/.local/lib/python3.6/site-packages (from importlib_metadata<5.0.0,>=4.8.3->dlh_utils) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /home/cdsw/.local/lib/python3.6/site-packages (from importlib_metadata<5.0.0,>=4.8.3->dlh_utils) (3.6.0)
Requirement already satisfied: python-dateutil>=2 in /usr/local/lib/python3.6/dist-packages (from pandas<0.21.0,>=0.20.1->dlh_utils) (2.8.0)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas<0.21.0,>=0.20.1->dlh_utils) (2019.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2->pandas<0.21.0,>=0.20.1->dlh_utils) (1.12.0)

In [2]:
# import necessary libraries
import pyspark.sql.functions as F
import pandas as pd

from dlh_utils import utilities
from dlh_utils import dataframes
from dlh_utils import linkage
from dlh_utils import standardisation
from dlh_utils import sessions
from dlh_utils import profiling
from dlh_utils import flags

In [3]:
# you can use our sessions module to set up your spark session
# this will also create a Spark UI, which you can use to track your code's efficiency
spark = sessions.getOrCreateSparkSession(appName = 'dlh_utils_demo', size = 'medium')

In [4]:
# read in raw data
census = pd.read_csv("/home/cdsw/dlh_utils_demo/census_residents.csv")
ccs = pd.read_csv("/home/cdsw/dlh_utils_demo/ccs_perturbed.csv")

# note, if this was stored in Hue, the read_format() function from the utilities module would've been useful

# for demo purposes, let's convert this to a spark df using utilities
census = utilities.pandas_to_spark(census)
ccs = utilities.pandas_to_spark(ccs)

To give a quick overview of the features of our data, we can use the **describe()** function from the profiling module:

In [5]:
descriptive_census = profiling.df_describe(census,
                                           output_mode = 'pandas',
                                           approx_distinct = False,
                                           rsd = 0.05
                                           )
descriptive_census

,variable,type,row_count,distinct,percent_distinct,null,percent_null,not_null,percent_not_null,empty,percent_empty,min,max,min_l,max_l,max_l_before_point,min_l_before_point,max_l_after_point,min_l_after_point
0,Address,string,100001,100001,100.000000,0,0.0,100001,100.0,0,0.000000,None,None,19,51,None,None,None,None
1,ENUM_FNAME,string,100001,1092,1.091989,0,0.0,100001,100.0,0,0.000000,None,None,3,15,None,None,None,None
2,ENUM_SNAME,string,100001,1493,1.492985,0,0.0,100001,100.0,0,0.000000,None,None,3,15,None,None,None,None
3,ID,string,100001,100001,100.000000,0,0.0,100001,100.0,0,0.000000,None,None,20,20,None,None,None,None
4,Marital_Status,string,100001,6,0.006000,0,0.0,100001,100.0,0,0.000000,None,None,3,17,None,None,None,None
5,Postcode,string,100001,99457,99.456005,0,0.0,100001,100.0,0,0.000000,None,None,6,8,None,None,None,None
6,Sex,string,100001,10,0.010000,0,0.0,100001,100.0,5636,5.635944,None,None,1,6,None,None,None,None
7,Resident_Day_Of_Birth,bigint,100001,31,0.031000,0,0.0,100001,100.0,0,0.000000,1,31,1,2,None,None,None,None
8,Resident_Month_Of_Birth,bigint,100001,12,0.012000,0,0.0,100001,100.0,0,0.000000,1,12,1,2,None,None,None,None
9,Resident_Year_Of_Birth,bigint,100001,92,0.091999,0,0.0,100001,100.0,0,0.000000,1856,2022,4,4,None,None,None,None
10,Resident_Age,bigint,100001,92,0.091999,0,0.0,100001,100.0,0,0.000000,0,166,1,3,None,None,None,None
11,DOB,string,100001,31044,31.043690,0,0.0,100001,100.0,0,0.000000,None,None,10,10,None,None,None,None

From this we can see that we have a percentage distinct in our sex variable far from 50% which we would expect. This could suggest a high level of missingness, but we can see from the rest of the output that we don't have any missing or null sex values, suggesting some have been incorrectly coded or skewed in the data.

We can also see that, whilst there are no nulls, the Sex variable contains a lot of empty values. This suggests there are different definitions for nulls, which we can cast to True Nones later when we standardise the data. 

On bigger data, these observations can give quick insights into which variables may be the most/least useful for matching. 

The **value_counts()** functions shows the top or bottom n values in our data, and is another crucial step when profiling our data. Along with cleaning and standardising our data, this is one of the most time consuming part of data linkage.  

Value counts can give us an overview of the different types of missingness in these variables, which will be useful when we come to standardise missingness in our data later.

Whilst it is important to know and understand both sets of data, for the purpose of the demo we will only look at the CCS dataset.

In [6]:
value_counts_ccs = profiling.value_counts(ccs,
                                         limit = 5,
                                         output_mode = 'pandas'
                                         )

# the value counts function returns two dataframes; one for the top n values in each variable and one for the bottom n values. 
# we can select the top value count dataframe by subsetting the value_counts_ccs tuple:

value_counts_ccs[0]

,Address,Address_count,ENUM_FNAME,ENUM_FNAME_count,ENUM_SNAME,ENUM_SNAME_count,ID,ID_count,Marital_Status,Marital_Status_count,...,Sex,Sex_count,Resident_Year_Of_Birth,Resident_Year_Of_Birth_count,Resident_Age,Resident_Age_count,DOB,DOB_count,Resident_ID,Resident_ID_count
0,-9,50,-9,48,-7,51,-7,36,Single,284,...,Female,229,-9,45,-9,43,-7,37,c1289733399550728998,1
1,"Studio 4\nSimpson glens, Lake Paul",4,Victoria,10,Smith,28,c7949424308517863587,3,###,136,...,Male,213,1938,22,84,21,16-11-1994,4,c1406628632687313907,1
2,"Studio 36\nKing forges, Rileyburgh",3,Tracey,7,Jones,16,c5305314753251312254,3,Divorced,128,...,M,135,2020,21,11,20,04-09-1955,4,c1462481395779002923,1
3,"Studio 5\nFuller burgs, New Lindsey",3,Howard,7,Roberts,13,c5873915529124500787,3,Married,116,...,F,133,2005,21,17,20,23-08-1963,4,c1610482117117913758,1
4,"Studio 4\nDiane underpass, Eleanorton",3,Glen,6,Taylor,12,c3119031928535250479,2,Civil partnership,110,...,-7,97,1997,20,2,20,10-03-1987,4,c1631997721075661206,1

In [7]:
# we can do the same for the bottom values: 

value_counts_ccs[1]

,Address,Address_count,ENUM_FNAME,ENUM_FNAME_count,ENUM_SNAME,ENUM_SNAME_count,ID,ID_count,Marital_Status,Marital_Status_count,...,Sex,Sex_count,Resident_Year_Of_Birth,Resident_Year_Of_Birth_count,Resident_Age,Resident_Age_count,DOB,DOB_count,Resident_ID,Resident_ID_count
0,"1 Jones centers, Cooperhaven",1,Lauren,1,ChapmKan,1,C5979341665824936717,1,Civil partnerQship,1,...,1,44,1939,2,83,3,07-03-2020,1,c1289733399550728998,1
1,"45 Alan plains, Denisshire",1,Mr Julie,1,Der-Barton,1,c1045458737369U422279,1,Divorce?d,1,...,2,54,1975,5,43,4,13-03-1955,1,c1406628632687313907,1
2,"1 Murray meadows, West Jessica",1,LeslEy,1,D\er-Hunt,1,c1364885074130231367,1,Si0ngle,1,...,,58,1979,5,46,5,08-02-1972,1,c1462481395779002923,1
3,"0 Higgins glens, North Joshuaborough",1,Harry,1,Sinclair,1,c1874534031179144583,1,"si,ngle",1,...,-9,63,2022,6,49,6,02-06-1987,1,c1610482117117913758,1
4,"28 James row, New Tobystad",1,Lydia,1,Heath,1,c2060046012088437501,1,DivorcSed,1,...,NAN,70,1973,6,10,6,08-09-1997,1,c1631997721075661206,1

To flag out of scope values in our data, we can use the **flag()** function:

In [46]:
# This will flag invalid values in our data, for example, by seeing if there is anyone over the age of 100 in our data:

out_of_scope = flags.flag(df = census,
                          ref_col = 'Resident_Age',
                          condition = '>=',
                          condition_value = '110',
                          alias = None,
                          prefix = 'FLAG',
                          fill_null = None
                         )

out_of_scope

+--------------------+------------+------------+--------------------+-----------------+--------+------+---------------------+-----------------------+----------------------+------------+----------+
|             Address|  ENUM_FNAME|  ENUM_SNAME|                  ID|   Marital_Status|Postcode|   Sex|Resident_Day_Of_Birth|Resident_Month_Of_Birth|Resident_Year_Of_Birth|Resident_Age|       DOB|
+--------------------+------------+------------+--------------------+-----------------+--------+------+---------------------+-----------------------+----------------------+------------+----------+
|Studio 48
Cooper ...|Mrs Margaret|        Ross|c4064232788196233825|              NAN|CV25 4ZY|      |                    6|                      8|                  1956|          66|06/08/1956|
|43 Rebecca street...|  Mrs Darren|     Baldwin|c7365350289112516537|           Single|  E2 0LP|    -7|                   29|                     12|                  2013|           9|29/12/2013|
|04 Lane shores, S...|    Mrs Eric|        Bibi|c8205386463232611653|           Single|DY01 1TR|Female|                   11|                     10|                  2016|           6|11/10/2016|
|7 Noble valley, L...|       Diane|        Kent|c2381984462771197706|             ### |SO2P 9WS|  Male|                   28|                      1|                  1972|          50|28/01/1972|
|57 Pearson corner...|    Mr Grace|       Baker|c6384487823194391043|Civil partnership|EH4P 9RN|Female|                   26|                     11|                  1966|          56|26/11/1966|
|0 Jeremy mountain...|   Mrs Chloe|    Chandler|c7777611692672993318|         Divorced| G7F 3RE|     2|                    3|                      3|                  1963|          59|03/03/1963|
|Studio 5
Fuller b...|    Mr Katie|Der-Anderson|c7179219388724687888|         Divorced| G88 6DB|Female|                    9|                      4|                  1960|          62|09/04/1960|
|644 Garry walk, B...|  Mrs Denise|        King|c3458599216452476033|         Divorced|FY9W 4RU|     F|                   28|                     11|                  1981|          41|28/11/1981|
|Studio 73
Clayton...|       Hazel|  Der-Barton|c9188328200772085537|          Married|LN96 9XA|  Male|                   13|                      4|                  1947|          75|13/04/1947|
|Flat 92B
Ross exp...|     Harriet|     Chapman|c1862566591390004870|           Single| S0D 9AX|     M|                    8|                     11|                  2001|          21|08/11/2001|
|8 Grant spurs, So...|    Mr Kerry|    Der-Wood|c1199822345118660092|           Single| B3F 4UD|   NAN|                    4|                      7|                  1986|          36|04/07/1986|
|414 Forster plain...|        Katy|     Roberts|c5909695238076389250|             ### |IG8E 1QR|    -7|                   28|                      9|                  1993|          29|28/09/1993|
|21 Stephen island...|    Mr Bruce|       Walsh|c3968731300211998424|             ### |  L0 1AF|     1|                   26|                      3|                  1996|          26|26/03/1996|
|Flat 78
Jones gle...|      Martyn|       Carey|c7290859041904901395|             ### | B48 3PN|Female|                    4|                      4|                  1971|          51|04/04/1971|
|Flat 11q
Bryan we...|        Glen|       Smith|c2177412424769566764|          Married| TN6 6JB|     1|                   11|                     10|                  1973|          49|11/10/1973|
|Flat 2
Oliver cor...|       Reece|        Long|c5878830792126177356|           Single|CM6R 8DA|   NAN|                    1|                      3|                  2017|           5|01/03/2017|
|Studio 6
Dixon by...|Mrs Nicholas|         May|c5034189866420525988|           Single|CA8P 5UH|     1|                    8|                      4|                  2011|          11|08/04/2011|
|824 Jeffrey roads...|      Lauren|      Rahman|c3545115507001216032|           Single|ST13 2AD|  Male|                    4|                     12|                  2013|           9|04/12/2013|
|Flat 22
Kennedy k...|Mrs Nicholas|     Roberts|c7493685114512294386|Civil partnership|  E8 5FD|  Male|                   29|                      7|                  1970|          52|29/07/1970|
|2 Barlow estates,...|        Marc|     Fleming|c5067884630165527662|          Married| L4H 4DQ|Female|                   24|                      8|                  1983|          39|24/08/1983|
+--------------------+------------+------------+--------------------+-----------------+--------+------+---------------------+-----------------------+----------------------+------------+----------+
only showing top 20 rows

We can see we have supercentenarian Ben in our data, which is probably wrong, but we've also got a few different date types that have been flagged as well. 

If you are working with larger data, the **flag_check()** and **flag_summary()** functions can produce more detailed flag metrics that will help you spot issues like this more readily. 

Let's move on to cleaning and standardising where we can start to deal with these issues.

In [47]:
census

DataFrame[Address: string, ENUM_FNAME: string, ENUM_SNAME: string, ID: string, Marital_Status: string, Postcode: string, Sex: string, Resident_Day_Of_Birth: bigint, Resident_Month_Of_Birth: bigint, Resident_Year_Of_Birth: bigint, Resident_Age: bigint, DOB: string]

In [48]:
ccs

+--------------------+------------+------------+--------------------+-----------------+----------+------+----------------------+------------+----------+--------------------+
|             Address|  ENUM_FNAME|  ENUM_SNAME|                  ID|   Marital_Status|  Postcode|   Sex|Resident_Year_Of_Birth|Resident_Age|       DOB|         Resident_ID|
+--------------------+------------+------------+--------------------+-----------------+----------+------+----------------------+------------+----------+--------------------+
|Studio 48
Cooper ...|          -9|        Ross|c4064232788196233825|              NAN| CV25 4ZYC|      |                  1956|          66|06-08-1956|c2026847926404610461|
|43 Rebecca street...|  Mrs Darren|     Baldwin|c7365350289112516537|           Single|        -7|     M|                  2013|           9|29-12-2013|c7839596180442651345|
|                  -9|    Mrs Eric|        Bibi|c8205386463232611653|           Single|  SP26 8TN|Female|                  2016|           6|21-09-1994|c3258728696626565719|
| 7 Noble valley, ...|Mrs Margaret|        Kent|c2381984462771197706|             ### |  SO2P 9WS|  Male|                  1972|          50|28-01-1972|c2287010195568088798|
|57 Pearson corner...|    Mr Grace|       Baker|c6384487823194391043|Civil partnership|  eH4p 9rn|Female|                  1966|          56|26-11-1966|c1945351111358374057|
|                  -9|   Mrs Chloe|    Chandler|c7777611692672993318|         Divorced|   G7F 3RE|     2|                  1963|          59|09-07-1934|c7831454145019129197|
|Studio 5
Fuller b...|    Mr Katie|Der-Anderson|c7179219388724687888|         Divorced|   G88 6DB|Female|                  1960|          62|        -7|c6030118478018109776|
|644 Garry walk, B...|  Mrs Denise|        King|c3458599216452476033|         Divorced|    L2 6LG|     F|                  1981|          41|28-11-1981|c6446332115853614978|
|Studio 73
Clayton...|          -9|  Der-Barton|c9188328200772085537|               -9|  LN96 9XA|  Male|                  1947|          -9|16-11-1994|c1293143515607798169|
|311 Eric track, L...|      Hayley|    ChapmKan|c1862566591390004870|           Single|   S0D 9AX|     M|                  2001|          21|08-11-2001|c1864186096263678574|
|8 Grant spurs, So...|    Mr Kerry|    Der-Wood|c1199822345118660092|           Single|  DE1 4PW |   NAN|                  1986|          36|04-07-1986|c3145917995920697483|
|Flat 89
Williams ...|        Katy|     Roberts|c5909695238076389250|             ### |  IG8E 1QR|    -7|                  1993|          29|13-07-1988|c6552642720119322321|
|21 Stephen island...|     Stewart|          -7|c39687313002119.9...|             ### |   L0 1WAF|     1|                  1996|          26|26-03-1996|c6176572018665656243|
|flat 78
Jones Gle...|      Martyn|       carey|C7290859041904901395|             ### |   B48 3PN|Female|                  1971|          51|04-04-1971|c7604115266222097961|
|                  -9|        Glen|       Smith|c2177412424769566764|          Married|  TN6M 6JB|     1|                  1973|          49|11-10-1973|c7468581141273039753|
|Flat 2
Oliver cor...|          -9|      Wilson|c5878830792126177356|           Single|  CM6R 8DA|   NAN|                  2017|           5|01-03-2017|c4869387381345962230|
|Studio 6
Dixon by...|        Sean|         May|c5034189866420525988|          SiWngle|  CA8P 5UH|     1|                  2011|          11|06-03-1963|c5143222138124291040|
|824 J,effrey road...|      Lauren|      Mistry|c3545115507001216032|           Single|  ST13 2AD|  Male|                  2013|           9|04-12-2013|c3565856380474498476|
|Flat 22
Kennedy k...|Mrs Nicholas|     Roberts|c7493685114512294386|Civil partnership|    E8 5FD|  Male|                  1970|          52|29-07-1970|c9017880294935156107|
|2 Barlow estates,...|    Mr Jason|     Fleming|c5067884630165527662|          married|  HS6R 8ZR|Female|                  1983|          39|24-08-1983|c7998762617471362847|
+--------------------+------------+------------+--------------------+-----------------+----------+------+----------------------+------------+----------+--------------------+
only showing top 20 rows

# Data Cleaning & Standardisation

In [77]:
# Looks like there is a new line character in address - this will need to be removed
# We can replace these '\n' values with spaces:

census = standardisation.reg_replace(df = census, dic = {' ': '\n'})
ccs = standardisation.reg_replace(df = ccs, dic = {' ': '\n'})

ccs.select('Address')

AnalysisException: "cannot resolve '`Address`' given input columns: [Resident_ID_df2_ccs, Resident_Year_Of_Birth_df2_ccs, POSTCODE_df2_ccs, Address_df2_ccs, ENUM_FNAME_df2_ccs, TOWN_df2_ccs, ENUM_SNAME_df2_ccs, Resident_Age_df2_ccs, SEX_df2_ccs, DOB_df2_ccs, STREET_df2_ccs, Marital_Status_df2_ccs, ID_CCS_df2_ccs, PC_DISTRICT_df2_ccs];;\n'Project ['Address]\n+- Project [Address_df2_ccs#14584, ENUM_FNAME_df2_ccs#14599, ENUM_SNAME_df2_ccs#14614, ID_CCS_df2_ccs#14629, Marital_Status_df2_ccs#14644, POSTCODE_df2_ccs#14659, SEX_df2_ccs#14674, Resident_Year_Of_Birth_df2_ccs#14689, Resident_Age_df2_ccs#14704, DOB_df2_ccs#14719, Resident_ID_df2_ccs#14734, STREET_df2_ccs#14749, TOWN_df2_ccs#14764, regexp_replace(PC_DISTRICT_df2_ccs#14329, \n,  ) AS PC_DISTRICT_df2_ccs#14779]\n   +- Project [Address_df2_ccs#14584, ENUM_FNAME_df2_ccs#14599, ENUM_SNAME_df2_ccs#14614, ID_CCS_df2_ccs#14629, Marital_Status_df2_ccs#14644, POSTCODE_df2_ccs#14659, SEX_df2_ccs#14674, Resident_Year_Of_Birth_df2_ccs#14689, Resident_Age_df2_ccs#14704, DOB_df2_ccs#14719, Resident_ID_df2_ccs#14734, STREET_df2_ccs#14749, regexp_replace(TOWN_df2_ccs#14314, \n,  ) AS TOWN_df2_ccs#14764, PC_DISTRICT_df2_ccs#14329]\n      +- Project [Address_df2_ccs#14584, ENUM_FNAME_df2_ccs#14599, ENUM_SNAME_df2_ccs#14614, ID_CCS_df2_ccs#14629, Marital_Status_df2_ccs#14644, POSTCODE_df2_ccs#14659, SEX_df2_ccs#14674, Resident_Year_Of_Birth_df2_ccs#14689, Resident_Age_df2_ccs#14704, DOB_df2_ccs#14719, Resident_ID_df2_ccs#14734, regexp_replace(STREET_df2_ccs#14299, \n,  ) AS STREET_df2_ccs#14749, TOWN_df2_ccs#14314, PC_DISTRICT_df2_ccs#14329]\n         +- Project [Address_df2_ccs#14584, ENUM_FNAME_df2_ccs#14599, ENUM_SNAME_df2_ccs#14614, ID_CCS_df2_ccs#14629, Marital_Status_df2_ccs#14644, POSTCODE_df2_ccs#14659, SEX_df2_ccs#14674, Resident_Year_Of_Birth_df2_ccs#14689, Resident_Age_df2_ccs#14704, DOB_df2_ccs#14719, regexp_replace(Resident_ID_df2_ccs#14284, \n,  ) AS Resident_ID_df2_ccs#14734, STREET_df2_ccs#14299, TOWN_df2_ccs#14314, PC_DISTRICT_df2_ccs#14329]\n            +- Project [Address_df2_ccs#14584, ENUM_FNAME_df2_ccs#14599, ENUM_SNAME_df2_ccs#14614, ID_CCS_df2_ccs#14629, Marital_Status_df2_ccs#14644, POSTCODE_df2_ccs#14659, SEX_df2_ccs#14674, Resident_Year_Of_Birth_df2_ccs#14689, Resident_Age_df2_ccs#14704, regexp_replace(DOB_df2_ccs#14269, \n,  ) AS DOB_df2_ccs#14719, Resident_ID_df2_ccs#14284, STREET_df2_ccs#14299, TOWN_df2_ccs#14314, PC_DISTRICT_df2_ccs#14329]\n               +- Project [Address_df2_ccs#14584, ENUM_FNAME_df2_ccs#14599, ENUM_SNAME_df2_ccs#14614, ID_CCS_df2_ccs#14629, Marital_Status_df2_ccs#14644, POSTCODE_df2_ccs#14659, SEX_df2_ccs#14674, Resident_Year_Of_Birth_df2_ccs#14689, regexp_replace(Resident_Age_df2_ccs#14254, \n,  ) AS Resident_Age_df2_ccs#14704, DOB_df2_ccs#14269, Resident_ID_df2_ccs#14284, STREET_df2_ccs#14299, TOWN_df2_ccs#14314, PC_DISTRICT_df2_ccs#14329]\n                  +- Project [Address_df2_ccs#14584, ENUM_FNAME_df2_ccs#14599, ENUM_SNAME_df2_ccs#14614, ID_CCS_df2_ccs#14629, Marital_Status_df2_ccs#14644, POSTCODE_df2_ccs#14659, SEX_df2_ccs#14674, regexp_replace(Resident_Year_Of_Birth_df2_ccs#14239, \n,  ) AS Resident_Year_Of_Birth_df2_ccs#14689, Resident_Age_df2_ccs#14254, DOB_df2_ccs#14269, Resident_ID_df2_ccs#14284, STREET_df2_ccs#14299, TOWN_df2_ccs#14314, PC_DISTRICT_df2_ccs#14329]\n                     +- Project [Address_df2_ccs#14584, ENUM_FNAME_df2_ccs#14599, ENUM_SNAME_df2_ccs#14614, ID_CCS_df2_ccs#14629, Marital_Status_df2_ccs#14644, POSTCODE_df2_ccs#14659, regexp_replace(SEX_df2_ccs#14224, \n,  ) AS SEX_df2_ccs#14674, Resident_Year_Of_Birth_df2_ccs#14239, Resident_Age_df2_ccs#14254, DOB_df2_ccs#14269, Resident_ID_df2_ccs#14284, STREET_df2_ccs#14299, TOWN_df2_ccs#14314, PC_DISTRICT_df2_ccs#14329]\n                        +- Project [Address_df2_ccs#14584, ENUM_FNAME_df2_ccs#14599, ENUM_SNAME_df2_ccs#14614, ID_CCS_df2_ccs#14629, Marital_Status_df2_ccs#14644, regexp_replace(POSTCODE_df2_ccs#14209, \n,  ) AS POSTCODE_df2_ccs#14659, SEX_df2_ccs#14224, Resident_Year_Of_Birth_df2_ccs#14239, Resident_Age_df2_ccs#14254, DOB_df2_ccs#14269, Resident_ID_df2_ccs#14284, STREET_df2_ccs#14299, TOWN_df2_ccs#14314, PC_DISTRICT_df2_ccs#14329]\n                           +- Project [Address_df2_ccs#14584, ENUM_FNAME_df2_ccs#14599, ENUM_SNAME_df2_ccs#14614, ID_CCS_df2_ccs#14629, regexp_replace(Marital_Status_df2_ccs#14194, \n,  ) AS Marital_Status_df2_ccs#14644, POSTCODE_df2_ccs#14209, SEX_df2_ccs#14224, Resident_Year_Of_Birth_df2_ccs#14239, Resident_Age_df2_ccs#14254, DOB_df2_ccs#14269, Resident_ID_df2_ccs#14284, STREET_df2_ccs#14299, TOWN_df2_ccs#14314, PC_DISTRICT_df2_ccs#14329]\n                              +- Project [Address_df2_ccs#14584, ENUM_FNAME_df2_ccs#14599, ENUM_SNAME_df2_ccs#14614, regexp_replace(ID_CCS_df2_ccs#14179, \n,  ) AS ID_CCS_df2_ccs#14629, Marital_Status_df2_ccs#14194, POSTCODE_df2_ccs#14209, SEX_df2_ccs#14224, Resident_Year_Of_Birth_df2_ccs#14239, Resident_Age_df2_ccs#14254, DOB_df2_ccs#14269, Resident_ID_df2_ccs#14284, STREET_df2_ccs#14299, TOWN_df2_ccs#14314, PC_DISTRICT_df2_ccs#14329]\n                                 +- Project [Address_df2_ccs#14584, ENUM_FNAME_df2_ccs#14599, regexp_replace(ENUM_SNAME_df2_ccs#14164, \n,  ) AS ENUM_SNAME_df2_ccs#14614, ID_CCS_df2_ccs#14179, Marital_Status_df2_ccs#14194, POSTCODE_df2_ccs#14209, SEX_df2_ccs#14224, Resident_Year_Of_Birth_df2_ccs#14239, Resident_Age_df2_ccs#14254, DOB_df2_ccs#14269, Resident_ID_df2_ccs#14284, STREET_df2_ccs#14299, TOWN_df2_ccs#14314, PC_DISTRICT_df2_ccs#14329]\n                                    +- Project [Address_df2_ccs#14584, regexp_replace(ENUM_FNAME_df2_ccs#14149, \n,  ) AS ENUM_FNAME_df2_ccs#14599, ENUM_SNAME_df2_ccs#14164, ID_CCS_df2_ccs#14179, Marital_Status_df2_ccs#14194, POSTCODE_df2_ccs#14209, SEX_df2_ccs#14224, Resident_Year_Of_Birth_df2_ccs#14239, Resident_Age_df2_ccs#14254, DOB_df2_ccs#14269, Resident_ID_df2_ccs#14284, STREET_df2_ccs#14299, TOWN_df2_ccs#14314, PC_DISTRICT_df2_ccs#14329]\n                                       +- Project [regexp_replace(Address_df2_ccs#14134, \n,  ) AS Address_df2_ccs#14584, ENUM_FNAME_df2_ccs#14149, ENUM_SNAME_df2_ccs#14164, ID_CCS_df2_ccs#14179, Marital_Status_df2_ccs#14194, POSTCODE_df2_ccs#14209, SEX_df2_ccs#14224, Resident_Year_Of_Birth_df2_ccs#14239, Resident_Age_df2_ccs#14254, DOB_df2_ccs#14269, Resident_ID_df2_ccs#14284, STREET_df2_ccs#14299, TOWN_df2_ccs#14314, PC_DISTRICT_df2_ccs#14329]\n                                          +- Project [Address_df2_ccs#14134, ENUM_FNAME_df2_ccs#14149, ENUM_SNAME_df2_ccs#14164, ID_CCS_df2_ccs#14179, Marital_Status_df2_ccs#14194, POSTCODE_df2_ccs#14209, SEX_df2_ccs#14224, Resident_Year_Of_Birth_df2_ccs#14239, Resident_Age_df2_ccs#14254, DOB_df2_ccs#14269, Resident_ID_df2_ccs#14284, STREET_df2_ccs#14299, TOWN_df2_ccs#14314, PC_DISTRICT_df2#13550 AS PC_DISTRICT_df2_ccs#14329]\n                                             +- Project [Address_df2_ccs#14134, ENUM_FNAME_df2_ccs#14149, ENUM_SNAME_df2_ccs#14164, ID_CCS_df2_ccs#14179, Marital_Status_df2_ccs#14194, POSTCODE_df2_ccs#14209, SEX_df2_ccs#14224, Resident_Year_Of_Birth_df2_ccs#14239, Resident_Age_df2_ccs#14254, DOB_df2_ccs#14269, Resident_ID_df2_ccs#14284, STREET_df2_ccs#14299, TOWN_df2#13535 AS TOWN_df2_ccs#14314, PC_DISTRICT_df2#13550]\n                                                +- Project [Address_df2_ccs#14134, ENUM_FNAME_df2_ccs#14149, ENUM_SNAME_df2_ccs#14164, ID_CCS_df2_ccs#14179, Marital_Status_df2_ccs#14194, POSTCODE_df2_ccs#14209, SEX_df2_ccs#14224, Resident_Year_Of_Birth_df2_ccs#14239, Resident_Age_df2_ccs#14254, DOB_df2_ccs#14269, Resident_ID_df2_ccs#14284, STREET_df2#13520 AS STREET_df2_ccs#14299, TOWN_df2#13535, PC_DISTRICT_df2#13550]\n                                                   +- Project [Address_df2_ccs#14134, ENUM_FNAME_df2_ccs#14149, ENUM_SNAME_df2_ccs#14164, ID_CCS_df2_ccs#14179, Marital_Status_df2_ccs#14194, POSTCODE_df2_ccs#14209, SEX_df2_ccs#14224, Resident_Year_Of_Birth_df2_ccs#14239, Resident_Age_df2_ccs#14254, DOB_df2_ccs#14269, Resident_ID_df2#13505 AS Resident_ID_df2_ccs#14284, STREET_df2#13520, TOWN_df2#13535, PC_DISTRICT_df2#13550]\n                                                      +- Project [Address_df2_ccs#14134, ENUM_FNAME_df2_ccs#14149, ENUM_SNAME_df2_ccs#14164, ID_CCS_df2_ccs#14179, Marital_Status_df2_ccs#14194, POSTCODE_df2_ccs#14209, SEX_df2_ccs#14224, Resident_Year_Of_Birth_df2_ccs#14239, Resident_Age_df2_ccs#14254, DOB_df2#13490 AS DOB_df2_ccs#14269, Resident_ID_df2#13505, STREET_df2#13520, TOWN_df2#13535, PC_DISTRICT_df2#13550]\n                                                         +- Project [Address_df2_ccs#14134, ENUM_FNAME_df2_ccs#14149, ENUM_SNAME_df2_ccs#14164, ID_CCS_df2_ccs#14179, Marital_Status_df2_ccs#14194, POSTCODE_df2_ccs#14209, SEX_df2_ccs#14224, Resident_Year_Of_Birth_df2_ccs#14239, Resident_Age_df2#13475 AS Resident_Age_df2_ccs#14254, DOB_df2#13490, Resident_ID_df2#13505, STREET_df2#13520, TOWN_df2#13535, PC_DISTRICT_df2#13550]\n                                                            +- Project [Address_df2_ccs#14134, ENUM_FNAME_df2_ccs#14149, ENUM_SNAME_df2_ccs#14164, ID_CCS_df2_ccs#14179, Marital_Status_df2_ccs#14194, POSTCODE_df2_ccs#14209, SEX_df2_ccs#14224, Resident_Year_Of_Birth_df2#13460 AS Resident_Year_Of_Birth_df2_ccs#14239, Resident_Age_df2#13475, DOB_df2#13490, Resident_ID_df2#13505, STREET_df2#13520, TOWN_df2#13535, PC_DISTRICT_df2#13550]\n                                                               +- Project [Address_df2_ccs#14134, ENUM_FNAME_df2_ccs#14149, ENUM_SNAME_df2_ccs#14164, ID_CCS_df2_ccs#14179, Marital_Status_df2_ccs#14194, POSTCODE_df2_ccs#14209, SEX_df2#13445 AS SEX_df2_ccs#14224, Resident_Year_Of_Birth_df2#13460, Resident_Age_df2#13475, DOB_df2#13490, Resident_ID_df2#13505, STREET_df2#13520, TOWN_df2#13535, PC_DISTRICT_df2#13550]\n                                                                  +- Project [Address_df2_ccs#14134, ENUM_FNAME_df2_ccs#14149, ENUM_SNAME_df2_ccs#14164, ID_CCS_df2_ccs#14179, Marital_Status_df2_ccs#14194, POSTCODE_df2#13430 AS POSTCODE_df2_ccs#14209, SEX_df2#13445, Resident_Year_Of_Birth_df2#13460, Resident_Age_df2#13475, DOB_df2#13490, Resident_ID_df2#13505, STREET_df2#13520, TOWN_df2#13535, PC_DISTRICT_df2#13550]\n                                                                     +- Project [Address_df2_ccs#14134, ENUM_FNAME_df2_ccs#14149, ENUM_SNAME_df2_ccs#14164, ID_CCS_df2_ccs#14179, Marital_Status_df2#13415 AS Marital_Status_df2_ccs#14194, POSTCODE_df2#13430, SEX_df2#13445, Resident_Year_Of_Birth_df2#13460, Resident_Age_df2#13475, DOB_df2#13490, Resident_ID_df2#13505, STREET_df2#13520, TOWN_df2#13535, PC_DISTRICT_df2#13550]\n                                                                        +- Project [Address_df2_ccs#14134, ENUM_FNAME_df2_ccs#14149, ENUM_SNAME_df2_ccs#14164, ID_CCS_df2#13400 AS ID_CCS_df2_ccs#14179, Marital_Status_df2#13415, POSTCODE_df2#13430, SEX_df2#13445, Resident_Year_Of_Birth_df2#13460, Resident_Age_df2#13475, DOB_df2#13490, Resident_ID_df2#13505, STREET_df2#13520, TOWN_df2#13535, PC_DISTRICT_df2#13550]\n                                                                           +- Project [Address_df2_ccs#14134, ENUM_FNAME_df2_ccs#14149, ENUM_SNAME_df2#13385 AS ENUM_SNAME_df2_ccs#14164, ID_CCS_df2#13400, Marital_Status_df2#13415, POSTCODE_df2#13430, SEX_df2#13445, Resident_Year_Of_Birth_df2#13460, Resident_Age_df2#13475, DOB_df2#13490, Resident_ID_df2#13505, STREET_df2#13520, TOWN_df2#13535, PC_DISTRICT_df2#13550]\n                                                                              +- Project [Address_df2_ccs#14134, ENUM_FNAME_df2#13370 AS ENUM_FNAME_df2_ccs#14149, ENUM_SNAME_df2#13385, ID_CCS_df2#13400, Marital_Status_df2#13415, POSTCODE_df2#13430, SEX_df2#13445, Resident_Year_Of_Birth_df2#13460, Resident_Age_df2#13475, DOB_df2#13490, Resident_ID_df2#13505, STREET_df2#13520, TOWN_df2#13535, PC_DISTRICT_df2#13550]\n                                                                                 +- Project [Address_df2#13355 AS Address_df2_ccs#14134, ENUM_FNAME_df2#13370, ENUM_SNAME_df2#13385, ID_CCS_df2#13400, Marital_Status_df2#13415, POSTCODE_df2#13430, SEX_df2#13445, Resident_Year_Of_Birth_df2#13460, Resident_Age_df2#13475, DOB_df2#13490, Resident_ID_df2#13505, STREET_df2#13520, TOWN_df2#13535, PC_DISTRICT_df2#13550]\n                                                                                    +- Project [Address_df2#13355, ENUM_FNAME_df2#13370, ENUM_SNAME_df2#13385, ID_CCS_df2#13400, Marital_Status_df2#13415, POSTCODE_df2#13430, SEX_df2#13445, Resident_Year_Of_Birth_df2#13460, Resident_Age_df2#13475, DOB_df2#13490, Resident_ID_df2#13505, STREET_df2#13520, TOWN_df2#13535, PC_DISTRICT#13069 AS PC_DISTRICT_df2#13550]\n                                                                                       +- Project [Address_df2#13355, ENUM_FNAME_df2#13370, ENUM_SNAME_df2#13385, ID_CCS_df2#13400, Marital_Status_df2#13415, POSTCODE_df2#13430, SEX_df2#13445, Resident_Year_Of_Birth_df2#13460, Resident_Age_df2#13475, DOB_df2#13490, Resident_ID_df2#13505, STREET_df2#13520, TOWN#12953 AS TOWN_df2#13535, PC_DISTRICT#13069]\n                                                                                          +- Project [Address_df2#13355, ENUM_FNAME_df2#13370, ENUM_SNAME_df2#13385, ID_CCS_df2#13400, Marital_Status_df2#13415, POSTCODE_df2#13430, SEX_df2#13445, Resident_Year_Of_Birth_df2#13460, Resident_Age_df2#13475, DOB_df2#13490, Resident_ID_df2#13505, STREET#12922 AS STREET_df2#13520, TOWN#12953, PC_DISTRICT#13069]\n                                                                                             +- Project [Address_df2#13355, ENUM_FNAME_df2#13370, ENUM_SNAME_df2#13385, ID_CCS_df2#13400, Marital_Status_df2#13415, POSTCODE_df2#13430, SEX_df2#13445, Resident_Year_Of_Birth_df2#13460, Resident_Age_df2#13475, DOB_df2#13490, Resident_ID#12624 AS Resident_ID_df2#13505, STREET#12922, TOWN#12953, PC_DISTRICT#13069]\n                                                                                                +- Project [Address_df2#13355, ENUM_FNAME_df2#13370, ENUM_SNAME_df2#13385, ID_CCS_df2#13400, Marital_Status_df2#13415, POSTCODE_df2#13430, SEX_df2#13445, Resident_Year_Of_Birth_df2#13460, Resident_Age_df2#13475, DOB#12281 AS DOB_df2#13490, Resident_ID#12624, STREET#12922, TOWN#12953, PC_DISTRICT#13069]\n                                                                                                   +- Project [Address_df2#13355, ENUM_FNAME_df2#13370, ENUM_SNAME_df2#13385, ID_CCS_df2#13400, Marital_Status_df2#13415, POSTCODE_df2#13430, SEX_df2#13445, Resident_Year_Of_Birth_df2#13460, Resident_Age#12612 AS Resident_Age_df2#13475, DOB#12281, Resident_ID#12624, STREET#12922, TOWN#12953, PC_DISTRICT#13069]\n                                                                                                      +- Project [Address_df2#13355, ENUM_FNAME_df2#13370, ENUM_SNAME_df2#13385, ID_CCS_df2#13400, Marital_Status_df2#13415, POSTCODE_df2#13430, SEX_df2#13445, Resident_Year_Of_Birth#12600 AS Resident_Year_Of_Birth_df2#13460, Resident_Age#12612, DOB#12281, Resident_ID#12624, STREET#12922, TOWN#12953, PC_DISTRICT#13069]\n                                                                                                         +- Project [Address_df2#13355, ENUM_FNAME_df2#13370, ENUM_SNAME_df2#13385, ID_CCS_df2#13400, Marital_Status_df2#13415, POSTCODE_df2#13430, SEX#12588 AS SEX_df2#13445, Resident_Year_Of_Birth#12600, Resident_Age#12612, DOB#12281, Resident_ID#12624, STREET#12922, TOWN#12953, PC_DISTRICT#13069]\n                                                                                                            +- Project [Address_df2#13355, ENUM_FNAME_df2#13370, ENUM_SNAME_df2#13385, ID_CCS_df2#13400, Marital_Status_df2#13415, POSTCODE#13084 AS POSTCODE_df2#13430, SEX#12588, Resident_Year_Of_Birth#12600, Resident_Age#12612, DOB#12281, Resident_ID#12624, STREET#12922, TOWN#12953, PC_DISTRICT#13069]\n                                                                                                               +- Project [Address_df2#13355, ENUM_FNAME_df2#13370, ENUM_SNAME_df2#13385, ID_CCS_df2#13400, Marital_Status#12564 AS Marital_Status_df2#13415, POSTCODE#13084, SEX#12588, Resident_Year_Of_Birth#12600, Resident_Age#12612, DOB#12281, Resident_ID#12624, STREET#12922, TOWN#12953, PC_DISTRICT#13069]\n                                                                                                                  +- Project [Address_df2#13355, ENUM_FNAME_df2#13370, ENUM_SNAME_df2#13385, ID_CCS#12552 AS ID_CCS_df2#13400, Marital_Status#12564, POSTCODE#13084, SEX#12588, Resident_Year_Of_Birth#12600, Resident_Age#12612, DOB#12281, Resident_ID#12624, STREET#12922, TOWN#12953, PC_DISTRICT#13069]\n                                                                                                                     +- Project [Address_df2#13355, ENUM_FNAME_df2#13370, ENUM_SNAME#12540 AS ENUM_SNAME_df2#13385, ID_CCS#12552, Marital_Status#12564, POSTCODE#13084, SEX#12588, Resident_Year_Of_Birth#12600, Resident_Age#12612, DOB#12281, Resident_ID#12624, STREET#12922, TOWN#12953, PC_DISTRICT#13069]\n                                                                                                                        +- Project [Address_df2#13355, ENUM_FNAME#12528 AS ENUM_FNAME_df2#13370, ENUM_SNAME#12540, ID_CCS#12552, Marital_Status#12564, POSTCODE#13084, SEX#12588, Resident_Year_Of_Birth#12600, Resident_Age#12612, DOB#12281, Resident_ID#12624, STREET#12922, TOWN#12953, PC_DISTRICT#13069]\n                                                                                                                           +- Project [Address#12649 AS Address_df2#13355, ENUM_FNAME#12528, ENUM_SNAME#12540, ID_CCS#12552, Marital_Status#12564, POSTCODE#13084, SEX#12588, Resident_Year_Of_Birth#12600, Resident_Age#12612, DOB#12281, Resident_ID#12624, STREET#12922, TOWN#12953, PC_DISTRICT#13069]\n                                                                                                                              +- Project [Address#12649, ENUM_FNAME#12528, ENUM_SNAME#12540, ID_CCS#12552, Marital_Status#12564, reverse(POSTCODE#13055) AS POSTCODE#13084, SEX#12588, Resident_Year_Of_Birth#12600, Resident_Age#12612, DOB#12281, Resident_ID#12624, STREET#12922, TOWN#12953, PC_DISTRICT#13069]\n                                                                                                                                 +- Project [Address#12649, ENUM_FNAME#12528, ENUM_SNAME#12540, ID_CCS#12552, Marital_Status#12564, POSTCODE#13055, SEX#12588, Resident_Year_Of_Birth#12600, Resident_Age#12612, DOB#12281, Resident_ID#12624, STREET#12922, TOWN#12953, reverse(substring(POSTCODE#13055, 4, 4)) AS PC_DISTRICT#13069]\n                                                                                                                                    +- Project [Address#12649, ENUM_FNAME#12528, ENUM_SNAME#12540, ID_CCS#12552, Marital_Status#12564, reverse(POSTCODE#12576) AS POSTCODE#13055, SEX#12588, Resident_Year_Of_Birth#12600, Resident_Age#12612, DOB#12281, Resident_ID#12624, STREET#12922, TOWN#12953]\n                                                                                                                                       +- Deduplicate [DOB#12281, TOWN#12953, Marital_Status#12564, Resident_Age#12612, ID_CCS#12552, Address#12649, ENUM_FNAME#12528, SEX#12588, STREET#12922, Postcode#12576, ENUM_SNAME#12540, Resident_Year_Of_Birth#12600, Resident_ID#12624]\n                                                                                                                                          +- Project [Address#12649, ENUM_FNAME#12528, ENUM_SNAME#12540, ID_CCS#12552, Marital_Status#12564, Postcode#12576, SEX#12588, Resident_Year_Of_Birth#12600, Resident_Age#12612, DOB#12281, Resident_ID#12624, STREET#12922, TOWN#12953]\n                         

Let's standardise the date format to be consistent across our data in a **ddMMyyyy** format:

In [50]:
ccs = standardisation.standardise_date(ccs, col_name = "DOB", in_date_format = "dd-MM-yyyy", out_date_format = "dd/MM/yyyy")

ccs

+--------------------+------------+------------+--------------------+-----------------+----------+------+----------------------+------------+----------+--------------------+
|             Address|  ENUM_FNAME|  ENUM_SNAME|                  ID|   Marital_Status|  Postcode|   Sex|Resident_Year_Of_Birth|Resident_Age|       DOB|         Resident_ID|
+--------------------+------------+------------+--------------------+-----------------+----------+------+----------------------+------------+----------+--------------------+
|Studio 48 Cooper ...|          -9|        Ross|c4064232788196233825|              NAN| CV25 4ZYC|      |                  1956|          66|06/08/1956|c2026847926404610461|
|43 Rebecca street...|  Mrs Darren|     Baldwin|c7365350289112516537|           Single|        -7|     M|                  2013|           9|29/12/2013|c7839596180442651345|
|                  -9|    Mrs Eric|        Bibi|c8205386463232611653|           Single|  SP26 8TN|Female|                  2016|           6|21/09/1994|c3258728696626565719|
| 7 Noble valley, ...|Mrs Margaret|        Kent|c2381984462771197706|             ### |  SO2P 9WS|  Male|                  1972|          50|28/01/1972|c2287010195568088798|
|57 Pearson corner...|    Mr Grace|       Baker|c6384487823194391043|Civil partnership|  eH4p 9rn|Female|                  1966|          56|26/11/1966|c1945351111358374057|
|                  -9|   Mrs Chloe|    Chandler|c7777611692672993318|         Divorced|   G7F 3RE|     2|                  1963|          59|09/07/1934|c7831454145019129197|
|Studio 5 Fuller b...|    Mr Katie|Der-Anderson|c7179219388724687888|         Divorced|   G88 6DB|Female|                  1960|          62|      null|c6030118478018109776|
|644 Garry walk, B...|  Mrs Denise|        King|c3458599216452476033|         Divorced|    L2 6LG|     F|                  1981|          41|28/11/1981|c6446332115853614978|
|Studio 73 Clayton...|          -9|  Der-Barton|c9188328200772085537|               -9|  LN96 9XA|  Male|                  1947|          -9|16/11/1994|c1293143515607798169|
|311 Eric track, L...|      Hayley|    ChapmKan|c1862566591390004870|           Single|   S0D 9AX|     M|                  2001|          21|08/11/2001|c1864186096263678574|
|8 Grant spurs, So...|    Mr Kerry|    Der-Wood|c1199822345118660092|           Single|  DE1 4PW |   NAN|                  1986|          36|04/07/1986|c3145917995920697483|
|Flat 89 Williams ...|        Katy|     Roberts|c5909695238076389250|             ### |  IG8E 1QR|    -7|                  1993|          29|13/07/1988|c6552642720119322321|
|21 Stephen island...|     Stewart|          -7|c39687313002119.9...|             ### |   L0 1WAF|     1|                  1996|          26|26/03/1996|c6176572018665656243|
|flat 78 Jones Gle...|      Martyn|       carey|C7290859041904901395|             ### |   B48 3PN|Female|                  1971|          51|04/04/1971|c7604115266222097961|
|                  -9|        Glen|       Smith|c2177412424769566764|          Married|  TN6M 6JB|     1|                  1973|          49|11/10/1973|c7468581141273039753|
|Flat 2 Oliver cor...|          -9|      Wilson|c5878830792126177356|           Single|  CM6R 8DA|   NAN|                  2017|           5|01/03/2017|c4869387381345962230|
|Studio 6 Dixon by...|        Sean|         May|c5034189866420525988|          SiWngle|  CA8P 5UH|     1|                  2011|          11|06/03/1963|c5143222138124291040|
|824 J,effrey road...|      Lauren|      Mistry|c3545115507001216032|           Single|  ST13 2AD|  Male|                  2013|           9|04/12/2013|c3565856380474498476|
|Flat 22 Kennedy k...|Mrs Nicholas|     Roberts|c7493685114512294386|Civil partnership|    E8 5FD|  Male|                  1970|          52|29/07/1970|c9017880294935156107|
|2 Barlow estates,...|    Mr Jason|     Fleming|c5067884630165527662|          married|  HS6R 8ZR|Female|                  1983|          39|24/08/1983|c7998762617471362847|
+--------------------+------------+------------+--------------------+-----------------+----------+------+----------------------+------------+----------+--------------------+
only showing top 20 rows

Next, we have generic 'ID' columns in each dataset. We also have address and name variables named differently in each dataset. 

We can use **rename_columns()** from the dataframes module to rename all of these at once.

In [51]:
census = dataframes.rename_columns(census, rename_dict = {"ID":"ID_Census","ENUM_FNAME":"FORENAME","ENUM_SNAME":"SURNAME"})
ccs = dataframes.rename_columns(ccs, rename_dict = {"ID":"ID_CCS","FNAME":"FORENAME","SNAME":"SURNAME"})

ccs.columns

['Address',
 'ENUM_FNAME',
 'ENUM_SNAME',
 'ID_CCS',
 'Marital_Status',
 'Postcode',
 'Sex',
 'Resident_Year_Of_Birth',
 'Resident_Age',
 'DOB',
 'Resident_ID']

Now let's set all of variables to upper case for consistency, using **standardise_case()**:

In [52]:
census = standardisation.standardise_case(census)
ccs = standardisation.standardise_case(ccs)

ccs

+--------------------+------------+------------+--------------------+-----------------+----------+------+----------------------+------------+----------+--------------------+
|             Address|  ENUM_FNAME|  ENUM_SNAME|              ID_CCS|   Marital_Status|  Postcode|   Sex|Resident_Year_Of_Birth|Resident_Age|       DOB|         Resident_ID|
+--------------------+------------+------------+--------------------+-----------------+----------+------+----------------------+------------+----------+--------------------+
|STUDIO 48 COOPER ...|          -9|        ROSS|C4064232788196233825|              NAN| CV25 4ZYC|      |                  1956|          66|06/08/1956|C2026847926404610461|
|43 REBECCA STREET...|  MRS DARREN|     BALDWIN|C7365350289112516537|           SINGLE|        -7|     M|                  2013|           9|29/12/2013|C7839596180442651345|
|                  -9|    MRS ERIC|        BIBI|C8205386463232611653|           SINGLE|  SP26 8TN|FEMALE|                  2016|           6|21/09/1994|C3258728696626565719|
| 7 NOBLE VALLEY, ...|MRS MARGARET|        KENT|C2381984462771197706|             ### |  SO2P 9WS|  MALE|                  1972|          50|28/01/1972|C2287010195568088798|
|57 PEARSON CORNER...|    MR GRACE|       BAKER|C6384487823194391043|CIVIL PARTNERSHIP|  EH4P 9RN|FEMALE|                  1966|          56|26/11/1966|C1945351111358374057|
|                  -9|   MRS CHLOE|    CHANDLER|C7777611692672993318|         DIVORCED|   G7F 3RE|     2|                  1963|          59|09/07/1934|C7831454145019129197|
|STUDIO 5 FULLER B...|    MR KATIE|DER-ANDERSON|C7179219388724687888|         DIVORCED|   G88 6DB|FEMALE|                  1960|          62|      null|C6030118478018109776|
|644 GARRY WALK, B...|  MRS DENISE|        KING|C3458599216452476033|         DIVORCED|    L2 6LG|     F|                  1981|          41|28/11/1981|C6446332115853614978|
|STUDIO 73 CLAYTON...|          -9|  DER-BARTON|C9188328200772085537|               -9|  LN96 9XA|  MALE|                  1947|          -9|16/11/1994|C1293143515607798169|
|311 ERIC TRACK, L...|      HAYLEY|    CHAPMKAN|C1862566591390004870|           SINGLE|   S0D 9AX|     M|                  2001|          21|08/11/2001|C1864186096263678574|
|8 GRANT SPURS, SO...|    MR KERRY|    DER-WOOD|C1199822345118660092|           SINGLE|  DE1 4PW |   NAN|                  1986|          36|04/07/1986|C3145917995920697483|
|FLAT 89 WILLIAMS ...|        KATY|     ROBERTS|C5909695238076389250|             ### |  IG8E 1QR|    -7|                  1993|          29|13/07/1988|C6552642720119322321|
|21 STEPHEN ISLAND...|     STEWART|          -7|C39687313002119.9...|             ### |   L0 1WAF|     1|                  1996|          26|26/03/1996|C6176572018665656243|
|FLAT 78 JONES GLE...|      MARTYN|       CAREY|C7290859041904901395|             ### |   B48 3PN|FEMALE|                  1971|          51|04/04/1971|C7604115266222097961|
|                  -9|        GLEN|       SMITH|C2177412424769566764|          MARRIED|  TN6M 6JB|     1|                  1973|          49|11/10/1973|C7468581141273039753|
|FLAT 2 OLIVER COR...|          -9|      WILSON|C5878830792126177356|           SINGLE|  CM6R 8DA|   NAN|                  2017|           5|01/03/2017|C4869387381345962230|
|STUDIO 6 DIXON BY...|        SEAN|         MAY|C5034189866420525988|          SIWNGLE|  CA8P 5UH|     1|                  2011|          11|06/03/1963|C5143222138124291040|
|824 J,EFFREY ROAD...|      LAUREN|      MISTRY|C3545115507001216032|           SINGLE|  ST13 2AD|  MALE|                  2013|           9|04/12/2013|C3565856380474498476|
|FLAT 22 KENNEDY K...|MRS NICHOLAS|     ROBERTS|C7493685114512294386|CIVIL PARTNERSHIP|    E8 5FD|  MALE|                  1970|          52|29/07/1970|C9017880294935156107|
|2 BARLOW ESTATES,...|    MR JASON|     FLEMING|C5067884630165527662|          MARRIED|  HS6R 8ZR|FEMALE|                  1983|          39|24/08/1983|C7998762617471362847|
+--------------------+------------+------------+--------------------+-----------------+----------+------+----------------------+------------+----------+--------------------+
only showing top 20 rows

Next, the values for missingness are all over the place. I can spot a few NaNs, minus 7/9s, hashtags, and whitespaces. Let's standardise missingness with the **standardise_null()** function. We can retrieve these null values from the previous **value_counts()** outputs:

In [53]:
# we can use the standardise_null function to replace these with true None values:
# we use regex to do this: https://regex101.com/ 
census = standardisation.standardise_null(census, replace = "^NAN$|^NULL$|^\s*$|^-7$|^-9$|^###$")
ccs = standardisation.standardise_null(ccs, replace = "^NAN$|^NULL$|^\s*$|^-7$|^-9$|^###$")

ccs

+--------------------+------------+------------+--------------------+-----------------+----------+------+----------------------+------------+----------+--------------------+
|             Address|  ENUM_FNAME|  ENUM_SNAME|              ID_CCS|   Marital_Status|  Postcode|   Sex|Resident_Year_Of_Birth|Resident_Age|       DOB|         Resident_ID|
+--------------------+------------+------------+--------------------+-----------------+----------+------+----------------------+------------+----------+--------------------+
|STUDIO 48 COOPER ...|        null|        ROSS|C4064232788196233825|             null| CV25 4ZYC|  null|                  1956|          66|06/08/1956|C2026847926404610461|
|43 REBECCA STREET...|  MRS DARREN|     BALDWIN|C7365350289112516537|           SINGLE|      null|     M|                  2013|           9|29/12/2013|C7839596180442651345|
|                null|    MRS ERIC|        BIBI|C8205386463232611653|           SINGLE|  SP26 8TN|FEMALE|                  2016|           6|21/09/1994|C3258728696626565719|
| 7 NOBLE VALLEY, ...|MRS MARGARET|        KENT|C2381984462771197706|             ### |  SO2P 9WS|  MALE|                  1972|          50|28/01/1972|C2287010195568088798|
|57 PEARSON CORNER...|    MR GRACE|       BAKER|C6384487823194391043|CIVIL PARTNERSHIP|  EH4P 9RN|FEMALE|                  1966|          56|26/11/1966|C1945351111358374057|
|                null|   MRS CHLOE|    CHANDLER|C7777611692672993318|         DIVORCED|   G7F 3RE|     2|                  1963|          59|09/07/1934|C7831454145019129197|
|STUDIO 5 FULLER B...|    MR KATIE|DER-ANDERSON|C7179219388724687888|         DIVORCED|   G88 6DB|FEMALE|                  1960|          62|      null|C6030118478018109776|
|644 GARRY WALK, B...|  MRS DENISE|        KING|C3458599216452476033|         DIVORCED|    L2 6LG|     F|                  1981|          41|28/11/1981|C6446332115853614978|
|STUDIO 73 CLAYTON...|        null|  DER-BARTON|C9188328200772085537|             null|  LN96 9XA|  MALE|                  1947|        null|16/11/1994|C1293143515607798169|
|311 ERIC TRACK, L...|      HAYLEY|    CHAPMKAN|C1862566591390004870|           SINGLE|   S0D 9AX|     M|                  2001|          21|08/11/2001|C1864186096263678574|
|8 GRANT SPURS, SO...|    MR KERRY|    DER-WOOD|C1199822345118660092|           SINGLE|  DE1 4PW |  null|                  1986|          36|04/07/1986|C3145917995920697483|
|FLAT 89 WILLIAMS ...|        KATY|     ROBERTS|C5909695238076389250|             ### |  IG8E 1QR|  null|                  1993|          29|13/07/1988|C6552642720119322321|
|21 STEPHEN ISLAND...|     STEWART|        null|C39687313002119.9...|             ### |   L0 1WAF|     1|                  1996|          26|26/03/1996|C6176572018665656243|
|FLAT 78 JONES GLE...|      MARTYN|       CAREY|C7290859041904901395|             ### |   B48 3PN|FEMALE|                  1971|          51|04/04/1971|C7604115266222097961|
|                null|        GLEN|       SMITH|C2177412424769566764|          MARRIED|  TN6M 6JB|     1|                  1973|          49|11/10/1973|C7468581141273039753|
|FLAT 2 OLIVER COR...|        null|      WILSON|C5878830792126177356|           SINGLE|  CM6R 8DA|  null|                  2017|           5|01/03/2017|C4869387381345962230|
|STUDIO 6 DIXON BY...|        SEAN|         MAY|C5034189866420525988|          SIWNGLE|  CA8P 5UH|     1|                  2011|          11|06/03/1963|C5143222138124291040|
|824 J,EFFREY ROAD...|      LAUREN|      MISTRY|C3545115507001216032|           SINGLE|  ST13 2AD|  MALE|                  2013|           9|04/12/2013|C3565856380474498476|
|FLAT 22 KENNEDY K...|MRS NICHOLAS|     ROBERTS|C7493685114512294386|CIVIL PARTNERSHIP|    E8 5FD|  MALE|                  1970|          52|29/07/1970|C9017880294935156107|
|2 BARLOW ESTATES,...|    MR JASON|     FLEMING|C5067884630165527662|          MARRIED|  HS6R 8ZR|FEMALE|                  1983|          39|24/08/1983|C7998762617471362847|
+--------------------+------------+------------+--------------------+-----------------+----------+------+----------------------+------------+----------+--------------------+
only showing top 20 rows

Great, these now all show up as true nulls. 

Next, we have a mix of 1s, 2s, Ms, and Fs in our sex column. Let's standardise this to be either 1s or 2s. For this we can use **reg_replace()**:

In [54]:
# reg_replace() takes a dictionary, where the value is the regex to replace, and the key is what this will be replaced with
# so we're replacing 'M' with '1', and 'F' with '2':
census = standardisation.reg_replace(census, subset = "SEX", dic = {"1":"^M$|^MALE$","2":"^F$|^FEMALE$"})
ccs = standardisation.reg_replace(ccs, subset = "SEX", dic = {"1":"^M$|^MALE$","2":"^F$|^FEMALE$"})

ccs

+--------------------+------------+------------+--------------------+-----------------+----------+----+----------------------+------------+----------+--------------------+
|             Address|  ENUM_FNAME|  ENUM_SNAME|              ID_CCS|   Marital_Status|  Postcode| SEX|Resident_Year_Of_Birth|Resident_Age|       DOB|         Resident_ID|
+--------------------+------------+------------+--------------------+-----------------+----------+----+----------------------+------------+----------+--------------------+
|STUDIO 48 COOPER ...|        null|        ROSS|C4064232788196233825|             null| CV25 4ZYC|null|                  1956|          66|06/08/1956|C2026847926404610461|
|43 REBECCA STREET...|  MRS DARREN|     BALDWIN|C7365350289112516537|           SINGLE|      null|   1|                  2013|           9|29/12/2013|C7839596180442651345|
|                null|    MRS ERIC|        BIBI|C8205386463232611653|           SINGLE|  SP26 8TN|   2|                  2016|           6|21/09/1994|C3258728696626565719|
| 7 NOBLE VALLEY, ...|MRS MARGARET|        KENT|C2381984462771197706|             ### |  SO2P 9WS|   1|                  1972|          50|28/01/1972|C2287010195568088798|
|57 PEARSON CORNER...|    MR GRACE|       BAKER|C6384487823194391043|CIVIL PARTNERSHIP|  EH4P 9RN|   2|                  1966|          56|26/11/1966|C1945351111358374057|
|                null|   MRS CHLOE|    CHANDLER|C7777611692672993318|         DIVORCED|   G7F 3RE|   2|                  1963|          59|09/07/1934|C7831454145019129197|
|STUDIO 5 FULLER B...|    MR KATIE|DER-ANDERSON|C7179219388724687888|         DIVORCED|   G88 6DB|   2|                  1960|          62|      null|C6030118478018109776|
|644 GARRY WALK, B...|  MRS DENISE|        KING|C3458599216452476033|         DIVORCED|    L2 6LG|   2|                  1981|          41|28/11/1981|C6446332115853614978|
|STUDIO 73 CLAYTON...|        null|  DER-BARTON|C9188328200772085537|             null|  LN96 9XA|   1|                  1947|        null|16/11/1994|C1293143515607798169|
|311 ERIC TRACK, L...|      HAYLEY|    CHAPMKAN|C1862566591390004870|           SINGLE|   S0D 9AX|   1|                  2001|          21|08/11/2001|C1864186096263678574|
|8 GRANT SPURS, SO...|    MR KERRY|    DER-WOOD|C1199822345118660092|           SINGLE|  DE1 4PW |null|                  1986|          36|04/07/1986|C3145917995920697483|
|FLAT 89 WILLIAMS ...|        KATY|     ROBERTS|C5909695238076389250|             ### |  IG8E 1QR|null|                  1993|          29|13/07/1988|C6552642720119322321|
|21 STEPHEN ISLAND...|     STEWART|        null|C39687313002119.9...|             ### |   L0 1WAF|   1|                  1996|          26|26/03/1996|C6176572018665656243|
|FLAT 78 JONES GLE...|      MARTYN|       CAREY|C7290859041904901395|             ### |   B48 3PN|   2|                  1971|          51|04/04/1971|C7604115266222097961|
|                null|        GLEN|       SMITH|C2177412424769566764|          MARRIED|  TN6M 6JB|   1|                  1973|          49|11/10/1973|C7468581141273039753|
|FLAT 2 OLIVER COR...|        null|      WILSON|C5878830792126177356|           SINGLE|  CM6R 8DA|null|                  2017|           5|01/03/2017|C4869387381345962230|
|STUDIO 6 DIXON BY...|        SEAN|         MAY|C5034189866420525988|          SIWNGLE|  CA8P 5UH|   1|                  2011|          11|06/03/1963|C5143222138124291040|
|824 J,EFFREY ROAD...|      LAUREN|      MISTRY|C3545115507001216032|           SINGLE|  ST13 2AD|   1|                  2013|           9|04/12/2013|C3565856380474498476|
|FLAT 22 KENNEDY K...|MRS NICHOLAS|     ROBERTS|C7493685114512294386|CIVIL PARTNERSHIP|    E8 5FD|   1|                  1970|          52|29/07/1970|C9017880294935156107|
|2 BARLOW ESTATES,...|    MR JASON|     FLEMING|C5067884630165527662|          MARRIED|  HS6R 8ZR|   2|                  1983|          39|24/08/1983|C7998762617471362847|
+--------------------+------------+------------+--------------------+-----------------+----------+----+----------------------+------------+----------+--------------------+
only showing top 20 rows

Now that our sex column is populated with just 1s and 2s, we might want to change the type from string to integer. This can be done using the **cast_type()** function in the standardisation module:

In [55]:
# Casting strings to integer can increase performance as it makes the data type smaller, taking up less storage space

census = standardisation.cast_type(census, subset = ['SEX'], types = "integer")
ccs = standardisation.cast_type(ccs, subset = ['SEX'], types = "integer")

ccs.select('SEX').dtypes

[('SEX', 'int')]

SORT OUT COMMENTARY NOW HAVE RESHUFFLED

Next, let's focus on our name variables. Forenames still contain titles and some surnames have common prefixes like 'Van' or 'Der'. We can strip out titles and concatenate surname prefixes with our **clean_forename()** and **clean_surname()** functions.

In [57]:
census = standardisation.clean_forename(census, subset = 'FORENAME')
ccs = standardisation.clean_forename(ccs, subset = 'FORENAME')

census = standardisation.clean_surname(census, subset = 'SURNAME')
ccs = standardisation.clean_surname(ccs, subset = 'SURNAME')

ccs

+--------------------+----------+-----------+--------------------+-----------------+----------+----+----------------------+------------+----------+--------------------+
|             Address|ENUM_FNAME| ENUM_SNAME|              ID_CCS|   Marital_Status|  Postcode| SEX|Resident_Year_Of_Birth|Resident_Age|       DOB|         Resident_ID|
+--------------------+----------+-----------+--------------------+-----------------+----------+----+----------------------+------------+----------+--------------------+
|STUDIO 48 COOPER ...|      null|       ROSS|C4064232788196233825|             null| CV25 4ZYC|null|                  1956|          66|06/08/1956|C2026847926404610461|
|43 REBECCA STREET...|    DARREN|    BALDWIN|C7365350289112516537|           SINGLE|      null|   1|                  2013|           9|29/12/2013|C7839596180442651345|
|                null|      ERIC|       BIBI|C8205386463232611653|           SINGLE|  SP26 8TN|   2|                  2016|           6|21/09/1994|C3258728696626565719|
| 7 NOBLE VALLEY, ...|  MARGARET|       KENT|C2381984462771197706|             ### |  SO2P 9WS|   1|                  1972|          50|28/01/1972|C2287010195568088798|
|57 PEARSON CORNER...|     GRACE|      BAKER|C6384487823194391043|CIVIL PARTNERSHIP|  EH4P 9RN|   2|                  1966|          56|26/11/1966|C1945351111358374057|
|                null|     CHLOE|   CHANDLER|C7777611692672993318|         DIVORCED|   G7F 3RE|   2|                  1963|          59|09/07/1934|C7831454145019129197|
|STUDIO 5 FULLER B...|     KATIE|DERANDERSON|C7179219388724687888|         DIVORCED|   G88 6DB|   2|                  1960|          62|      null|C6030118478018109776|
|644 GARRY WALK, B...|    DENISE|       KING|C3458599216452476033|         DIVORCED|    L2 6LG|   2|                  1981|          41|28/11/1981|C6446332115853614978|
|STUDIO 73 CLAYTON...|      null|  DERBARTON|C9188328200772085537|             null|  LN96 9XA|   1|                  1947|        null|16/11/1994|C1293143515607798169|
|311 ERIC TRACK, L...|    HAYLEY|   CHAPMKAN|C1862566591390004870|           SINGLE|   S0D 9AX|   1|                  2001|          21|08/11/2001|C1864186096263678574|
|8 GRANT SPURS, SO...|     KERRY|    DERWOOD|C1199822345118660092|           SINGLE|  DE1 4PW |null|                  1986|          36|04/07/1986|C3145917995920697483|
|FLAT 89 WILLIAMS ...|      KATY|    ROBERTS|C5909695238076389250|             ### |  IG8E 1QR|null|                  1993|          29|13/07/1988|C6552642720119322321|
|21 STEPHEN ISLAND...|   STEWART|       null|C39687313002119.9...|             ### |   L0 1WAF|   1|                  1996|          26|26/03/1996|C6176572018665656243|
|FLAT 78 JONES GLE...|    MARTYN|      CAREY|C7290859041904901395|             ### |   B48 3PN|   2|                  1971|          51|04/04/1971|C7604115266222097961|
|                null|      GLEN|      SMITH|C2177412424769566764|          MARRIED|  TN6M 6JB|   1|                  1973|          49|11/10/1973|C7468581141273039753|
|FLAT 2 OLIVER COR...|      null|     WILSON|C5878830792126177356|           SINGLE|  CM6R 8DA|null|                  2017|           5|01/03/2017|C4869387381345962230|
|STUDIO 6 DIXON BY...|      SEAN|        MAY|C5034189866420525988|          SIWNGLE|  CA8P 5UH|   1|                  2011|          11|06/03/1963|C5143222138124291040|
|824 J,EFFREY ROAD...|    LAUREN|     MISTRY|C3545115507001216032|           SINGLE|  ST13 2AD|   1|                  2013|           9|04/12/2013|C3565856380474498476|
|FLAT 22 KENNEDY K...|  NICHOLAS|    ROBERTS|C7493685114512294386|CIVIL PARTNERSHIP|    E8 5FD|   1|                  1970|          52|29/07/1970|C9017880294935156107|
|2 BARLOW ESTATES,...|     JASON|    FLEMING|C5067884630165527662|          MARRIED|  HS6R 8ZR|   2|                  1983|          39|24/08/1983|C7998762617471362847|
+--------------------+----------+-----------+--------------------+-----------------+----------+----+----------------------+------------+----------+--------------------+
only showing top 20 rows

Let's begin to have a look at our postcode, address and name variables. 

A lot of the variables contain multiple white spaces in a row. We can remove white spcaes altogether using the **standardise_white_space()** function, setting white space level (wsl) to none. 

However, we don't want to remove all of the white spaces in our address variable, as this would make the text unreadable. Instead, we can set wsl to one, meaning only gaps of 2 spaces or more will be removed.

In [58]:
# Using a list comprehension, we remove all white spaces from all columns except Address
census = standardisation.standardise_white_space(census, 
                                                 subset = [column for column in census.columns if column != 'Address'], 
                                                 wsl = "none")
ccs = standardisation.standardise_white_space(ccs, 
                                              subset = [column for column in ccs.columns if column != 'Address'], 
                                              wsl = "none")

# Then we allow a single white space for the Address column
census = standardisation.standardise_white_space(census, subset = 'Address', wsl = "one")
ccs = standardisation.standardise_white_space(ccs, subset = 'Address', wsl = "one")

ccs

+--------------------+----------+-----------+--------------------+----------------+--------+----+----------------------+------------+----------+--------------------+
|             Address|ENUM_FNAME| ENUM_SNAME|              ID_CCS|  Marital_Status|Postcode| SEX|Resident_Year_Of_Birth|Resident_Age|       DOB|         Resident_ID|
+--------------------+----------+-----------+--------------------+----------------+--------+----+----------------------+------------+----------+--------------------+
|STUDIO 48 COOPER ...|      null|       ROSS|C4064232788196233825|            null|CV254ZYC|null|                  1956|          66|06/08/1956|C2026847926404610461|
|43 REBECCA STREET...|    DARREN|    BALDWIN|C7365350289112516537|          SINGLE|    null|   1|                  2013|           9|29/12/2013|C7839596180442651345|
|                null|      ERIC|       BIBI|C8205386463232611653|          SINGLE| SP268TN|   2|                  2016|           6|21/09/1994|C3258728696626565719|
|7 NOBLE VALLEY, L...|  MARGARET|       KENT|C2381984462771197706|             ###| SO2P9WS|   1|                  1972|          50|28/01/1972|C2287010195568088798|
|57 PEARSON CORNER...|     GRACE|      BAKER|C6384487823194391043|CIVILPARTNERSHIP| EH4P9RN|   2|                  1966|          56|26/11/1966|C1945351111358374057|
|                null|     CHLOE|   CHANDLER|C7777611692672993318|        DIVORCED|  G7F3RE|   2|                  1963|          59|09/07/1934|C7831454145019129197|
|STUDIO 5 FULLER B...|     KATIE|DERANDERSON|C7179219388724687888|        DIVORCED|  G886DB|   2|                  1960|          62|      null|C6030118478018109776|
|644 GARRY WALK, B...|    DENISE|       KING|C3458599216452476033|        DIVORCED|   L26LG|   2|                  1981|          41|28/11/1981|C6446332115853614978|
|STUDIO 73 CLAYTON...|      null|  DERBARTON|C9188328200772085537|            null| LN969XA|   1|                  1947|        null|16/11/1994|C1293143515607798169|
|311 ERIC TRACK, L...|    HAYLEY|   CHAPMKAN|C1862566591390004870|          SINGLE|  S0D9AX|   1|                  2001|          21|08/11/2001|C1864186096263678574|
|8 GRANT SPURS, SO...|     KERRY|    DERWOOD|C1199822345118660092|          SINGLE|  DE14PW|null|                  1986|          36|04/07/1986|C3145917995920697483|
|FLAT 89 WILLIAMS ...|      KATY|    ROBERTS|C5909695238076389250|             ###| IG8E1QR|null|                  1993|          29|13/07/1988|C6552642720119322321|
|21 STEPHEN ISLAND...|   STEWART|       null|C39687313002119.9...|             ###|  L01WAF|   1|                  1996|          26|26/03/1996|C6176572018665656243|
|FLAT 78 JONES GLE...|    MARTYN|      CAREY|C7290859041904901395|             ###|  B483PN|   2|                  1971|          51|04/04/1971|C7604115266222097961|
|                null|      GLEN|      SMITH|C2177412424769566764|         MARRIED| TN6M6JB|   1|                  1973|          49|11/10/1973|C7468581141273039753|
|FLAT 2 OLIVER COR...|      null|     WILSON|C5878830792126177356|          SINGLE| CM6R8DA|null|                  2017|           5|01/03/2017|C4869387381345962230|
|STUDIO 6 DIXON BY...|      SEAN|        MAY|C5034189866420525988|         SIWNGLE| CA8P5UH|   1|                  2011|          11|06/03/1963|C5143222138124291040|
|824 J,EFFREY ROAD...|    LAUREN|     MISTRY|C3545115507001216032|          SINGLE| ST132AD|   1|                  2013|           9|04/12/2013|C3565856380474498476|
|FLAT 22 KENNEDY K...|  NICHOLAS|    ROBERTS|C7493685114512294386|CIVILPARTNERSHIP|   E85FD|   1|                  1970|          52|29/07/1970|C9017880294935156107|
|2 BARLOW ESTATES,...|     JASON|    FLEMING|C5067884630165527662|         MARRIED| HS6R8ZR|   2|                  1983|          39|24/08/1983|C7998762617471362847|
+--------------------+----------+-----------+--------------------+----------------+--------+----+----------------------+------------+----------+--------------------+
only showing top 20 rows

We might have some leading/trailing whitespaces in some of our variables as they can be hard to spot, and therefore it's good practice to use **trim()** to remove these:

In [59]:
census = standardisation.trim(census)
ccs = standardisation.trim(ccs)

ccs

+--------------------+----------+-----------+--------------------+----------------+--------+----+----------------------+------------+----------+--------------------+
|             Address|ENUM_FNAME| ENUM_SNAME|              ID_CCS|  Marital_Status|Postcode| SEX|Resident_Year_Of_Birth|Resident_Age|       DOB|         Resident_ID|
+--------------------+----------+-----------+--------------------+----------------+--------+----+----------------------+------------+----------+--------------------+
|STUDIO 48 COOPER ...|      null|       ROSS|C4064232788196233825|            null|CV254ZYC|null|                  1956|          66|06/08/1956|C2026847926404610461|
|43 REBECCA STREET...|    DARREN|    BALDWIN|C7365350289112516537|          SINGLE|    null|   1|                  2013|           9|29/12/2013|C7839596180442651345|
|                null|      ERIC|       BIBI|C8205386463232611653|          SINGLE| SP268TN|   2|                  2016|           6|21/09/1994|C3258728696626565719|
|7 NOBLE VALLEY, L...|  MARGARET|       KENT|C2381984462771197706|             ###| SO2P9WS|   1|                  1972|          50|28/01/1972|C2287010195568088798|
|57 PEARSON CORNER...|     GRACE|      BAKER|C6384487823194391043|CIVILPARTNERSHIP| EH4P9RN|   2|                  1966|          56|26/11/1966|C1945351111358374057|
|                null|     CHLOE|   CHANDLER|C7777611692672993318|        DIVORCED|  G7F3RE|   2|                  1963|          59|09/07/1934|C7831454145019129197|
|STUDIO 5 FULLER B...|     KATIE|DERANDERSON|C7179219388724687888|        DIVORCED|  G886DB|   2|                  1960|          62|      null|C6030118478018109776|
|644 GARRY WALK, B...|    DENISE|       KING|C3458599216452476033|        DIVORCED|   L26LG|   2|                  1981|          41|28/11/1981|C6446332115853614978|
|STUDIO 73 CLAYTON...|      null|  DERBARTON|C9188328200772085537|            null| LN969XA|   1|                  1947|        null|16/11/1994|C1293143515607798169|
|311 ERIC TRACK, L...|    HAYLEY|   CHAPMKAN|C1862566591390004870|          SINGLE|  S0D9AX|   1|                  2001|          21|08/11/2001|C1864186096263678574|
|8 GRANT SPURS, SO...|     KERRY|    DERWOOD|C1199822345118660092|          SINGLE|  DE14PW|null|                  1986|          36|04/07/1986|C3145917995920697483|
|FLAT 89 WILLIAMS ...|      KATY|    ROBERTS|C5909695238076389250|             ###| IG8E1QR|null|                  1993|          29|13/07/1988|C6552642720119322321|
|21 STEPHEN ISLAND...|   STEWART|       null|C39687313002119.9...|             ###|  L01WAF|   1|                  1996|          26|26/03/1996|C6176572018665656243|
|FLAT 78 JONES GLE...|    MARTYN|      CAREY|C7290859041904901395|             ###|  B483PN|   2|                  1971|          51|04/04/1971|C7604115266222097961|
|                null|      GLEN|      SMITH|C2177412424769566764|         MARRIED| TN6M6JB|   1|                  1973|          49|11/10/1973|C7468581141273039753|
|FLAT 2 OLIVER COR...|      null|     WILSON|C5878830792126177356|          SINGLE| CM6R8DA|null|                  2017|           5|01/03/2017|C4869387381345962230|
|STUDIO 6 DIXON BY...|      SEAN|        MAY|C5034189866420525988|         SIWNGLE| CA8P5UH|   1|                  2011|          11|06/03/1963|C5143222138124291040|
|824 J,EFFREY ROAD...|    LAUREN|     MISTRY|C3545115507001216032|          SINGLE| ST132AD|   1|                  2013|           9|04/12/2013|C3565856380474498476|
|FLAT 22 KENNEDY K...|  NICHOLAS|    ROBERTS|C7493685114512294386|CIVILPARTNERSHIP|   E85FD|   1|                  1970|          52|29/07/1970|C9017880294935156107|
|2 BARLOW ESTATES,...|     JASON|    FLEMING|C5067884630165527662|         MARRIED| HS6R8ZR|   2|                  1983|          39|24/08/1983|C7998762617471362847|
+--------------------+----------+-----------+--------------------+----------------+--------+----+----------------------+------------+----------+--------------------+
only showing top 20 rows

Finally, let's strip out numbers from our name variables. Again, we can use the **reg_replace()** function for this:

In [61]:
census = standardisation.reg_replace(census, subset = ["FORENAME","SURNAME"], dic = {"": "[0-9]"})
ccs = standardisation.reg_replace(ccs, subset = ["FORENAME","SURNAME"], dic = {"": "[0-9]"})

ccs

+--------------------+----------+-----------+--------------------+----------------+--------+----+----------------------+------------+----------+--------------------+
|             Address|ENUM_FNAME| ENUM_SNAME|              ID_CCS|  Marital_Status|Postcode| SEX|Resident_Year_Of_Birth|Resident_Age|       DOB|         Resident_ID|
+--------------------+----------+-----------+--------------------+----------------+--------+----+----------------------+------------+----------+--------------------+
|STUDIO 48 COOPER ...|      null|       ROSS|C4064232788196233825|            null|CV254ZYC|null|                  1956|          66|06/08/1956|C2026847926404610461|
|43 REBECCA STREET...|    DARREN|    BALDWIN|C7365350289112516537|          SINGLE|    null|   1|                  2013|           9|29/12/2013|C7839596180442651345|
|                null|      ERIC|       BIBI|C8205386463232611653|          SINGLE| SP268TN|   2|                  2016|           6|21/09/1994|C3258728696626565719|
|7 NOBLE VALLEY, L...|  MARGARET|       KENT|C2381984462771197706|             ###| SO2P9WS|   1|                  1972|          50|28/01/1972|C2287010195568088798|
|57 PEARSON CORNER...|     GRACE|      BAKER|C6384487823194391043|CIVILPARTNERSHIP| EH4P9RN|   2|                  1966|          56|26/11/1966|C1945351111358374057|
|                null|     CHLOE|   CHANDLER|C7777611692672993318|        DIVORCED|  G7F3RE|   2|                  1963|          59|09/07/1934|C7831454145019129197|
|STUDIO 5 FULLER B...|     KATIE|DERANDERSON|C7179219388724687888|        DIVORCED|  G886DB|   2|                  1960|          62|      null|C6030118478018109776|
|644 GARRY WALK, B...|    DENISE|       KING|C3458599216452476033|        DIVORCED|   L26LG|   2|                  1981|          41|28/11/1981|C6446332115853614978|
|STUDIO 73 CLAYTON...|      null|  DERBARTON|C9188328200772085537|            null| LN969XA|   1|                  1947|        null|16/11/1994|C1293143515607798169|
|311 ERIC TRACK, L...|    HAYLEY|   CHAPMKAN|C1862566591390004870|          SINGLE|  S0D9AX|   1|                  2001|          21|08/11/2001|C1864186096263678574|
|8 GRANT SPURS, SO...|     KERRY|    DERWOOD|C1199822345118660092|          SINGLE|  DE14PW|null|                  1986|          36|04/07/1986|C3145917995920697483|
|FLAT 89 WILLIAMS ...|      KATY|    ROBERTS|C5909695238076389250|             ###| IG8E1QR|null|                  1993|          29|13/07/1988|C6552642720119322321|
|21 STEPHEN ISLAND...|   STEWART|       null|C39687313002119.9...|             ###|  L01WAF|   1|                  1996|          26|26/03/1996|C6176572018665656243|
|FLAT 78 JONES GLE...|    MARTYN|      CAREY|C7290859041904901395|             ###|  B483PN|   2|                  1971|          51|04/04/1971|C7604115266222097961|
|                null|      GLEN|      SMITH|C2177412424769566764|         MARRIED| TN6M6JB|   1|                  1973|          49|11/10/1973|C7468581141273039753|
|FLAT 2 OLIVER COR...|      null|     WILSON|C5878830792126177356|          SINGLE| CM6R8DA|null|                  2017|           5|01/03/2017|C4869387381345962230|
|STUDIO 6 DIXON BY...|      SEAN|        MAY|C5034189866420525988|         SIWNGLE| CA8P5UH|   1|                  2011|          11|06/03/1963|C5143222138124291040|
|824 J,EFFREY ROAD...|    LAUREN|     MISTRY|C3545115507001216032|          SINGLE| ST132AD|   1|                  2013|           9|04/12/2013|C3565856380474498476|
|FLAT 22 KENNEDY K...|  NICHOLAS|    ROBERTS|C7493685114512294386|CIVILPARTNERSHIP|   E85FD|   1|                  1970|          52|29/07/1970|C9017880294935156107|
|2 BARLOW ESTATES,...|     JASON|    FLEMING|C5067884630165527662|         MARRIED| HS6R8ZR|   2|                  1983|          39|24/08/1983|C7998762617471362847|
+--------------------+----------+-----------+--------------------+----------------+--------+----+----------------------+------------+----------+--------------------+
only showing top 20 rows

This still leaves apostrophes and hyphens in our name variables. The **remove_punct()** function can handle these. While we're at it, let's also use **remove_punct()** to get rid of dashes in our address field, but we'll have to specify the optional argument **keep** to make sure it doesn't strip out commas from addresses:

In [64]:
#First remove all punction from every column except address
census = standardisation.remove_punct(census, 
                                      subset = [column for column in census.columns if column not in ['Address','DOB']], 
                                      )

ccs = standardisation.remove_punct(ccs, 
                                   subset = [column for column in ccs.columns if column not in ['Address','DOB']]
                                  )


#Then remove the punctuation from address except for the commas
census = standardisation.remove_punct(census, subset = 'Address', keep = ',')
ccs = standardisation.remove_punct(ccs, subset = 'Address', keep = ',')

ccs

+--------------------+----------+-----------+--------------------+----------------+--------+----+----------------------+------------+--------+--------------------+
|             Address|ENUM_FNAME| ENUM_SNAME|              ID_CCS|  Marital_Status|Postcode| SEX|Resident_Year_Of_Birth|Resident_Age|     DOB|         Resident_ID|
+--------------------+----------+-----------+--------------------+----------------+--------+----+----------------------+------------+--------+--------------------+
|STUDIO 48 COOPER ...|      null|       ROSS|C4064232788196233825|            null|CV254ZYC|null|                  1956|          66|06081956|C2026847926404610461|
|43 REBECCA STREET...|    DARREN|    BALDWIN|C7365350289112516537|          SINGLE|    null|   1|                  2013|           9|29122013|C7839596180442651345|
|                null|      ERIC|       BIBI|C8205386463232611653|          SINGLE| SP268TN|   2|                  2016|           6|21091994|C3258728696626565719|
|7 NOBLE VALLEY, L...|  MARGARET|       KENT|C2381984462771197706|                | SO2P9WS|   1|                  1972|          50|28011972|C2287010195568088798|
|57 PEARSON CORNER...|     GRACE|      BAKER|C6384487823194391043|CIVILPARTNERSHIP| EH4P9RN|   2|                  1966|          56|26111966|C1945351111358374057|
|                null|     CHLOE|   CHANDLER|C7777611692672993318|        DIVORCED|  G7F3RE|   2|                  1963|          59|09071934|C7831454145019129197|
|STUDIO 5 FULLER B...|     KATIE|DERANDERSON|C7179219388724687888|        DIVORCED|  G886DB|   2|                  1960|          62|    null|C6030118478018109776|
|644 GARRY WALK, B...|    DENISE|       KING|C3458599216452476033|        DIVORCED|   L26LG|   2|                  1981|          41|28111981|C6446332115853614978|
|STUDIO 73 CLAYTON...|      null|  DERBARTON|C9188328200772085537|            null| LN969XA|   1|                  1947|        null|16111994|C1293143515607798169|
|311 ERIC TRACK, L...|    HAYLEY|   CHAPMKAN|C1862566591390004870|          SINGLE|  S0D9AX|   1|                  2001|          21|08112001|C1864186096263678574|
|8 GRANT SPURS, SO...|     KERRY|    DERWOOD|C1199822345118660092|          SINGLE|  DE14PW|null|                  1986|          36|04071986|C3145917995920697483|
|FLAT 89 WILLIAMS ...|      KATY|    ROBERTS|C5909695238076389250|                | IG8E1QR|null|                  1993|          29|13071988|C6552642720119322321|
|21 STEPHEN ISLAND...|   STEWART|       null|C3968731300211998424|                |  L01WAF|   1|                  1996|          26|26031996|C6176572018665656243|
|FLAT 78 JONES GLE...|    MARTYN|      CAREY|C7290859041904901395|                |  B483PN|   2|                  1971|          51|04041971|C7604115266222097961|
|                null|      GLEN|      SMITH|C2177412424769566764|         MARRIED| TN6M6JB|   1|                  1973|          49|11101973|C7468581141273039753|
|FLAT 2 OLIVER COR...|      null|     WILSON|C5878830792126177356|          SINGLE| CM6R8DA|null|                  2017|           5|01032017|C4869387381345962230|
|STUDIO 6 DIXON BY...|      SEAN|        MAY|C5034189866420525988|         SIWNGLE| CA8P5UH|   1|                  2011|          11|06031963|C5143222138124291040|
|824 J,EFFREY ROAD...|    LAUREN|     MISTRY|C3545115507001216032|          SINGLE| ST132AD|   1|                  2013|           9|04122013|C3565856380474498476|
|FLAT 22 KENNEDY K...|  NICHOLAS|    ROBERTS|C7493685114512294386|CIVILPARTNERSHIP|   E85FD|   1|                  1970|          52|29071970|C9017880294935156107|
|2 BARLOW ESTATES,...|     JASON|    FLEMING|C5067884630165527662|         MARRIED| HS6R8ZR|   2|                  1983|          39|24081983|C7998762617471362847|
+--------------------+----------+-----------+--------------------+----------------+--------+----+----------------------+------------+--------+--------------------+
only showing top 20 rows

# Derive Variables

We've got quite a few identifying variables that we can split out into further variables for matching. These can be useful if, for instance, records don't match on house number due to an error, but do match on street. 

First, let's derive street and town from the address variable. The **split()** function from the dataframes module will be useful here, splitting on comma.

In [68]:
# This will create a new column called "ADDRESS_SPLIT" that contains an array of each address element, separated by a comma
census = dataframes.split(census, col_in = "ADDRESS", col_out = "ADDRESS_SPLIT", split_on = ",")
ccs = dataframes.split(ccs, col_in = "ADDRESS", col_out = "ADDRESS_SPLIT", split_on = ",")

ccs.select("ADDRESS", "ADDRESS_SPLIT")

+------------------------------------------+---------------------------------------------+
|ADDRESS                                   |ADDRESS_SPLIT                                |
+------------------------------------------+---------------------------------------------+
|57 PEARSON CORNER, JOANNABOROUGH          |[57 PEARSON CORNER,  JOANNABOROUGH]          |
|null                                      |null                                         |
|STUDIO 16Y SIMPSON DRIVE, THORNTONBOROUGH |[STUDIO 16Y SIMPSON DRIVE,  THORNTONBOROUGH] |
|STUDIO 41 BROWN MOUNTAIN, PORT DOUGLASLAND|[STUDIO 41 BROWN MOUNTAIN,  PORT DOUGLASLAND]|
|FLAT 5 HELEN LOAF, EAST JONATHANSIDE      |[FLAT 5 HELEN LOAF,  EAST JONATHANSIDE]      |
|FLAT 54P JENNINGS HIGHWAY, BARLOWPORT     |[FLAT 54P JENNINGS HIGHWAY,  BARLOWPORT]     |
|FLAT 55B JAKE ROUTE, PORT KYLEPORT        |[FLAT 55B JAKE ROUTE,  PORT KYLEPORT]        |
|STUDIO 33 MEGAN DAM, POWELLBURGH          |[STUDIO 33 MEGAN DAM,  POWELLBURGH]          |
|23 JONES PRAIRIE, PORT SYLVIA             |[23 JONES PRAIRIE,  PORT SYLVIA]             |
|STUDIO 50Z FLETCHER POINTS, EEAST ERIC    |[STUDIO 50Z FLETCHER POINTS,  EEAST ERIC]    |
|82 RICKY ESTATES, LAKE JEFFREYBURY        |[82 RICKY ESTATES,  LAKE JEFFREYBURY]        |
|FLAT 03H PEARSON SQUARE, NEW MANDY        |[FLAT 03H PEARSON SQUARE,  NEW MANDY]        |
|FLAT 8 GEORGE VIEW, POTTERTOWN            |[FLAT 8 GEORGE VIEW,  POTTERTOWN]            |
|3 NICHOLSON CIRCLE, HALEVIEW              |[3 NICHOLSON CIRCLE,  HALEVIEW]              |
|8 BALDWIN NECK, BARTONHAVEN               |[8 BALDWIN NECK,  BARTONHAVEN]               |
|STUDIO 90F JASON GROVE, THOMASSTAD        |[STUDIO 90F JASON GROVE,  THOMASSTAD]        |
|FLAT 24 RICE RAPIDS, BENNETTTON           |[FLAT 24 RICE RAPIDS,  BENNETTTON]           |
|STUDIO 84 PARKER CENTERS, SOUTH NEIL      |[STUDIO 84 PARKER CENTERS,  SOUTH NEIL]      |
|STUDIO 62Q ARNOLD SQUARES, WEST OLIVIA    |[STUDIO 62Q ARNOLD SQUARES,  WEST OLIVIA]    |
|STUDIO 19 TOM MOUNT, NORTH JULIA          |[STUDIO 19 TOM MOUNT,  NORTH JULIA]          |
+------------------------------------------+---------------------------------------------+
only showing top 20 rows

In [69]:
# We can then select the first element of the 'split address' to create the 'street address' variable
census = dataframes.index_select(census, split_col = "ADDRESS_SPLIT", out_col = "STREET", index = 0)
ccs = dataframes.index_select(ccs, split_col = "ADDRESS_SPLIT", out_col = "STREET", index = 0)

# The second element contains the town name, which we can append to a new column also 
census = dataframes.index_select(census, split_col = "ADDRESS_SPLIT", out_col = "TOWN", index = 1)
ccs = dataframes.index_select(ccs, split_col = "ADDRESS_SPLIT", out_col = "TOWN", index = 1)

# Since we no longer need the 'ADDRESS_SPLIT' column, we can remove it using our drop_columns() function
census = dataframes.drop_columns(census, subset = 'ADDRESS_SPLIT')
ccs = dataframes.drop_columns(ccs, subset = 'ADDRESS_SPLIT')

ccs.select("ADDRESS", "STREET", "TOWN")

+------------------------------------------+--------------------------+------------------+
|ADDRESS                                   |STREET                    |TOWN              |
+------------------------------------------+--------------------------+------------------+
|57 PEARSON CORNER, JOANNABOROUGH          |57 PEARSON CORNER         | JOANNABOROUGH    |
|null                                      |null                      |null              |
|STUDIO 16Y SIMPSON DRIVE, THORNTONBOROUGH |STUDIO 16Y SIMPSON DRIVE  | THORNTONBOROUGH  |
|STUDIO 41 BROWN MOUNTAIN, PORT DOUGLASLAND|STUDIO 41 BROWN MOUNTAIN  | PORT DOUGLASLAND |
|FLAT 5 HELEN LOAF, EAST JONATHANSIDE      |FLAT 5 HELEN LOAF         | EAST JONATHANSIDE|
|FLAT 54P JENNINGS HIGHWAY, BARLOWPORT     |FLAT 54P JENNINGS HIGHWAY | BARLOWPORT       |
|FLAT 55B JAKE ROUTE, PORT KYLEPORT        |FLAT 55B JAKE ROUTE       | PORT KYLEPORT    |
|STUDIO 33 MEGAN DAM, POWELLBURGH          |STUDIO 33 MEGAN DAM       | POWELLBURGH      |
|23 JONES PRAIRIE, PORT SYLVIA             |23 JONES PRAIRIE          | PORT SYLVIA      |
|STUDIO 50Z FLETCHER POINTS, EEAST ERIC    |STUDIO 50Z FLETCHER POINTS| EEAST ERIC       |
|82 RICKY ESTATES, LAKE JEFFREYBURY        |82 RICKY ESTATES          | LAKE JEFFREYBURY |
|FLAT 03H PEARSON SQUARE, NEW MANDY        |FLAT 03H PEARSON SQUARE   | NEW MANDY        |
|FLAT 8 GEORGE VIEW, POTTERTOWN            |FLAT 8 GEORGE VIEW        | POTTERTOWN       |
|3 NICHOLSON CIRCLE, HALEVIEW              |3 NICHOLSON CIRCLE        | HALEVIEW         |
|8 BALDWIN NECK, BARTONHAVEN               |8 BALDWIN NECK            | BARTONHAVEN      |
|STUDIO 90F JASON GROVE, THOMASSTAD        |STUDIO 90F JASON GROVE    | THOMASSTAD       |
|FLAT 24 RICE RAPIDS, BENNETTTON           |FLAT 24 RICE RAPIDS       | BENNETTTON       |
|STUDIO 84 PARKER CENTERS, SOUTH NEIL      |STUDIO 84 PARKER CENTERS  | SOUTH NEIL       |
|STUDIO 62Q ARNOLD SQUARES, WEST OLIVIA    |STUDIO 62Q ARNOLD SQUARES | WEST OLIVIA      |
|STUDIO 19 TOM MOUNT, NORTH JULIA          |STUDIO 19 TOM MOUNT       | NORTH JULIA      |
+------------------------------------------+--------------------------+------------------+
only showing top 20 rows

We can create a 'full name' variable by concatenating the two existing name columns together, using **concat()**:

In [29]:
census = dataframes.concat(census, columns = ["FORENAME", "SURNAME"], sep = " ", out_col = "FULL_NAME")
ccs = dataframes.concat(ccs, columns = ["FORENAME", "SURNAME"], sep = " ", out_col = "FULL_NAME")

ccs.select("FORENAME", "SURNAME", "FULL_NAME")

+-----------+------------+--------------------+
|   FORENAME|     SURNAME|           FULL_NAME|
+-----------+------------+--------------------+
|   MRSCHLOE|    CHANDLER|   MRSCHLOE CHANDLER|
|      REECE|        LONG|          REECE LONG|
|   MRSMOLLY|     SKINNER|    MRSMOLLY SKINNER|
|      LYDIA|        WEBB|          LYDIA WEBB|
|    SUZANNE|VANGALLAGHER|SUZANNE VANGALLAGHER|
|   ROSEMARY|      CLARKE|     ROSEMARY CLARKE|
|      SCOTT|       YATES|         SCOTT YATES|
|       GLEN|       CLARK|          GLEN CLARK|
|   GEORGINA|      FULLER|     GEORGINA FULLER|
|    MRSHUGH|      HARRIS|      MRSHUGH HARRIS|
|MRCATHERINE|  FITZGERALD|MRCATHERINE FITZG...|
|   MROLIVER|     SIMPSON|    MROLIVER SIMPSON|
|     JUSTIN|      THORPE|       JUSTIN THORPE|
|   MRJOANNE|      DAWSON|     MRJOANNE DAWSON|
|  MRSRONALD|        LORD|      MRSRONALD LORD|
|     HILARY|      MISTRY|       HILARY MISTRY|
|       RHYS|     MANNING|        RHYS MANNING|
|   CAROLINE|       JONES|      CAROLINE JONES|
|   MRCHERYL|     HODGSON|    MRCHERYL HODGSON|
|   KAYLEIGH|        HALL|       KAYLEIGH HALL|
+-----------+------------+--------------------+
only showing top 20 rows

For data that has been collected over the phone, our usual matching methods that look for differences in strings might not be as effective. Instead we can capture the way names *sound* with phonetic encoders to compensate for this type of error. 

We have functions for this in the linkage module.

In [30]:
census = linkage.metaphone(df = census, input_col = 'FORENAME', output_col = 'FORENAME_METAPHONE')
census = linkage.soundex(df = census, input_col = 'FORENAME', output_col = 'FORENAME_SOUNDEX')

ccs = linkage.metaphone(df = ccs, input_col = 'FORENAME', output_col = 'FORENAME_METAPHONE')
ccs = linkage.soundex(df = ccs, input_col = 'FORENAME', output_col = 'FORENAME_SOUNDEX')

ccs.select("FORENAME", "FORENAME_METAPHONE", "FORENAME_SOUNDEX")

+-----------+------------------+----------------+
|   FORENAME|FORENAME_METAPHONE|FORENAME_SOUNDEX|
+-----------+------------------+----------------+
|   MRSCHLOE|             MRSXL|            M624|
|      REECE|                RS|            R200|
|   MRSMOLLY|             MRSML|            M625|
|      LYDIA|                LT|            L300|
|    SUZANNE|               SSN|            S250|
|   ROSEMARY|              RSMR|            R256|
|      SCOTT|               SKT|            S300|
|       GLEN|               KLN|            G450|
|   GEORGINA|              JRJN|            G625|
|    MRSHUGH|               MRX|            M622|
|MRCATHERINE|            MRK0RN|            M623|
|   MROLIVER|             MRLFR|            M641|
|     JUSTIN|              JSTN|            J235|
|   MRJOANNE|              MRJN|            M625|
|  MRSRONALD|           MRSRNLT|            M626|
|     HILARY|               HLR|            H460|
|       RHYS|                RS|            R200|
|   CAROLINE|              KRLN|            C645|
|   MRCHERYL|             MRXRL|            M626|
|   KAYLEIGH|                KL|            K420|
+-----------+------------------+----------------+
only showing top 20 rows

Similarly, if there have been spelling mistakes in names, alphabetising string columns may also aid matching. We have a function for this in the linkage module.

In [31]:
census = linkage.alpha_name(census, input_col = 'FORENAME', output_col = 'ALPHABETISE_FORENAME')
ccs = linkage.alpha_name(ccs, input_col = 'FORENAME', output_col = 'ALPHABETISE_FORENAME')

ccs.select("FORENAME", "ALPHABETISE_FORENAME")

+-----------+--------------------+
|   FORENAME|ALPHABETISE_FORENAME|
+-----------+--------------------+
|   MRSCHLOE|            CEHLMORS|
|      REECE|               CEEER|
|   MRSMOLLY|            LLMMORSY|
|      LYDIA|               ADILY|
|    SUZANNE|             AENNSUZ|
|   ROSEMARY|            AEMORRSY|
|      SCOTT|               COSTT|
|       GLEN|                EGLN|
|   GEORGINA|            AEGGINOR|
|    MRSHUGH|             GHHMRSU|
|MRCATHERINE|         ACEEHIMNRRT|
|   MROLIVER|            EILMORRV|
|     JUSTIN|              IJNSTU|
|   MRJOANNE|            AEJMNNOR|
|  MRSRONALD|           ADLMNORRS|
|     HILARY|              AHILRY|
|       RHYS|                HRSY|
|   CAROLINE|            ACEILNOR|
|   MRCHERYL|            CEHLMRRY|
|   KAYLEIGH|            AEGHIKLY|
+-----------+--------------------+
only showing top 20 rows

There are more common matching variables we could still derive, for example, a common practice in data linkage is to derive a postcode district variable instead of using full postcode. 

The second part of a postcode is *always* 3 characters, whilst the first part can range from 2-4. Therefore, to derive postcode district, we remove the last 3 characters from postcode. 

This can be done using the **substring()** function:

In [70]:
census = dataframes.substring(census, out_col = "PC_DISTRICT", target_col = "POSTCODE", start = 4, length = 4, from_end = True)
ccs = dataframes.substring(ccs, out_col = "PC_DISTRICT", target_col = "POSTCODE", start = 4, length = 4, from_end = True)

ccs.select("POSTCODE", "PC_DISTRICT")

+--------+-----------+
|POSTCODE|PC_DISTRICT|
+--------+-----------+
| EH4P9RN|       EH4P|
| TN6M6JB|       TN6M|
|  B060DT|        B06|
|  BS03FA|        BS0|
|  DE14PW|        DE1|
| HP399XG|       HP39|
| LE820DP|       LE82|
|  B2S3SS|        B2S|
|  B04XYX|        B04|
| RM518XW|       RM51|
|    null|       null|
| EX2Y1BU|       EX2Y|
| BH390RW|       BH39|
|  GL51QZ|        GL5|
|  AL31ER|        AL3|
|  B966WS|        B96|
|  L7D2DT|        L7D|
|  E8U7WE|        E8U|
| L7W6PYO|       L7W6|
|   L15YA|         L1|
+--------+-----------+
only showing top 20 rows

If you have a time lag between the collection of two surveys you are trying to link together, you may want to align respondent ages for matching. We can do this using the **age_at()** function.

This function takes a few arguments:
* the dataframe
* the name of the date of birth column
* the data format the date of birth column is in
* the date(s) to calculate age at

In [33]:
# We can find out their age at the most recent Census, for example:
census_date = '21/03/2021'

census = standardisation.age_at(census, 'DOB', 'dd/MM/yyyy', census_date)
ccs = standardisation.age_at(ccs, 'DOB', 'dd/MM/yyyy', census_date)

census.select('DOB','age_at_21/03/2021')

+----+-----------------+
| DOB|age_at_21/03/2021|
+----+-----------------+
|null|             null|
|null|             null|
|null|             null|
|null|             null|
|null|             null|
|null|             null|
|null|             null|
|null|             null|
|null|             null|
|null|             null|
|null|             null|
|null|             null|
|null|             null|
|null|             null|
|null|             null|
|null|             null|
|null|             null|
|null|             null|
|null|             null|
|null|             null|
+----+-----------------+
only showing top 20 rows

In [1]:
# NOT SURE IF THE BELOW IS RIGHT - JUST TAKING IT FROM DAP VERSION BEFORE DELETED

# Deduplication

This is quite easily done, defining our duplicate matchkey(s) and using the **deduplicate** function:

In [ ]:
# define our matchkey
deduplicate_mkey = ['First_Name', 'Last_Name','Resident_Age','Sex','Postcode','Address']
ccs.count()

In [ ]:
census = linkage.deduplicate(df = census, record_id - 'Resident_ID', mks = deduplicate_mkey)
ccs = linkage.deduplicate(df = ccs, record_id - 'Resident_ID', mks = deduplicate_mkey)
census.count()

# Deterministic Matching (rule-based)

Now that we've removed duplicates, we can start to investigate some matchkeys:

In [75]:
# first, let's suffix each dataset's columns to distinguish the two dataframes 
census = dataframes.suffix_columns(census, suffix = '_census')
ccs = dataframes.suffix_columns(ccs, suffix = '_ccs')

census.persist().count()
ccs.persist().count()

In [76]:
MK1 = [census.Sex_census == ccs.Sex_ccs,
       census.Resident_Age_census == ccs.Resident_Age_ccs,
       census.Postcode_census == ccs.Postcode_ccs]

# letting middle name be a mismatch 
MK2 = [census.Sex_census == ccs.Sex_ccs,
       census.Resident_Age_census == ccs.Resident_Age_ccs,
       census.Postcode_census == ccs.Postcode_ccs]

# taking the phonetic encoding of forename - using the metaphone algorithm
MK3 = [census.Sex_census == ccs.Sex_ccs,
       census.Resident_Age_census == ccs.Resident_Age_ccs,
       census.Postcode_census == ccs.Postcode_ccs]

# Now allowing for misspellings rather than mishearings of names, using standardised Levenshtein edit distance
MK4 = [census.Sex_census == ccs.Sex_ccs,
       census.Resident_Age_census == ccs.Resident_Age_ccs,
       census.Postcode_census == ccs.Postcode_ccs]

matchkeys = [MK1,MK2,MK3,MK4]

#census.Full_Name_census == ccs.Full_Name_ccs,
#census.First_Name_census == ccs.First_Name_ccs,
 #      census.Last_Name_census == ccs.Last_Name_ccs

AttributeError: 'DataFrame' object has no attribute 'Sex_census'

In [ ]:
links = linkage.deterministic_linkage(df_l = census, df_r = ccs, id_l = 'Resident_ID_census', id_r = 'Resident_ID_ccs', 
                                      matchkeys = matchkeys, our_dir = '/user/edwara5/census_ccs_links')

In [ ]:
links.show()

In [ ]:
mk_df = linkage.matchkey_dataframe(matchkeys)